
<footer class="footerBg">
    <div class="container customPaddingFooter">
        <div class="footerFlex">
            <div class="footer__copyright">
                Copyright © 2020 Employee Confidential LLC. All Rights Reserved
            </div><!-- /.footer__copyright -->
            <a href="https://employeeconfidential.com/PrivacyStatement.html" class="footer__navLinks-a">
                Privacy Policy
            </a>
            <a href="https://employeeconfidential.com/TermsOfService.html" class="footer__navLinks-a">
                Terms of Use
            </a>
        </div>
    </div><!-- /.container -->
</footer><!-- /.footer -->