@{
    bool showDDLanguages = Model!=null && Model.GetType().Name == "Boolean" && Model == true;

}
<header class="header">
    <div class="top-headerBg">
        <div class="container" style="overflow: inherit">
            <div class="top-header" style="overflow: inherit">
                <a href="http://employeeconfidential.com" class="top-header__backLink">
                    <img src="~/Content/images/svg-icons/left.svg" alt="" />
                    <span class="top-header__backLink-text">
                        EmployeeConfidential.com
                    </span>
                </a>
                <div class="top-header__loginBar">


                    <nav class="top-header__loginBar-nav @(showDDLanguages ? "language":"" )">

                        @if (showDDLanguages)
                        {
                            <li class="top-header__loginBar-li">
                                <a id="languageMenuItem" href="#" class="top-header__loginBar-a">
                                    English
                                </a>
                                <table id="manuLanguages">
                                    <tr>
                                        <td value="en-US">English</td>
                                    </tr>
                                    <tr>
                                        <td value="es-ES">Español</td>
                                    </tr>
                                </table>
                            </li>
                        }

                        <li class="top-header__loginBar-li">
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Login" class="top-header__loginBar-a">
                                Client Login
                            </a>
                        </li><!-- /.top-header__loginBar-li -->

                        <li class="top-header__loginBar-li">
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="top-header__loginBar-a">
                                Check Report Status
                            </a>
                        </li><!-- /.top-header__loginBar-li -->
                    </nav><!-- /.top-header__loginBar-nav -->
                </div><!-- /.top-header__loginBar -->
            </div><!-- /.top-header -->
        </div>
    </div>
</header><!-- /.header -->