
@{
    ViewBag.Title = "CallApi";
    Layout = "~/Views/Shared/_LayoutECCOM.cshtml";
}

<h2>CallApi</h2>

<a href="@Url.Action("ClientCredentials", "CallApi")" class="btn btn-success">
    CallApi
</a>