
<!DOCTYPE html>
<html lang="en">
<head>
    <script>document.documentElement.setAttribute('data-useragent', navigator.userAgent);</script>
    <title>404 - EmployeeConfidential | Page not found</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=1" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
    <link href="reset.css" rel="stylesheet">
    <link href="404.css" rel="stylesheet">
    <link rel="icon" href="~/favicon.ico" />
    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 467767562]);
        (function () {
            function ldinsp() { if (typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
            setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
        })();
    </script>
    <!-- End Inspectlet Embed Code -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54295621-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body>
    <header>
        <div class="central">
            <div id="topBar">
                <div id="eclogo">
                    <a href="//report.employeeconfidential.com/Index/start" title="EmployeeConfidential">
                        <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 183 32">
                            <title>EmployeeConfidential</title>
                            <path class="logo-color" d="M75.8,1H71v13h2.9V8.9h2.1c2.7,0,4.8-0.9,4.8-4C80.7,1.9,78.5,1,75.8,1z M75.8,6.5h-1.9V3.4h1.5c1.1,0,2.5,0.2,2.5,1.5
            C77.8,6.2,76.8,6.5,75.8,6.5z M58.1,16.5c-4,0-6.9,2.6-6.9,6.7c0,1.6,0.5,3,1.3,4.1h-4.9c-2,0-3.6-1.7-3.6-4.1
            c0-2.4,1.6-4.1,3.7-4.1h2.5v-2.6h-2.2c-4,0-6.9,2.6-6.9,6.7c0,4.1,2.9,6.8,6.9,6.8h10.1c4,0,6.9-2.6,6.9-6.8
            C65,19.2,62,16.5,58.1,16.5z M58.1,27.4c-2.4,0-4-1.7-4-4.1c0-2.4,1.6-4.1,4-4.1c2.4,0,4,1.7,4,4.1C62,25.7,60.5,27.4,58.1,27.4z
             M51.1,11.4h-6.3V8.7h4.6V6.1h-4.6V3.6h5.9V1H42v13h9.1V11.4z M140.1,11.4h-6.3V8.7h4.6V6.1h-4.6V3.6h5.9V1H131v13h9.1V11.4z
             M129.1,11.4h-6.3V8.7h4.6V6.1h-4.6V3.6h5.9V1H120v13h9.1V11.4z M55.9,4L55.9,4l3.3,10h2.2l3.4-10h0v10h2.9V1h-4.3l-3,8.5h0
            l-3-8.5H53v13h2.9V4z M0,16c0,8.8,7.2,16,16,16h16V0H16C7.2,0,0,7.2,0,16z M30,21h-9.1c1.3-1.3,2.1-3,2.1-5c0-3.9-3.1-7-7-7
            s-7,3.1-7,7c0,3.9,3.1,7,7,7h14v7H16C8.3,30,2,23.7,2,16S8.3,2,16,2h14V21z M16,21c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5
            S18.8,21,16,21z M85.9,1h-2.9v13h8.1v-2.6h-5.3V1z M138,19.5h3.7V30h2.9V19.5h3.7V17H138V19.5z M150,30h2.9V17H150V30z
             M115.8,24.7h4.6V22h-4.6v-2.4h6V17H113V30h9.2v-2.7h-6.3V24.7z M133.5,26L133.5,26l-5.6-9.1H124V30h2.9v-9.3h0l5.7,9.3h3.8V17
            h-2.9V26z M159.5,17L153.8,30h3.2l1.1-2.8h5.1l1.1,2.8h3.2L161.8,17H159.5z M159,24.8l1.6-4.1l1.6,4.1H159z M171.8,27.4V17h-2.9
            V30h8.2v-2.7H171.8z M82,30h2.9v-5.1h4.4v-2.7h-4.4v-2.7h5.9V17H82V30z M93.1,30h2.9V17h-2.9V30z M99.1,14.3c4,0,7-2.7,7-6.8
            c0-4.2-2.9-6.8-7-6.8c-4,0-7,2.7-7,6.8C92.1,11.7,95,14.3,99.1,14.3z M99.1,3.3c2.4,0,4,1.8,4,4.2c0,2.4-1.6,4.2-4,4.2
            c-2.4,0-4-1.8-4-4.2C95.1,5.1,96.7,3.3,99.1,3.3z M114.1,14V8.5l4.9-7.5h-3.4l-2.9,4.9L109.9,1h-3.6l4.9,7.5V14H114.1z M103.3,17
            H99V30h4.7c3.9,0,7.3-2.3,7.3-6.5C111,18.8,107.5,17,103.3,17z M103.3,27.4h-1.5v-7.8h1.7c2.4,0,4.5,1.2,4.5,3.8
            C108,26.4,106,27.4,103.3,27.4z M76.4,26L76.4,26L70.9,17H67V30h2.9v-9.3h0l5.7,9.3h3.8V17h-2.9V26z" />
                        </svg>
                    </a>
                </div>
                <a href="//report.employeeconfidential.com/Service/Company" class="login-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                    <rect class="logo-color" x="6" y="0" width="18" height="2" />
                    <rect class="logo-color" x="22" y="0" width="2" height="24" />
                    <rect class="logo-color" x="6" y="22" width="18" height="2" />
                    <rect class="logo-color" x="0" y="11" width="16" height="2" />
                    <g>
                    <polygon class="logo-color" points="11.7,18.7 10.3,17.3 15.6,12 10.3,6.7 11.7,5.3 18.4,12  " />
                    </g>
                    <rect class="logo-color" x="4" width="2" height="6" />
                    <rect class="logo-color" x="4" y="18" width="2" height="6" />
                    </svg>

                </a>
            </div> <!-- end of topBar  -->

            <div id="mainNav">
                <ul id="second">
                    <li><a href="//report.employeeconfidential.com/Service/Company" class="btn login">CLIENT LOGIN</a></li>
                </ul>
            </div>

        </div>
    </header>

    <section id="main">
        <div class="content">
            <h1>404</h1>
            <h2>The page you requested for does not exist.</h2>
            <p>We're sorry, but the page you tried to access was not found. If you clicked on a link, there may be a problem with that link. If you typed the address (URL), please make sure the spelling is correct. </p>
            <a href='//report.employeeconfidential.com/Index/start' class='btn white'>HOMEPAGE</a>
        </div>
    </section>

</body>
</html>