@{
}

<div class="container navbar navbarColor col-md-12">
    <div class="row">
        <div class="col-md-10">
            <a class="navbar-brand" href="#">Report</a>
            <a class="navbar-brand" href="#">Investigation notes</a>
            <a class="navbar-brand" href="#">Tasks</a>
            <a class="navbar-brand" href="#">Messages</a>
            <a class="navbar-brand" href="#">Team</a>
        </div>
        <div class="col-md-1 ">
            <form class="form-inline my-2 my-lg-0">
                <a class="navbar-brand " href="#">Attachments</a>
            </form>
        </div>

        <div class="col-md-1 zipperColor">
            <img src="~/Content/Icons/activityIcon.png" style="padding: 15px;">
        </div>
    </div>
</div>
