@using EC.Localization;
@{
    ViewBag.Title = LocalizationGetter.GetString("MySettings");
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    int activePageId = 8;
    var role_id = 1;
}
@Html.Partial("~/Views/Settings/partial/casesHeader.cshtml", new ViewDataDictionary { { "active", activePageId }, { "role_id", role_id } })

<style>
    .oldstyle {
        display: table !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #hoverCompanyPhoto {
        width: 203px;
        height: 62px;
        top: calc(50% - 31px);
    }

    div > #logoCompany {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
    }
    textarea:focus {
        outline: none;
    }
</style>
<link href="~/Content/libs/farbtastic/farbtastic.css" rel="stylesheet" />
<script src="~/Content/libs/farbtastic/farbtastic.min.js"></script>
<div class="blockSettings">
    <section class="content-container">
        <div class="row container__inner">
            <div class="col-12">
                <p class="sectionHeader">Change Global Logo</p>
                <div class="contentSettings secondHeader oldstyle">
                    <div class="headerCompanyProfile">
                        <div class="headerBlock">
                            <div class="blockImg">
                                <form>
                                    <div style="width: 203px; height: 32px;">
                                        <img id="logoCompany" src="~/Content/Icons/logo.png" />
                                    </div>

                                    <input type="file" name="MAX_FILE_SIZE" value="9999999" data-id="globalSettings" accept="image/*" id="_file" style="width: 1px;height: 1px;opacity: 0;" check-file-size="" />
                                </form>
                                <div id="hoverCompanyPhoto">
                                    <label class="newImageBtn" make-click-hidden-input="">Change Global Logo</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-container">
        <div class="row container__inner">
            <div class="col-12">
                <p class="sectionHeader">Color Management</p>
                <div class="row container__inner setCenterItems">
                    <div class="col-3">
                        <p>Header color Management</p>
                        <form><input type="text" id="HeaderColor" name="color" value="@ViewBag.header_color_code" /></form>
                        <div id="HeaderColorpicker"></div>
                        <div id="HeaderColorSave" class="btn-link btn-link_small pull-right ng-binding">
                            Save
                        </div>
                    </div>
                    <div class="col-3">
                        <p>Header Links color Management</p>
                        <form>
                            <input type="text" id="HeaderLinks" name="color" value="@ViewBag.header_links_color_code" />
                        </form>
                        <div id="HeaderLinksColorpicker"></div>
                        <div id="HeaderLinksSave" class="btn-link btn-link_small pull-right ng-binding">
                            Save
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="content-container">
        <div class="row container__inner">
            <div class="col-12">
                <p id="sectionHeader" class="sectionHeader">Employee Confidential</p>
                <div class="row container__innerContent">
                    <div class="row m-0" style="display: none" id="showTextArea">
                        <textarea class="facts-established--text m-b-20 ng-pristine ng-untouched ng-valid ng-not-empty" style="width: 30%"> </textarea>
                    </div><!-- /.row -->
                    <div id="save" class="btn-link btn-link_small" style="display: none">Save</div>
                    <div id="edit" class="btn-link btn-link_small ng-binding ">
                        Edit
                    </div>
                </div>
        </div>
    </section>

</div>
<script>
    $(document).ready(function () {
        $('#HeaderColorpicker').farbtastic('#HeaderColor');
        $('#HeaderLinksColorpicker').farbtastic('#HeaderLinks');

        $("#HeaderColorSave, #HeaderLinksSave").on('click', function (event) {
            var headerColor = $("#HeaderColor").val();
            var headerLinks = $("#HeaderLinks").val();
            if (headerColor === undefined || headerLinks === undefined) {
                alert("Colors are empty");
            }
            $.ajax({
                method: 'POST',
                url: '/api/SettingsGlobalColor',
                data: {
                    header_color_code: headerColor,
                    header_links_color_code: headerLinks
                }
            }).done(function (data) {
                alert("Saved success");
            }).fail(function (error) {
                console.log(error);
            });
        });

        $("#edit").on('click', function (event) {
            $("#showTextArea textarea").text($("#sectionHeader").text());
            $("#showTextArea").show();
            $("#edit").hide();
            $("#save").show();
        });
        $("#save").on('click', function () {
            $("#edit").show();
            $("#save").hide();
        });
    });
</script>

