@using EC.Localization;

@{
    ViewBag.Title = "Languages";
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
}

<style>
    .oldstyle {
        display: table !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .moldstyle {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
</style>

<div class="blockSettings">
    @{
        int active = 6;
    }
    @Html.Partial("~/Views/Settings/partial/casesHeared.cshtml", active)


    <div class="contentCompanyProfile contentCompanyProfile">
        <div class="contentSettings oldstyle">
            <div class="blockLanguages">
                <p>This version is only available in English</p>
                <div class="tableLanguage">
                    <div style="display: flex;">
                        <p>English</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

