@using EC.Models;
@using EC.App_LocalResources;
@{
    ViewBag.Title = GlobalRes.Password;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    UserModel um = (UserModel)ViewBag.um;
    var user_id = um.ID;

    bool is_cc = ViewBag.is_cc;
    String class_ext = ViewBag.cc_extension;

    //bool is_cc = true;
    //String class_ext = "";
    //if (is_cc)
    //{
    //    class_ext = "_cc";
    //}
                //19
}

<div class="blockSettings">

    <!--casesHeared-->
    @{
        int active = 2;
    }
    @Html.Partial("~/Views/Settings/partial/casesHeared.cshtml", active)

    <!--casesHeared-->

@using (Html.BeginForm("ChangePass","Settings", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="contentSettings">
        <div class="personalBlock">

            <div class="blockPersonalSettings greyBorder">
                <p class="title">Old Password</p>
                <input class="text-box single-line pass" id="oldPass" name="oldPass" type="password" value="">
            </div>
            <div class="blockPersonalSettings greyBorder">
                <p class="title">New Password</p>
                <input class="text-box single-line pass" id="newPass" name="newPass" type="password" value="">
            </div>
            <div class="blockPersonalSettings greyBorder">
                <p class="title">Confirm Password</p>
                <input class="text-box single-line pass" id="confPass" name="confPass" type="password" value="">
            </div>

            <div class="blockUpdateProfile">
                <div class="updateProfileBtn">
                    <input class="greenButton greenButton@{@class_ext}" type="submit" value="update">
                    <span style="display: none;">update profile</span>
                </div>
            </div>
        </div><!--end personalBlock-->
    </div><!--end contentSettings-->
}
</div><!--end blockSettings-->

<script>

    $(document).ready(function () {
        $('.blockPersonalSettings input')
            .focus(function () {
                $(this).parent('.blockPersonalSettings').addClass('greenBorder').removeClass('greyBorder');
            })
            .focusout(function () {
                $(this).parent('.blockPersonalSettings').addClass('greyBorder').removeClass('greenBorder');
            });
        @if(ViewBag.status != null )
        {
            <text>
                function result() {
                    alert("@ViewBag.status");
                }
            result();
            </text>
        }
    });
    
</script>

