@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;

@{
    ViewBag.Title = GlobalRes.NewUserRegistration;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
}

<style>
    .error {
        border: 2px solid red !important;
    }
</style>

<div class="blockSettings" ng-controller="SettingsUserEditController">

    <div class="contentSettings">
        <div class="blockPersonalPhotoSetting">
            <div class="blockPhotoSetting">
                <img id="logoUser" class="PersonalPhotoBlock" src="~/Content/Icons/settingsPersonalNOPhoto.png">
                <input type="file" accept="image/*" id="_file" name="_file" multiple="multiple" style="width: 1px;height: 1px;opacity: 0;">
            </div>
            <div class="blockHoverPhoto">
                <label class="close"></label>
                <label class="newImageBtn">New image</label>
            </div>
        </div>


        <div class="personalBlock">
            <div class="blockPersonalSettings greyBorder" ng-class="{error: val_first_nm }">
                <p class="title">First name</p>
                <input class="text-box single-line" id="first_nm" name="first_nm" type="text" ng-model="first_nm">
            </div>
            <div class="blockPersonalSettings greyBorder" ng-class="{error: val_last_nm }">
                <p class="title">Last name</p>
                <input class="text-box single-line" id="last_nm" name="last_nm" type="text" ng-model="last_nm">
            </div>
            <div class="blockPersonalSettings greyBorder" ng-class="{error: val_title_ds }">
                <p class="title">Title</p>
                <input class="text-box single-line" id="title_ds" name="title_ds" type="text" ng-model="title_ds">
            </div>
            <div class="blockPersonalSettings greyBorder"  ng-class="{error: val_departmentId }">
                <p class="title">Department</p>
                <select ng-model="departmentId">
                    <option ng-repeat="item in departments" ng-value="{{item.id}}" ng-selected="departmentId == item.id" >{{item.department_en}}</option>                    
                    <option value="0">Other</option>
                </select>
            </div>
            <div class="blockPersonalSettings greyBorder">
                <div id="personeAgain">
                    <div class="title">Role</div>
                    <div class="help" title="">
                        ?
                        <div class="hoverElement">
                            <div class="triangleHover position"></div>
                            <div class="spec position">
                                <ul>
                                    <li>A <strong>Case Administrator</strong> is assigned to a specific case.</li>
                                    <li>A <strong>Case Manager</strong> is responsible for and manages the Employee Confidential system and assigns all the cases (typically an HR manager).</li>
                                    <li>A <strong>Case Executive</strong> handles only escalation issues and signs off on case resolutions and closure applications.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rowBlock inputMediator">
                    <div class="freeBlock inputRadio mediator" ng-class="{active: role == 6 }" ng-click="role = 6">
                        <label class="inputBlock" for="freeIncident">
                            <input id="oneIncident" type="radio" name="role_id" value="6">
                            <span class="radioTitle">Case admin</span>
                        </label>
                    </div>
                    <div class="freeBlock inputRadio adminMediator adminMediator" ng-class="{active: role == 5 }" ng-click="role = 5">
                        <label class="inputBlock" for="freeIncident">
                            <input id="twoIncident" type="radio" name="role_id" value="5">
                            <span class="radioTitle">Platform Manager</span>
                        </label>
                    </div>
                    <div class="freeBlock inputRadio escalationMediator" ng-class="{active: role == 4 }" ng-click="role = 4">
                        <label class="inputBlock" for="freeIncident">
                            <input id="threeIncident" type="radio" name="role_id" value="4">
                            <span class="radioTitle">Case Executive</span>
                        </label>
                    </div>
                </div><!--rowBlock-->
            </div>
            <div class="blockPersonalSettings greyBorder" ng-class="{error: val_email }">
                <p class="title">E-mail</p>
                <input email="email" id="email" name="email" type="text" ng-model="email">
            </div>

            <div class="blockUpdateProfile">
                <div class="updateProfileBtn">
                    <input class="greenButton" type="submit" value="update" ng-click="post()">
                    <span style="display: none;">save</span>
                </div>
            </div>

        </div>
    </div>
</div>
