<div class="general-container clientCheckList">

    <header class="header">
        <div class="top-headerBg">
            <div class="container">
                <div class="top-header">
                    <a href="#" class="top-header__campusLink">
                        <span class="top-header__campusLink-text">
                            Campus Confidential
                        </span>
                        <img src="~/Content/images/svg-icons/upper-right.svg" alt="" />
                    </a>
                    <div class="top-header__loginBar">
                        <nav class="top-header__loginBar-nav">
                            <li class="top-header__loginBar-li">
                                <a href="login.html" class="top-header__loginBar-a">
                                    Client Login
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="report.html" class="top-header__loginBar-a">
                                    File a Report
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="checkStatus.html" class="top-header__loginBar-a">
                                    Check Report Status
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                        </nav><!-- /.top-header__loginBar-nav -->
                    </div><!-- /.top-header__loginBar -->
                </div><!-- /.top-header -->
            </div>
        </div>
        <div class="main-headerBg ">
            <div class="container">
                <div class="main-header">
                    <a href="/" class="main-headerLogo">
                        <div class="main-headerLogo__img">
                            <img src="~/Content/images/0-main-logo.png" alt="" />
                        </div><!-- /.main-headerLogo__img -->
                        <div class="main-headerLogo__text">
                            Reduce risk. Create trust.
                        </div><!-- /.main-headerLogo__text -->
                    </a><!-- /.main-headerLogo -->
                    <div class="main-headerMenu-mobile">
                        <a href="/" class="main-headerLogo-mobile">
                            <div class="main-headerLogo__img-mobile">
                                <img src="~/Content/images/0-main-logo.png" alt="" />
                            </div><!-- /.main-headerLogo__img -->
                            <div class="main-headerLogo__text-mobile">
                                Reduce risk. Create trust.
                            </div><!-- /.main-headerLogo__text -->
                        </a><!-- /.main-headerLogo -->
                        <a href="#" class="main-headerLogo-mobile-burgerBtn">
                            <img src="~/Content/images/svg-icons/burger.svg" alt="" />
                        </a>
                    </div><!-- /.main-headerMenu-mobile -->
                    <div class="main-headerMenu">
                        <nav class="main-headerMenu__nav">
                            <li class="main-headerMenu__li">
                                <a href="/#benefitsSection" class="main-headerMenu__a">
                                    Benefits
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#gridSection" class="main-headerMenu__a">
                                    Incident Reporting
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#menegementSection" class="main-headerMenu__a">
                                    Case Management
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="about.html" data-scroll-to="" class="main-headerMenu__a">
                                    About
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#contactSection" class="main-headerMenu__a">
                                    Contact
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                        </nav><!-- /.main-headerMenu__nav -->
                    </div><!-- /.main-headerMenu -->
                </div><!-- /.main-header -->
            </div><!-- /.container -->
        </div><!-- /.main-headerBg -->
    </header><!-- /.header -->
    <main class="main">
        <section class="thankRowNew">
            <div class="container clearfix">
                <div class="thankRowthankRowNew__title">
                    Thank you for your purchase of an Employee Confidential license.
                </div>
                <div class="thankRowthankRowNew__subText">
                    We are pleased that you’ve chosen us to help you build a compliant, safe and ethical workplace.
                </div>
            </div>
        </section>
        <section class="clientCheckList-contentHeader">
            <div class="container">
                <div class="clientCheckList-contentHeader__text">
                    Here's your check-list of next steps:
                </div>
            </div>
        </section>
        <section class="clientCheckList-step">
            <div class="container">
                <div class="row clearfix">
                    <div class="col50l">
                        <div class="clientCheckList-step__titleCount">
                            Step 1:
                        </div>
                    </div>
                    <div class="col50r">
                        <div class="clientCheckList-step__titleText">
                            View the new Company Registration Video.
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col50l">

                    </div>
                    <div class="col50r">
                        <div class="clientCheckList-step__video">
                            <iframe width="100%" height="230" src="https://www.youtube.com/embed/4NS2M3muX_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientCheckList-step">
            <div class="container">
                <div class="row clearfix">
                    <div class="col50l">
                        <div class="clientCheckList-step__titleCount">
                            Step 2:
                        </div>
                    </div>
                    <div class="col50r">
                        <div class="clientCheckList-step__titleText">
                            Register your Company’s License. <a class="turquoiseLink"  target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["MainSite"]new/company/registration/@ViewBag.EmailedCode">Click here.</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientCheckList-step">
            <div class="container">
                <div class="row clearfix">
                    <div class="col50l">
                        <div class="clientCheckList-step__titleCount">
                            Step 3:
                        </div>
                    </div>
                    <div class="col50r">
                        <div class="clientCheckList-step__titleText">
                            View the Settings Video.
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col50l"></div>
                    <div class="col50r">
                        <div class="clientCheckList-step__video">
                            <iframe width="100%" height="230" src="https://www.youtube.com/embed/ee58tUuFnIM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientCheckList-step">
            <div class="container">
                <div class="row clearfix">
                    <div class="col50l">
                        <div class="clientCheckList-step__titleCount">
                            Step 4:
                        </div>
                    </div>
                    <div class="col50r">
                        <div class="clientCheckList-step__titleText">
                            View the File a Report & Reporters’ Dashboard Videos.
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col50l"></div>
                    <div class="col50r">
                        <div class="clientCheckList-step__video">
                            <iframe width="100%" height="230" src="https://www.youtube.com/embed/x-LkC9yEBn8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col50l"></div>
                    <div class="col50r">
                        <div class="clientCheckList-step__video">
                            <iframe width="100%" height="230" src="https://www.youtube.com/embed/jlTxWczQdpQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientCheckList-step clientCheckList-step5">
            <div class="container">
                <div class="row clearfix">
                    <div class="col50l">
                        <div class="clientCheckList-step__titleCount">
                            Step 5:
                        </div>
                    </div>
                    <div class="col50r">
                        <div class="clientCheckList-step__titleText">
                            View the Case Management Video.
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col50l"></div>
                    <div class="col50r">
                        <div class="clientCheckList-step__video">
                            <iframe width="100%" height="230" src="https://www.youtube.com/embed/xWbATVyW6QA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientCheckList-step clientCheckList-step6">
            <div class="container">
                <div class="row clearfix">
                    <div class="col50l">
                        <div class="clientCheckList-step__titleCount">
                            Step 6:
                        </div>
                    </div>
                    <div class="col50r">
                        <div class="clientCheckList-step__titleText">
                            Schedule the Onboarding Session. <a class="turquoiseLink"  target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["MainSite"]trainer/calendar">Click here for the calendar.</a>
                        </div>
                    </div>



                </div>
              <div class="row clearfix">
                <div class="col50l">
                  <div class="clientCheckList-step__titleCount">
                    NB:
                  </div>
                </div>
                <div class="col50r">
                  <div class="clientCheckList-step__titleText">
                     You have to register your company (STEP 2) and be logged in, to schedule your onboarding session.
                  </div>
                  </div>
             </div>
        </section>


    </main><!-- /.main -->
    @{Html.RenderPartial("footer");}

</div><!-- /.general-container -->