<div class="general-container pricingPage">
    <style>
        .inputBlock input[type="radio"] {
            display: none;
        }
    </style>
    <header class="header">
        <div class="top-headerBg">
            <div class="container">
                <div class="top-header">
                    <a href="http://campusconfidential.com" class="top-header__campusLink">
                        <span class="top-header__campusLink-text">
                            Campus Confidential
                        </span>
                        <img src="~/Content/images/svg-icons/upper-right.svg" alt="" />
                    </a>
                    <div class="top-header__loginBar">
                        <nav class="top-header__loginBar-nav">
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Login" class="top-header__loginBar-a">
                                    Client Login
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Report" class="top-header__loginBar-a">
                                    File a Report
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="top-header__loginBar-a">
                                    Check Report Status
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                        </nav><!-- /.top-header__loginBar-nav -->
                    </div><!-- /.top-header__loginBar -->
                </div><!-- /.top-header -->
            </div>
        </div>
        <div class="main-headerBg ">
            <div class="container">
                <div class="main-header">
                    <a href="/" class="main-headerLogo">
                        <div class="main-headerLogo__img">
                            <img src="~/Content/images/0-main-logo.png" alt="" />
                        </div><!-- /.main-headerLogo__img -->
                        <div class="main-headerLogo__text">
                            Reduce risk. Create trust.
                        </div><!-- /.main-headerLogo__text -->
                    </a><!-- /.main-headerLogo -->
                    <div class="main-headerMenu-mobile">
                        <a href="/" class="main-headerLogo-mobile">
                            <div class="main-headerLogo__img-mobile">
                                <img src="~/Content/images/0-main-logo.png" alt="" />
                            </div><!-- /.main-headerLogo__img -->
                            <div class="main-headerLogo__text-mobile">
                                Reduce risk. Create trust.
                            </div><!-- /.main-headerLogo__text -->
                        </a><!-- /.main-headerLogo -->
                        <a href="#" class="main-headerLogo-mobile-burgerBtn">
                            <img src="~/Content/images/svg-icons/burger.svg" alt="" />
                        </a>
                    </div><!-- /.main-headerMenu-mobile -->
                    <div class="main-headerMenu">
                        <nav class="main-headerMenu__nav">
                            <li class="main-headerMenu__li">
                                <a href="/#benefitsSection" class="main-headerMenu__a">
                                    Benefits
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#gridSection" class="main-headerMenu__a">
                                    Incident Reporting
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#menegementSection" class="main-headerMenu__a">
                                    Case Management
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="about.html" data-scroll-to="" class="main-headerMenu__a">
                                    About
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#contactSection" class="main-headerMenu__a">
                                    Contact
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                        </nav><!-- /.main-headerMenu__nav -->
                    </div><!-- /.main-headerMenu -->
                </div><!-- /.main-header -->
            </div><!-- /.container -->
        </div><!-- /.main-headerBg -->
    </header><!-- /.header -->


    <main class="main">
        <section class="pricingTitleSection">
            <div class="pricingTitleSection__title">
                Onboarding & Training
            </div>
            <div class="pricingTitleSection__subTitle">
                Book a screen-sharing training sessions for you and your team
            </div>
        </section>
        <section class="pricingMainSection">
            <div class="container">
                <form style="padding-bottom: 165px;">
                    <div class="pricingMainContainer">
                        <div class="pricingFormContainer">
                            <div class="pricingForm-block">
                                <div class="pricingForm-block__title">
                                    Referral Partner Invitation Code
                                </div>
                                <div class="pricingForm-block__input">
                                    <label class="form-mainContent__label">
                                        Invitation Code
                                        <input type="text" class="form-mainContent__labelInput calc" id="InvitationCode" name="InvitationCode" value="">
                                    </label>
                                </div>
                            </div>
                            <div class="pricingForm-block">
                                <div class="pricingForm-block__title">
                                    Each session is 1 hour and covers all
                                    of the basics of EmployeeConfidential
                                    platform.
                                </div>
                                <div class="pricingForm-block__input">
                                    @*<div class="form-mainContent__dropDownList dropDownList ">
                                            <label class="form-mainContent__label">
                                                Number of employees
                                                <input class="form-mainContent__labelInput calc" id="NumberOfEmployees" type="number" name="NumberOfEmployees" value="">
                                            </label>
                                        </div>*@
                                </div>
                            </div>
                            <div class="pricingForm-block">
                                <div class="pricingForm-block__title">
                                    Number of sessions required*:
                                </div>




                                <div class="pricingForm-block__input">
                                    <div class="form-mainContent__dropDownList" style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;align-content: center;">
                                        <div class="freeBlock inputRadio option active" data-val="1">
                                            <label class="inputBlock" for="One">
                                                <input id="One" type="radio" name="stay" value="Completely Anonymous">
                                                <span class="radioButton"></span>
                                                <span class="radioTitle">One</span>
                                            </label>
                                        </div>

                                        <div class="freeBlock inputRadio option active" data-val="1">
                                            <label class="inputBlock" for="Two">
                                                <input id="Two" type="radio" name="stay" value="Completely Anonymous">
                                                <span class="radioButton"></span>
                                                <span class="radioTitle">Two</span>
                                            </label>
                                        </div>

                                        <div class="freeBlock inputRadio option active" data-val="1">
                                            <label class="inputBlock" for="Three">
                                                <input id="Three" type="radio" name="stay" value="Completely Anonymous">
                                                <span class="radioButton"></span>
                                                <span class="radioTitle">Three</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pricingForm-block">
                                <div class="pricingForm-block__title pricingInfoBlock__textInfo">
                                    * It is recommended to have not more than
                                    3-4 people participating in a single
                                    sessions, so if you're planning to have
                                    more users of EmployeeConfidential it will
                                    be a good idea to book several sessions
                                </div>
                            </div>
                        </div>
                        <div class="pricingBillContainer">
                            <div class="pricingBill-head price-section">
                                <div class="pricingBill-line clearfix" style="margin-top: 20px;">
                                    <div class="pricingBill-line__text">
                                        Training session X2
                                    </div>
                                    <div class="pricingBill-line__tax" id="priceNE">
                                        $1,000
                                    </div>
                                </div>
                                
                            </div>
                            <div class="pricingBill-main price-section">
                                <div class="pricingBill-line pricingBill-lineTotal clearfix">
                                    <div class="pricingBill-line__text">
                                        Total Price
                                    </div>
                                    <div class="pricingBill-line__tax" id="priceT">
                                        $1,000
                                    </div>
                                </div>

                                <div class="pricingBill-line pricingBill-lineSmall clearfix">
                                    <div class="pricingBill-line__text">
                                        &nbsp;
                                    </div>
                                    <div class="pricingBill-line__tax" style="font-size:16px;" id="sessionN">

                                    </div>
                                </div>
                            </div>
                            <div class="pricingBill-footer">
                                <button id="more50kb" class="submitBigBtn btn" type="submit">Buy now</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>



    @{Html.RenderPartial("footer");}

</div><!-- /.general-container -->