@using EC.App_LocalResources
@using EC.Controllers.Utils
@using EC.Models
@using EC.Localization;
@{
    ViewBag.Title = LocalizationGetter.GetString("increportingandcasemanag");
    Layout = "~/Views/Shared/_MainHTML.cshtml";
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
}
<div id="topBody">
    <div class="firstTitle">
        @LocalizationGetter.GetString("FileReport")
    </div>
    <div class="secondTitle">
        @LocalizationGetter.GetString("FindOrganization", is_cc)
    </div>
    <div class="thirdTitle">
        <input id="specialInput" placeholder="@LocalizationGetter.GetString("CompanyNameOrCode", is_cc)">
        <div id="buttonStart"><span class="buttonStartText">@LocalizationGetter.GetString("Start").ToUpper()</span></div>
    </div>
</div><!--end topBody-->