@using EC.App_LocalResources
@using EC.Controllers.Utils
@using EC.Models
@using EC.App_LocalResources;
@{
    ViewBag.Title = GlobalRes.increportingandcasemanag;
    Layout = "~/Views/Shared/_MainHTML.cshtml";
}
<div id="topBody">
    <div class="firstTitle">
        @GlobalRes.FileReport
    </div>
    <div class="secondTitle">
        @GlobalRes.FindOrganization
    </div>
    <div class="thirdTitle">
        <input id="specialInput" placeholder="Company name or code">
        <div id="buttonStart"><span class="buttonStartText">@GlobalRes.Start.ToUpper()</span></div>
    </div>
</div><!--end topBody-->