@{
  string title = "Employee Confidential";

  ViewBag.Title = title;
  ViewBag.Logged = true;
 

  string username = ViewBag.username;
  string token = ViewBag.token;

  string iFrameName = "embeddedIframe";
}

@*<iframe title = @title
    src="https://ecreport.azurewebsites.net/"
    width="1240"
    height="680"></iframe>*@



@*<form id=@loginFormId
          target=@iFrameName
          action="https://ec.conveyor.cloud/Service/LoginSso"
          method="post">
        <input type="text" name="Login" value="" />
        <input type="text" name="Password" value="" />
        <input type="submit">
    </form>

      action="https://ec.conveyor.cloud/Service/LoginSso"
         action="https://ecreport.azurewebsites.net/Service/LoginSso"

    <form id="loginForm"
        target=@iFrameName
        action="http://stark.employeeconfidential.com/Service/LoginSsoString?jwt=@token"
        method="get">

      <input type="text" hidden  name="jwt" value="@token" />
      <input type="submit" hidden>
  </form>



*@
<form id="loginForm"
      target=@iFrameName
      action="http://stark.employeeconfidential.com/Service/LoginSso"
      method="get">

    <input type="text" hidden  name="jwt" value="@token" />
    <input type="submit" hidden>
</form>

<iframe name=@iFrameName
        title=@title
        src="about:blank"
        width="1240"
        height="680">
</iframe>
@*<iframe name="embeddedIframe"
            title=@title
            src="https://ecreport.azurewebsites.net/"
            width="1240"
            height="680">
    </iframe>*@

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>*@
<script>
  window.onload = function () {
    document.forms['loginForm'].submit();
  }



</script>
@*<script>
    $(document).ready(function () {
        var loginform = document.getElementById(@loginFormId);
        loginform.style.display = "none";
        loginform.submit();
    });
</script>*@