<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GD" value="1"/>
    <add key="GDsmtpClient" value="employeeconfidential.com"/>
    <add key="GDfromAddress" value="employeeconfidential@employeeconfidential.com"/>
    <add key="GDserver" value="employeeconfidential.com"/>
    <add key="GDusername" value="employeeconfidential@employeeconfidential.com"/>
    <add key="GDpassword" value="confidentialConfidential1$3"/>
    <add key="GDport" value="25"/>
  </appSettings>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>