@{
    ViewBag.Title = "Incident Reporting and Case Management System";
}
<div id="wrap">
    <div id="topBodyLanding">
        <div class="firstTitle">
            Build an Ethical Workplace
        </div>
        <div class="secondTitle">
            Employee Confidential provides companies with an anonymous and secure system
        </div>
        <div class="secondTitle">
            for employees, contractors and suppliers to report concerns in the work environment
        </div>
    </div><!--end topBody-->
</div><!-- end wrap -->
<div id="benefits">
    <div class="positionTitle">
        <div class="greenTitle">BENEFITS</div>
    </div>
    <div class="secondPositionTitle">of an Incident Reporting and Case Management System</div>
    <div id="benefitsIcons">
        <div class="centerBlock2">
            <div class="positionFirstBlock">
                <div class="positionIcons">
                    <div id="firstIcon"></div>
                </div>
                <span class="title">Early Warning</span>
                <span class="textBlock">
                    Help your organization address problems before they progress.
                </span>
            </div>
            <div class="positionSecondBlock">
                <div class="positionIcons">
                    <div id="secondIcon"></div>
                </div>

                <span class="title">Meet Standards</span>
                <span class="textBlock">
                    Enable an effective compliance program to meet regulatory standards set forth by USFSG, OECD and FCPA.
                </span>
            </div>
            <div class="positionThirdBlock">
                <div class="positionIcons">
                    <div id="thirdIcon"></div>
                </div>

                <span class="title">Minimize Risk</span>
                <span class="textBlock">
                    Reduce financial and reputational losses. Identify potential risk areas for your business via standard reporting and robust analytics.
                </span>
            </div>
            <div class="positionFourthBlock">
                <div class="positionIcons">
                    <div id="fourthIcon"></div>
                </div>

                <span class="title">Increase Trust</span>
                <span class="textBlock">
                    Increase employee trust in the entire process. Reduce fear of retaliation through prompt handling of allegations, keeping the reporter informed and always being transparent.
                </span>
            </div>
            <div class="positionFifthBlock">
                <div class="positionIcons">
                    <div id="fifthIcon"></div>
                </div>
                <span class="title">Prevent Lawsuits</span>
                <span class="textBlock">
                    Help prevent legal action against your company for negligence. Provide an alternative to whistleblowing.
                </span>
            </div>
        </div>
    </div><!-- end benefitsIcons -->
</div><!-- end benefits -->
<div class="second">
    <!--<div class="positionButton"></div>-->
    <div class="bigButton">
        <a href="#footer">REQUEST PRICING</a>
    </div>
</div>
<div id="howItWorks">
    <div class="positionTitle">
        <div class="greenTitle">HOW DOES IT WORK?</div>
    </div>
    <div class="positionResponse">
        <div class="leftText">
            <p class="latoHeavyText">REPORTING BY WEB, TABLET OR MOBILE</p>
            <p class="heavyTextBlock">Employees submit anonymous (or identified confidential) reports via web or mobile which are delivered instantly to authorized top management staff</p>
        </div>
        <img class="rigthImage" src="~/Content/img/Report.png">
    </div>
    <!--<section style="max-width: 1219px; padding-left: 5rem">
        <p class="latoHeavyText">REPORTING BY WEB, TABLET OR MOBILE</p>
        <p class="heavyTextBlock">Employees submit anonymous (or identified confidential) reports via web or mobile which are delivered instantly to authorized top management staff</p>
        <img class="rigthImage" src="~/Content/img/Report.png">
    </section>
        -->
</div>
    <!--end howItWorks-->
<div id="response">
    <div class="positionResponse">
        <img class="leftImage" src="~/Content/img/Response.png" />
        <div class="rightText">
            <p class="latoHeavyText">Response</p>
            <p class="heavyTextBlock">Through Employee Confidential’s customized dashboards and action lists, mediators are guided to respond in a measured, timely and consistent manner. Reporters want to feel heard.</p>
        </div>
        
    </div>
</div><!-- end response-->
<div id="investigation">
    <div class="positionResponse">
        <div class="leftText">
            <p class="latoHeavyText">INVESTIGATION</p>
            <p class="heavyTextBlock">The mediators are guided via a 7-step investigation process to conduct interviews, reach a conclusion, write a report and take corrective action.</p>
        </div>
        <img class="rigthImage" src="~/Content/img/Investigation.png"/>
    </div>
</div><!--end investigation-->
<div id="analysis">
    <div class="positionResponse">
        <img class="leftImage" src="~/Content/img/Analysis.png" />
        <div class="rightText">
            <p class="latoHeavyText">Analysis</p>
            <p class="heavyTextBlock">Management periodically reviews reports to identify trends or patterns. The reports are reviewed by location, incident type and case duration.</p>
        </div>
    </div>
</div><!--analysis-->
<div class="emptyBlock">
    <div class="first">
        <div class="positionButton">
            <div class="bigButton"><a href="#footer">REQUEST PRICING</a></div>
        </div>
    </div>
</div><!--empty-->
<div id="casesBlock">
    <h1 class="title">What you don’t know, CAN hurt you</h1>
    <p class="title">Mid-Size Business Cases</p>
    <div class="casesBlockContent">
        <div class="casesBlockContentLeft">
            <div class="caseBlock">
                <div class="caseTop">
                    <h1>Foreign Bribery Case</h1>
                    <p>Alstom S.A. (Alstom), a French power and transportation company, pleaded guilty and agreed to pay a $772,290,000 fine to resolve charges related to a widespread scheme involving tens of millions of dollars in bribes in countries around the world, including Indonesia, Saudi Arabia, Egypt and the Bahamas.</p>
                </div>
                <div class="caseMiddle">
                    <h1>$772,290,000 fine.</h1>
                    <p>"The Defendant lacked an effective compliance and ethics program at the time of the offense."</p>
                </div>
                <div class="caseBottom">
                    <label class="textCaseBottom">Read further on <a href="http://www.justice.gov/opa/pr/alstom-pleads-guilty-and-agrees-pay-772-million-criminal-penalty-resolve-foreign-bribery" target="_blank">http://justice.gov</a></label>
                    <label class="arrow"></label>
                </div>
            </div>
        </div>
        <div class="casesBlockContentRight">
            <div class="caseBlock">
                <div class="caseTop">
                    <h1>Accounting Fraud Case</h1>
                    <p>The Securities and Exchange Commission announced that a Tennessee-based animal feed company has agreed to pay back $18 million in illicit profits from an accounting fraud.</p>
                </div>
                <div class="caseMiddle">
                    <h1>$18,000,000 fine & Bankruptcy.</h1>
                    <p>"AgFeed Industries is currently in Chapter 11 bankruptcy, citing damage to the company's reputation."</p>
                </div>
                <div class="caseBottom">
                    <label class="textCaseBottom">Read further on <a href="http://www.sec.gov/News/PressRelease/Detail/PressRelease/1370542938017#.VQc-k2TF_0p" target="_blank">http://sec.gov</a></label>
                    <label class="arrow"></label>
                </div>
            </div>
        </div>
    </div>

</div><!--end cases-->
<div id="privateCompanies">
    <h1 class="title">Private Companies are Vulnerable</h1>
    <p class="title">In the past three years</p>
    <div class="viewHouse">
        <img src="~/Content/img/house.png">
        <div class="text">
            <p>44% of private companies experienced at least one loss event</p>
            <p>related to D&O laibility, EPL, fiduciary liability, employee fraud workplace violence or cyber liability</p>
        </div>
    </div>
    <p class="title">Percentage that experienced at least one loss event</p>
    <div class="blockImg">
        <img src="~/Content/img/employees.png">
    </div>
</div><!--end privateCompanies-->
<div id="medianLoss">
    <p>Median Loss of Fraud Reported</p>
</div><!--end medianLoss-->
<div id="medianLossBlock">
    <div class="blockTop">
        <div class="block">
            <div class="blockImg">
                <img src="~/Content/img/many1.png">
            </div>
            <p class="price">$3,000,000</p>
            <p class="text">By large private company<br>(250+ employees)</p>
        </div>
        <div class="block">
            <div class="blockImg">
                <img id="screen" src="~/Content/img/many2.png">
            </div>
            <p class="price">$450,000</p>
            <p class="text">By midsized private company<br>(50-99 employees)</p>
        </div>
        <div class="block">
            <div class="blockImg">
                <img id="screen3" src="~/Content/img/many3.png">
            </div>
            <p class="price">$250,000</p>
            <p class="text">By small private company<br>(25-49 employees)</p>
        </div>

    </div>
    <div class="blockBottom">
        <div id="noneFloat">
                <div class="blockLeft">
                    <p class="title" style="  padding-right: 0px;">Early Detection is Key</p>
                    <!--<img src="~/Content/img/calendar.png">-->
                    <img src="/Content/img/cal.png">
                    <div class="content">
                        <p class="title">18 months</p>
                        <p class="text">is the time that the typical workplace fraud lasted before being detected.</p>
                    </div>
                </div>

                <div class="blockRight">
                    <p class="title">The M&A Connection</p>
                    <!--<img src="~/Content/img/diagram.png">-->
                    <img src="/Content/img/diagram.png">
                    <div class="content" style="  width: 68%;">
                        <p class="title">25%</p>
                        <p class="text">of private companies are likely to be involved in a major acquisition or merger or to sell part of the business in the coming year.</p>
                        <p class="miniText">M&A activity can contribute to employee theft if employees believe thier jobs are jeopardized.</p>
                    </div>
                </div>
        </div>
    </div>
    <p class="source">Source: 2013 Chubb Risk and Private Companies Survey </p>
</div><!--end medianLoss-->
<div class="emptyBlockSecond" id="request_form">
    <p>start building an ethical workplace today</p>
        <div class="loginFormHeader">
            <p>REQUEST A FREE QUOTE</p>
        </div>
    <div class="loginForm">
        <div>
            <label>First name</label>
            <input type="text" name="fname" required>
        </div>
        <div>
            <label>Last name</label>
            <input type="text" name="lname" required>
        </div>
        <div>
            <label>Company name</label>
            <input type="text" name="cname" required>
        </div>
        <div>
            <label>Phone</label>
            <input type="text" name="phone" required>
        </div>
        <div>
            <label>E-mail</label>
            <input type="email" name="email" required>
        </div>
        <span class="position" id="submit">
            <span class="bigButton">
                <a href="#footer">REQUEST PRICING</a>
            </span>
        </span>
    </div>
</div><!--empty-->
<a name="footer"></a>

<div id="footer4">
    <div><img src="~/Content/img/logo.png"/>
    </div>
    <div>
    </div>
    <div><a target="_blank" href="TermsOfService.html">Terms</a></div>
    <div><a target="_blank" href="PrivacyStatement.html">Privacy</a></div>
    <div><a target="_blank" href="#footer">Contact</a></div>
    <div class="employeeConfidential2">
        © 2015 - @DateTime.Today.Year Employee Confidential LLC
    </div>

</div><!--end footer-->

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#header .bigButtonGreen").on('click', function () {
            window.location.href = "http://report.employeeconfidential.com";
        });
        $("#header .login").on('click', function () {
            window.location.href = "http://report.employeeconfidential.com/login";;
        });
        /*$('.loginForm div').click(function () {
            $(this).addClass('selected');
        });*/
        //.siblings().removeClass('selected');
        $("header .blueLogo").on('click', function () {
            window.location.href = "http://" + location.hostname;
        });
        $('#submit').on('click', function () {
            var fname = $("input[name=fname]").val();
            var lname = $("input[name=lname]").val();
            var cname = $("input[name=cname]").val();
            var phone = $("input[name=phone]").val();
            var email = $("input[name=email]").val();
                
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetRequest", "MainFrontSide")",
            data: {
                fname: fname,
                lname: lname,
                cname: cname,
                phone: phone,
                email: email,
            },
            success: function (data) {
                alert(data);
                console.log(data);
            },
            error: function (error) {
                alert(error.responseText);
            }
            });
        });
    });
</script>
