<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/css/fontello.css" />

    <link rel="stylesheet" href="~/Content/libs/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/libs/OwlCarousel2-2.2.1/dist/assets/owl.theme.default.min.css" />

    <link rel="stylesheet" href="~/Content/css/all.css">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    
    <div class="general-container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Content/libs/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>
    <script src="~/Content/js/common.js"></script>
</body>
</html>
