<!-- ------------------  Footer ---------------- -->
<footer class="footerBg">
    <div class="container">
        <div class="footer">
            <a href="#" class="footer__logo">
                <img src="~/Content/images/0-main-logo.png" alt="" />
            </a><!-- /.footer__logo -->
            <div class="footer__copyright">
                Copyright © @DateTime.Now.Year.ToString() Employee Confidential LLC. All Rights Reserved
            </div><!-- /.footer__copyright -->
            <div class="footer__navLinks">
                <nav class="footer__navLinks-nav">
                    <li class="footer__navLinks-li">
                        <a href="http://employeeconfidential.com/PrivacyStatement.html" class="footer__navLinks-a">
                            Privacy Policy
                        </a>
                    </li><!-- /.footer__navLinks-li -->
                    <li class="footer__navLinks-li">
                        <a href="http://employeeconfidential.com/TermsOfService.html" class="footer__navLinks-a">
                            Terms of Use
                        </a>
                    </li><!-- /.footer__navLinks-li -->
                </nav><!-- /.footer__navLinks-nav -->
            </div><!-- /.footer__navLinks -->
        </div><!-- /.footer -->
    </div><!-- /.container -->
</footer><!-- /.footer -->