@using EC.App_LocalResources;
@{
    ViewBag.Title = GlobalRes.ForgotPassword;
    Layout = "~/Views/Shared/HeaderFooterFrontPagesBgColor.cshtml";
    ViewBag.background = "background-color: #E5F3F2;";
    ViewBag.cssStyle = "/Content/aStart";
    
}
<link rel="stylesheet" href="/Content/login.css" />
<form>
    <div class="loginFormHeader">
        <p class="loginTitle">@GlobalRes.EnterYourEmail.ToUpper()</p>
    </div>
    <div class="loginForm">
        <div class="loginInput">
            <label class="label">@GlobalRes.YourEmail</label>
            <input type="text" class="loginText" name="email" />
        </div>
        <input type="submit" id="submit" value="Submit">
    </div>


</form>
<script>
    $(document).ready(function (event) {
        $('#submit').on('click', function (event) {
            event.preventDefault();
            if (($('input[name=email]').val() != "")) {
                ForgetPass($('input[name=email]').val());
            }
            else
                alert('@GlobalRes.EnterYourEmail');
        });

        function ForgetPass(email) {

            $.ajax({
                method: "POST",
                url: "/Login/Email",
                data: { email: email }
            }).done(function (data) {//data from server
                if (data == 'success') {
                    alert('@GlobalRes.UpdatePassEmailSent');
                    $('input[name=email]').val('');
                }
                else
                    alert(data);
            }).fail(function (error) {
                console.log(error);
            });
        }
    });

</script>