@using EC.App_LocalResources;
    @{
        ViewBag.Title = GlobalRes.Login;
        Layout = "~/Views/Shared/HeaderFooterFrontPages.cshtml";
        ViewBag.background = "background-color: #E5F3F2;";
        ViewBag.cssStyle = "/Content/aStart";
        
    }
<link rel="stylesheet" href="/Content/login.css" />
<form action="/Account/Login" method="post">
    <div class="loginFormHeader">
        <p class="loginTitle">@GlobalRes.CheckYourCase.ToUpper()</p>
    </div>
    <div class="loginForm">
        <div class="loginInput">
            <label class="label">@GlobalRes.Login</label>
            <input type="text" class="loginText" name="login"  />
        </div>
        <div class="passwordInput">
            <label class="label">@GlobalRes.Password</label>
            <input type="password" class="loginText" name="password" />
        </div>
        <input type="submit" id="submit" value="LOGIN">
    </div>
    <div class="loginFormFooter"><a href="~/Login/ForgetPassword">@GlobalRes.ForgotPassword?</a></div>
</form>
