/*=====================================================*/
/*==================  User style  =====================*/
/*=====================================================*/


.header,
.main,
.footer
	position: relative

.header
	grid-area: header
.main
	grid-area: main
	overflow: hidden
	//min-height: calc( 100vh - 150px )
.footer
	grid-area: footer

// top-header
.top-headerBg
	background-color: $mainAccent-color
.top-header
	display: grid
	grid-template-columns: repeat( 2, 1fr )
	height: 36px
	overflow: hidden
	&__campusLink
		justify-self: start
		color: $lightfont-color
		text-decoration: none
		font-family: $regular-font
		font-size: 14px
		padding: 10px 0
		position: relative
		&-text
			position: relative
			padding-right: 22px
		&-text i
			font-size: 14px
			transform: rotate(45deg)
			display: block
			position: absolute
			right: 0
			top: 1px

	&__loginBar
		justify-self: end
	&__loginBar-nav
		list-style: none
		display: grid
		grid-template-columns: repeat( 2, max-content )
	&__loginBar-li
		position: relative
		&:first-child:after
			content: ''
			display: block
			width: 1px
			background-color: #8cc9c3
			top: 5px
			bottom: 5px
			right: 0
			position: absolute
			opacity: 0.4
		&:last-child .top-header__loginBar-a
				padding-right: 0
	&__loginBar-a
		color: $lightfont-color
		text-decoration: none
		font-family: $regular-font
		font-size: 12px
		padding: 12px 20px
		position: relative
		display: block
		height: 36px

//    main-header
.main-headerBg
	background-color: $lightBg-color
.main-header
	display: grid
	grid-template-columns: minmax(max-content, 300px) 1fr

.main-headerLogo
	text-decoration: none
	justify-self: start
	&__img
		position: relative
		padding-top: 20px
		height: 58px
		& img
	&__text
		color: $mainAccentLighter-color
		text-transform: uppercase
		font-size: 10px
		font-family: $bold-font
		text-decoration: none
		padding-bottom: 5px
		padding-top: 2px
		height: 18px
		margin-left: 44px

.main-headerMenu
	justify-self: end
	display: grid
	overflow: hidden
	&__nav
		list-style: none
		display: grid
		grid-auto-flow: column
		align-content: center

	&__li
		text-transform: none
		//margin: 0 -1px
	&__li:last-child .main-headerMenu__a
		padding-right: 0
	&__a
		text-transform: uppercase
		text-decoration: none
		font-family: $heavy-font
		font-size: 14px
		color: $mainAccent-color
		padding: 30px 15px
	&__a:hover,
	&__a:focus,
	&__a:active
		background-color: darken($lightBg-color, 10%)

// -------------- Main ---------------

// firstSection
.firstSection
	background-image: url('../images/first-section-BG.jpg')
	background-repeat: no-repeat
	background-position: center
	background-size: cover

.firstSection__contentBox
	display: grid
.firstSection__headText
	font-family: $heavy-font
	font-size: 40px
	color: $mainAccent-color
	margin: 160px 0 30px 0
	justify-self: start
.firstSection__text
	font-family: $regular-font
	font-size: 20px
	color: $grey-color
	margin-bottom: 50px
	justify-self: start
	width: 540px
	line-height: 1.6
.firstSection__btn
	margin-bottom: 100px
	justify-self: start

// Benefits
.benefitsSection
	&-grid
		display: grid
.benefitsSection-head
	justify-self: center
	text-align: center
	&__title
		font-family: $light-font
		font-size: 36px
		color: $grey-color
		text-transform: uppercase
		font-weight: normal
		margin: 50px 0 20px
	&__text
		font-family: $light-font
		font-size: 20px
		color: $grey-color
		font-weight: normal
		margin-bottom: 60px

.benefitsSection-content
	display: grid
	grid-template-columns: repeat(5, 1fr)
	margin-bottom: 60px
.benefitsSection-contentBox
	text-align: center
	display: grid
	grid-template-rows: 100px minmax( 35px, max-content) auto
	padding: 0px 10px
	&__img
		align-self: center
	&__title
		color: $mainAccentLighter-color
		font-family: $bold-font
		font-size: 18px
		align-self: center
	&__text
		font-family: $regular-font
		font-size: 16px
		color: $accent-color


// TextImageSection
.textImageSection
	height: 220px
	width: 100%
	background-image: url('../images/word-cloud.jpg')
	background-repeat: no-repeat
	background-position: center
	background-size: cover

//slider-section
.slider-section
	position: relative
.owl-carousel__slide
	background-color: $mainBgLighter-color

.owl-carousel__slide
	display: grid
	grid-template-rows: 380px
	position: relative
	z-index: 1
.slider-content
	align-self: center
	text-align: center
	width: 50%
	margin: 0 auto
	z-index: 1
	&__title
		font-family: $light-font
		font-size: 36px
		color: $grey-color
		margin-bottom: 40px
	&__text
		font-family: $light-font
		font-size: 24px
		color: $grey-color

// .owl-nav
// 	position: absolute
// 	top: 0
// 	bottom: 0
// 	left: 0
// 	right: 0
// 	z-index: -1
.owl-prev,
.owl-next
	position: absolute
	width: 30px
	height: 30px
	top: calc( 50% - 30px/2 )
	overflow: hidden
	text-indent: -999px
	background-image: url('../images/sliderNav-next.png')
	background-repeat: no-repeat
	border-radius: 50%
	z-index: 2
.owl-prev
	left: 5%
	transform: rotate(180deg);
.owl-next
	right: 5%

// gridSection

.gridSection
	display: grid
	grid-template-columns: 1fr 1fr
	grid-template-rows: repeat(2, minmax(570px, max-content))
	
.gridSection__mobileText
	align-self: center
	padding-left: 10%
	padding-right: 3%
.gridSection__reportText
	background-color: $mainBg-color
	padding: 15% 5% 10% 15%

.gridSection__mobileImage
	background-image: url('../images/mobile-img.jpg')
	background-repeat: no-repeat
	background-position: 0 0
	background-size: cover
.gridSection__reportImage
	background-image: url('../images/pcView.jpg')
	background-repeat: no-repeat
	background-position: 100% 0
	background-size: cover

.grid-title
	font-family: $light-font
	font-size: 36px
	color: $grey-color
	margin-bottom: 30px
.grid-text
	font-size: 20px
	color: $accent-color
	padding-left: 5%
	& p
		margin-bottom: 20px

// menegementSection

.menegementSection
	overflow: hidden
	display: grid
	grid-template-columns: 45% 55%
	grid-template-rows:  minmax(570px, max-content)
.menegementSection__textBlock
	align-self: center
	padding-left: 15%
	padding-right: 3%

.menegementSection__imageBlock
	background-image: url('../images/dashboard-img.png')
	background-repeat: no-repeat
	background-position: 0 40px
	background-size: contain

// routingSection

.routingSection
	@extend .menegementSection
	background-color: $mainBg-color
	grid-template-columns: 55% 45%
	&__imageBlock
		@extend .menegementSection__imageBlock
		background-image: url('../images/settings-img.png')
	&__textBlock
		@extend .menegementSection__textBlock
		padding-left: 10%

// analyticsSection

.analyticsSection
	@extend .menegementSection
	&__textBlock
		@extend .menegementSection__textBlock
	&__imageBlock
		@extend .menegementSection__imageBlock
		background-image: url('../images/charts-img.jpg')

.grid-text__list
	padding-left: 5%
	margin-top: 30px

// employeeSection

.employeeSection
	@extend .gridSection
	grid-template-rows: minmax(570px, max-content)
	background-color: $mainBg-color
	
.employeeSection__imageBlock
	@extend .gridSection__reportImage
	background-image: url('../images/wall-siteview-img.jpg')

.employeeSection__textBlock
	@extend .menegementSection__textBlock

// wideSection

.wideSection
	display: grid
	grid-template-rows: 470px
	position: relative

.wideSection__conteiner
	align-self: center
	text-align: center

.wideSection__mainText
	font-family: $lightItalic-font
	font-size: 24px
	color: $grey-color
	margin-bottom: 40px

.wideSection__signatureText
	@extend .wideSection__mainText
	font-size: 16px

// greySection

.greySection
	display: grid
	grid-template-columns: 1fr 1fr
	grid-template-rows: 310px
	background-color: $mainBgLighter-color

.blockIcons
	align-self: center
	padding: 0 20px

.greySection__keyBlock
	justify-self: end

.blockIcons__header
	text-align: center
	margin-bottom: 30px
	font-size: 24px
	color: $accent-color

.blockIcons__content
	display: grid
	grid-template-columns: 110px 285px

.blockIcons__contentInfo
	&-title
		color: $orange-color
		font-size: 30px
		margin-bottom: 5px
	&-text
		font-size: 18px
		color: $accent-color
		margin-bottom: 20px
	&-signature
		font-size: 14px
		color: #969898

.greySection__sexualBlock
	justify-self: start

// contactSection

.contactSection
	background-color: $mainBgDark-color
	display: grid
	height: 730px
	&__title
		font-family: $light-font
		font-size: 30px
		color: $lightfont-color
		margin-bottom: 50px

.learnMore-form
	display: grid
	background-color: $accentLighter-color
	width: 420px
	margin: 0 auto
	&__title
		background-color: $accent-color
		color: $lightfont-color
		text-align: center
		font-family: $bold-font
		font-size: 24px
		text-transform: uppercase
		padding-top: 10px
		padding-bottom: 15px
	&__content
		display: grid
		background-color: $mainBg-color
		margin: 20px 

.learnMore-form__content-input
	display: block
	padding: 10px 10px 0 10px
	border-bottom: 1px solid #ced7d8
	font-size: 14px
	font-family: $lato-Semibold-font
	color: #afbbbc
.learnMore-form__content-input input
	font-family: $lato-Semibold-font
	color: $accent-color
	font-size: 24px
	padding: 2px 0
	margin-top: 5px
	background-color: $mainBg-color

input
	border: none
	display: block
	width: 100%
	&:active,
	&:focus,
	&:hover
		outline: none

.learnMore-form__content-input.active
	border: 2px solid $mainAccentLighter-color
	background-color: $lightBg-color
.learnMore-form__content-input.active input
	background-color: $lightBg-color


.learnMore-form__btn
	justify-self: center
	margin-bottom: 20px











// -------------- Footer ---------------

.footerBg
	background-color: $lightBg-color
.footer
	height: 280px
	display: grid
	grid-template-columns: max-content auto max-content
	align-items: center
	&__logo
	&__copyright
		justify-self: center
		color: $accent-color
		font-family: $regular-font
		font-size: 12px

	&__navLinks
		&-nav
			list-style: none
			display: grid
			grid-auto-flow: column
		&-li
		&-a
			text-decoration: none
			font-family: $regular-font
			font-size: 12px
			color: $accent-color
			padding: 10px 2px
