@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('fonts/OpenSans/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans/OpenSans-Light.ttf');
}


.blockContent {
    background: #e5ebeb;
    width: 100%;
    min-height: 100%;
    display: table;
    overflow: hidden;
}
.blockContent .leftBlockContent{
    width: 385px;
    max-width: 385px;
    padding-right: 5px;
    background-color: #D8DCDB;
    border-right: 2px solid #B7BCBC;
    cursor: default;
    display: table-cell;
}
.leftBlockContent + .rightBlockContent #casesHeared{
    margin-left: -2px;
    border-left: 2px solid rgb(137, 148, 150);
    /*margin-top: 3px;*/
}
.leftBlockContent ::-webkit-scrollbar{
    width: 4px;
}
.leftBlockContent ::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #adb0af;
    background-color: #adb0af;
}
.leftBlockContent ::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #adb0af;
    background-color: #adb0af;
}
.leftBlockContent ::-webkit-scrollbar-track{
    border-width:0;
}
.leftBlockContent ::-webkit-scrollbar-track{
    border-left: solid 1px #d8dcdb;
    background-color: #d8dcdb;
}

/*=============leftHeader=================*/
.leftBlockContent .leftHeader{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 22px;
}
.leftHeader .blockTop {
    padding-bottom: 5px;
    display: table;
    width: 100%;
}
.leftHeader .openSans {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 12px;
    color: #727c7e;
    width: 95px;
    padding-left: 35px;
}
.leftHeader .openSansSemibold {
    font-size: 12px;
    line-height: 19px;
    width: 95px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    color: #727c7e;
}
.leftBlockContent .leftContent{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 716px;
}
.leftHeader #reportIcon {
    /* background: url("../Icons/report-icon.png");*/
    width: 20px;
    height: 25px;
    float: left;
    margin-right: 15px;
}
.contentMediators.blockTeam .blockHeaderTeam label.close:after {
    content: "\00d7";
    position: absolute;
    float: right;
    margin-left: -14px;
    margin-top: -14px;
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
}
#timeReport {
    margin-left: 0px;
}
#rightRight .closeIcon,
.leftHeader .closeIcon {
    background: url(Icons/close.png);
    width: 14px;
    height: 14px;
    float: right;
    position: relative;
    top: 8px;
    left: 15px;
    cursor: pointer;
}
.leftHeader .blockTop label.title {
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 20px;
    color: rgb(56, 73, 77);
    /*float: left;*/
}
span.logButton, span.contactReportBtn,
p.addMoreMediatorsBtn span,
.blockMessages .newMessageBtn span{
    border: 1px solid #6ccec3;
    color: #05b5a2;
    padding: 5px 13px 5px 13px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    height: 41px;
}

span.contactReportBtn.contactReportBtn_cc{
    border: 1px solid #8ac092;
    color: #4da456;
}
span.contactReportBtn.contactReportBtn_cc:hover{
    background: #4da456;
    color: #ffffff;
    border: 1px solid #2e7037;
}
span.contactReportBtn.contactReportBtn_cc:active{
    background: #2e7037;
    color: #ffffff;
    border: 1px solid #2e7037;
}
.blockMessages .newMessageBtn span {
    font-size: 12px;
    border: 1px solid #049787;
}
#newButton {
    font-size: 14px;
}
span.createNewTaskBtn{
    border: 1px solid #049787;
    background: #05b5a2;
    color: #fffefe;
    padding: 5px 13px 5px 13px;
    /*padding: 3px 10px 3px 10px;*/
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    height: 41px;
}
span.createNewTaskBtn:hover{
    border: 1px solid #078f80;
    background: #049f8e;
}
span.createNewTaskBtn:active{
    border: 1px solid #048173;
    background: #048173;
}
.blockMessages .newMessageBtn input{
    border: 1px solid #6ccec3;
    color: #05b5a2;
    padding: 0px 13px 0px 13px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    background: #f2f7f7;
    outline: none;
}
p.addMoreMediatorsBtn span{
    font-size: 14px;
    color: #ffffff;
    background: #05b5a2;
    border: 1px solid #049787;
}
p.addMoreMediatorsBtn span:hover{
    background: #04a997;
    border: 1px solid #048d7e;
}
p.addMoreMediatorsBtn span:active{
    background: #049787;
    border: 1px solid #048678;
}
span.logButton:hover, span.contactReportBtn:hover,
.blockMessages .newMessageBtn span,
.blockMessages .newMessageBtn input:hover{
    background: #05b5a2;
    color: #ffffff;
    border: 1px solid #049787;
}
span.logButton:active, span.contactReportBtn:active,
.blockMessages .newMessageBtn span:active,
.blockMessages .newMessageBtn input:active{
    background: #049787;
    color: #ffffff;
}
.leftHeader .blockContactReportBtn{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #BFC3C2;
}
.leftHeader .blockInfoDays {
    background: #abb9bb;
    padding-top: 13px;
    padding-bottom: 11px;
    margin-bottom: 15px;
    margin-top: 5px;
    color: #ffffff;
    display: table;
    width: 100%;
}
.leftHeader .blockInfoDays span.title {
    padding-left: 35px;
    font-size: 14px;
    padding-right: 7px;
    color: #ffffff;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    padding-top: 1px;
}
.leftHeader .blockInfoDays span.days {
    font-size: 16px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}
.leftHeader .blockInfoDays span.daysRight {
    float: right;
    padding-right: 10px;
    padding-top: 3px;
    font-size: 12px;
    color: #ffffff;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
}
.leftContent #generalInfo {
    display: table;
    width: 86%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 20%;
}
.contentViewReport,
.contentDownloadDoc{
    width: 100%;
    background-color: rgb(242, 247, 247);
    display: table;
}
.leftContent .contentViewReport,
.leftContent .contentDownloadDoc{
    background-color: #D8DCDB;
}
.leftContent .blockGeneralInformation, .leftContent .blockPartiesInformation, .leftContent .contentDownloadDoc {
    border-bottom: 1px solid #BFC3C2;
    border-top: none;
    padding-top: 0;
}
.leftContent #generalInfo .firstPosition{
    width: 100%;
    background-color: #D8DCDB;
    display: table;
}

.leftContent #generalInfo {
    background-color: #D8DCDB;
}
.generalInformation,
.partiesInformation,
.caseInformation {
    width: 100%;
    display: table;
}
.leftBlockContent .generalInformation,
.leftBlockContent .partiesInformation,
.leftBlockContent .caseInformation {
    width: 87%;
    display: table;
}
.blockPartiesInformation {
    border-bottom: 1px solid #e0e5e6;
    margin-bottom: 0px;
    padding-bottom: 17px;
}
.blockCaseInformation {
    margin-bottom: 0px;
    padding-top: 32px;
}
.leftContent #generalInfo .title {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    padding-left: 12px;
    font-size: 20px;
    color: rgb(56, 73, 77);
    margin-bottom: 17px;
}
.leftContent #generalInfo div.generalInformation p.title,
.leftContent #generalInfo div.blockPartiesInformation p.title,
.leftContent #generalInfo div.blockCaseInformation p.title{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 12px;
    color: #848a8b;
    padding-top: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 23px;
    float: none;
}
.leftContent #generalInfo div.generalInformation p.text,
.leftContent #generalInfo div.blockPartiesInformation p.text,
.leftContent #generalInfo div.blockCaseInformation p.text{
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 12pt;
    color: #727c7e;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 43px;
}
.leftContent div.blockPartiesInformation p.title span{
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 14px;
    color: #727c7e;
}
.blockPartiesInformation div,
.incidentDescription p.titleIncidentDescription {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 12px;
    color: #848a8b;
    width: 100%;
}
.incidentDescription p.titleIncidentDescription {
    padding-top: 27px;
    margin-left: 21px;
}

.incidentDescription .text {
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 14px;
    color: #727c7e;
    padding-left: 43px;
    padding-right: 20px;
}
.blockPartiesInformation div:last-child {
    padding-left: 23px;
    padding-top: 20px;
}
.contentDownloadDoc .blockDownloadDoc {
    padding-left: 40px;
    margin-bottom: 15px;
    display: table;
}
.contentDownloadDoc .blockImg {
    float: left;
}
.contentDownloadDoc .infoBlock {
    padding-top: 8px;
    padding-left: 24px;
    display: table;
}
.contentDownloadDoc .infoBlock p {
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}
.contentDownloadDoc .infoBlock a {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    color: #05b5a2;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
}
.contentDownloadDoc{
    padding-top: 25px;
}
.leftContentFooter {
    background: linear-gradient(to top, rgba(207, 212, 211, 1) 45%, transparent 100%);
    height: 100px !important;
    width: 20%;
    width: 385px;
    padding-right: 5px;
    position: fixed;
    bottom: 0;
    display: flex;
    left: 0px;
    border-right: 2px solid #B7BCBC;
    padding-bottom: 41px;
}
/*============rightBlockContent===========*/
.rightBlockContent {
    position: relative;
    display: table-cell;
}
.rightBlockContent .blockWithTeam{
    display: flex;
    width: 100%;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    -webkit-justify-content: center; /* Safari */
    justify-content:         center;
}

.activitySection {
    color: #fff;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 16pt;
    margin-top: 20px;
    position:absolute;
}


.positionActivityIcon{
    width: 105px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

/*============ blockHeaderTask ==========*/
.blockHeaderTask{
    background: #ebf1f1;
    border-top: 1px solid #e0e5e6;
    border-bottom: 1px solid #e0e5e6;
    color: #727c7e;
    font-size: 12px;
    padding-left: 50px;
    height: 20px;
    padding-top: 10px;
    position: relative;
}
.blockHeaderTask .blockTitle {
    display:inline-block;
    width: 63%;
    height: 20px;
    position: absolute;
    left: 50px;
    right: 300px;
}
.blockHeaderTask .blockPeople {
    /*width: 30%;*/
    display: inline-block;
    width: 17%;
    height: 20px;
    position: absolute;
    width: 200px;
    right: 124px;
}
.blockHeaderTask .date {
    display: inline-block;
    width: 13%;
    height: 20px;
    text-align: right;
    position: absolute;
    width: 100px;
    right: 31px;
}

/*==========START Create new task=========*/
.rightBlockContent .blockTasks .blockCreateTask {
    border: 5px solid #05b5a2;
    height: 100px;
    margin-left: -5px;
    margin-right: -5px;
    display: table;
    width: 100%;
}
.headerCreateTask{
    background: #05b5a2;
    padding-top: 21px;
    padding-bottom: 16px;
    padding-right: 11px;
}
.headerCreateTask .startTitle{
    color: #fff;
    font-size: 18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    padding-left: 31px;
}
.headerCreateTask .endTitle{
    color: #ffffff;
    font-size: 18px;
    font-family: 'OpenSans-Light', arial, verdana, sans-serif;
}
.headerCreateTask label.close {
    float: right;
}
.headerCreateTask label.close:after {
    content: "\00d7";
    position: absolute;
    float: right;
    margin-left: -14px;
    margin-top: -17px;
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
}
.blockCreateTask .contentCreateTask {
    background-color: #ffffff;
}
.contentCreateTask .attachFile {
    display: table;
    width: 100%;
    padding-bottom: 8px;
}
.contentCreateTask .attachFile img {
    float: left;
    margin-left: 20px;
    margin-right: 7px;
}
.contentCreateTask .attachFile span {
    font-size: 12px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    color: #727c7e;
}
.blockCreateTask .contentCreateTask .createTaskTop {
    margin-left: 15px;
    margin-right: 10px;
    border-bottom: 1px solid #e0e5e6;
}
.blockCreateTask .contentCreateTask .createTaskBottom {
    margin-left: 15px;
    margin-right: 10px;
    padding-bottom: 32px;
}
.contentCreateTask input[type="text"] {
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 14px;
    width: 97%;
    border: none;
    outline: none;
    padding-left: 10px;
}
.contentCreateTask input[type="text"]::-webkit-input-placeholder{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
}
.contentCreateTask input[type="text"]:-ms-input-placeholder{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
}
.contentCreateTask input[type="text"]:-moz-placeholder{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
}
.contentCreateTask input[type="text"]::-moz-placeholder{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
}
.footerCreateTask {
    display: table;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: 1px solid #e0e5e6;
}
span.hideCompletedBtn.attachFiles,
.footerCreateTask .dropdown span.selected span {
    font-size: 12px;
}
span.hideCompletedBtn.dueDateBtn {
    font-size: 12px;
    padding: 6.5px 27px 6.5px 13px;
}
.footerCreateTask .dropdown {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 12px;
    margin-top: 5px;
}
span.hideCompletedBtn.attachFiles .img, .createTaskBottom .img {
    margin-right: 5px;
    background: url(Icons/imgPlus.png) no-repeat;
    padding-right: 16px;
    background-position: 1px 1px;
}
span.hideCompletedBtn.attachFiles:hover .img,
span.hideCompletedBtn.attachFiles:active .img {
    background-position: -15px 1px;
}
span.hideCompletedBtn.dueDateBtn .img{
    background: url(Icons/calendarImg.png) no-repeat;
    padding-right: 19px;
    background-position: 0px 1px;
    margin-right: 15px;
    margin-top: -7px;
    margin-bottom: -10px;
    padding-top: 3px;
    padding-bottom: 2px;
}
span.hideCompletedBtn.dueDateBtn:hover .img,
span.hideCompletedBtn.dueDateBtn:active .img {
    background-position: -22px 1px;
}
.footerCreateTask form.selectBlock {
    float: left;
    float: left;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 15px;
    margin-top: 2px;
}
/*==========END Create new task=========*/
/*==========blockTasks=============*/
.blockTasks {
    float: left;
    background: #f2f7f7;
    width: 88%;
    margin-left: 3%;
    margin-right: 7%;
    margin-top: 20px;
    display: table;
    cursor: default;
    border: 1px solid #e0e5e6;
    margin-bottom: 30px;
}

.blockTask {
    background: #ffffff;
    display: table;
    width: 100%;
    cursor: pointer;
}
.blockTask:hover {
    background: #f2f7f7;
    border-bottom: 1px solid #e0e5e6;
}
.blockTask:hover .contentBlockTask{
    border-bottom: none;
}
.blockTask:hover span.text,
.blockTask:hover span.unread {
    text-decoration: underline;
}
.blockTask:active {
    background: #f2f7f7;
}
.blockTask:active  span.text {
    text-decoration: none;
}
.contentBlockTask {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    border-bottom: 1px solid #e0e5e6;
}
.blockTask .blockTitle {
    float: left;
    width: 65%;
    height: 80px;
    position: absolute;
    left: 0;
    right: 300px;
}
.blockTask span.bigDot {
    width: 12px;
    padding-top: 12px;
    background: #3099be;
    float: left;
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 8px;
    border-radius: 50%;
}
.blockTask.anonym span.bigDot {
    background: transparent;
    border: 2px solid #3099be;
    width: 10px;
    padding-top: 10px;
}
.blockTask.anonym span.bigDot {
    background: transparent;
    border: 2px solid #3099be;
    width: 10px;
    padding-top: 10px;
}
.blockTask.anonym .blockPeople img {
    display: none;
}
.blockTask span.text {
    float: left;
    font-size: 18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    color: #3c3e3f;
    margin-top: 35px;
    line-height: 18px;
    padding-right: 5px;
}
.blockTask span.littleDot {
    width: 6px;
    padding-top: 6px;
    background: #ee5a36;
    display: table;
    float: left;
    margin-top: 42px;
    border-radius: 50%;
}
.blockTask.anonym span.littleDot,
span.littleDot.notRed{
    background: transparent;
}
.blockTask .blockPeople {
    float: left;
    width: 20%;
    height: 80px;
    position: absolute;
    width: 200px;
    right: 100px;
}
.contentBlockTask .blockPeople img {
    margin-top: 25px;
    margin-right: 7px;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.contentBlockTask .blockPeople label.name {
    float: left;
    font-size: 12px;
    color: #848a8b;
    margin-top: 34px;
}
.blockTask .file {
    float: left;
    width: 5%;
    height: 50px;
    padding-top: 30px;
    /*text-align: center;*/
    position: absolute;
    right: 100px;
}
.blockTask .file img {
    /*display: none;*/
}
.blockTask .file.display img {
    display: block;
}
.blockTask .date {
    float: left;
    float: right;
    width: 9%;
    height: 40px;
    text-align: right;
    font-size: 12px;
    margin-right: 7px;
    /*margin-top 30px Expiry Date Task page on case dashboard is not right aligned.*/
    margin-top: 30px;
    color: #aeb5b7;
    position: absolute;
    width: 100px;
    right: 0px;
}
.blockTask.grey span.bigDot {
    background: #aeb5b7;
}
.blockTask.grey span.text,
.blockTask.grey span.unread {
    color: #aeb5b7;
}
.blockTask.anonym.grey span.bigDot {
    background: transparent;
    border: 2px solid #aeb5b7;
    width: 10px;
    padding-top: 10px;
}
.headTask {
    padding-bottom: 15px;
    padding-top: 15px;
    display: table;
    width: 100%;
    font-size: 12px;
}
.createNewTaskBlock {
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: right;
    float: right;
}
span.createNewTaskBtn{
    margin-right: 11px;
}
span.hideCompletedBtn {
    border: 1px solid #d6dcdc;
    color: #848a8b;
    padding: 6.5px 13px 6.5px 13px;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    height: 41px;
}
.hideCompletedBlock {
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: right;
    display: inline-block;
    margin-left: 10px;
}
.hideCompletedBlock #datepicker{
    width: 73px;
}
span.hideCompletedBtn:hover {
    border: 1px solid #c7cdcd;
    color: #848a8b;
    background: #d6dcdc;
}
span.hideCompletedBtn:hover #datepicker{
    background: #D6DCDC none repeat scroll 0% 0%;
}
.blockTasks .blockTask:last-child .contentBlockTask{
    border-bottom: none;
}
.headTask .selectBlock{
    float: left;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 10px;
}
.addComment {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/*=============== start topMessagesMenu ==================*/
.topMessagesMenu {
    margin-left: 10%;
    margin-right: 7%;
    margin-top: 25px;
    background-color: #f2f7f7;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 27px;
    padding-bottom: 24px;
    border: 1px solid #e0e5e6;
    border-bottom: none;
    height: 17px;
}
.topMessagesMenu .messagesTab{
    font-size: 12px;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    color: #aeb5b7;
    text-transform: uppercase;
    text-decoration: initial;
    display: table;
    /*width: 33%;*/
    width: 175px;
    float: left;
}
.topMessagesMenu .messagesTab.active{
    color: #05b5a2;
}
.topMessagesMenu span.labelArrow {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: transparent;
    color: transparent;
    width: 4px;
    height: 4px;
    border-top: 2px solid #aeb3b4;
    border-right: 2px solid #aeb3b4;
    float: left;
    margin-top: 6px;
    margin-right: 10%;
    margin-left: 10px;
}
.topMessagesMenu .titleText{
    float: left;
}
.topMessagesMenu .number{
    float: left;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 11px;
    border: 1px solid #aeb5b7;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
    margin-left: 6px;
    background-color: #aeb5b7;
    color: #fff;
}
.topMessagesMenu .messagesTab.active .number{
    color: #fff;
    background-color: #05b5a2;
    border-color: #05b5a2;
}
.topMessagesMenu .messagesTab.active span.labelArrow {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    border-top: 2px solid #05b5a2;
    border-right: 2px solid #05b5a2;
    margin-top: 4px;
}
/*=============== end topMessagesMenu ==================*/

/*=============== blockMessages ==================*/
.rightBlockContent .blockMessages {
    display: table;
    background: #e5ebeb;
    width: 100%;
    position: relative;
}
.rightBlockContent .blockMessagesTable {
    margin-left: 10%;
    margin-right: 7%;
}
.rightBlockContent .blockComments {
    background: #ffffff;
    padding-left: 30px;
    padding-top: 24px;
    padding-right: 20px;
    margin-bottom: 11px;
    border: 1px solid #e0e5e6;
}
.rightBlockContent .blockNoAnonimous {
    padding-bottom: 41px;
}
.rightBlockContent .blockComments .blockComment {
    display: table;
    width: 100%;
    cursor: default;
    position: relative;
}
.rightBlockContent .blockComments .blockPhoto {
    float: left;
    position: absolute;
    top: 0;
}

.blockMessages .photoPersonal img {
    background: none !important;
}
.rightBlockContent .blockComments .contentComment {
    display: table;
    float: right;
    width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
}
.rightBlockContent .blockComments .contentComment p {
    margin-bottom: 0px;
    margin-top: 0px;
}
.blockComment .headerComment {
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 14px;
    color: #aeb5b7;
}
.blockComment .headerComment span.dateComment {
    float: right;
}
.blockComment p.textComment {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 16px;
    color: #3c3e3f;
    padding-top: 3px;
    margin-right: 45px;
}

.blockMessages .addComment {
    background: #F2F7F7 none repeat scroll 0% 0%;
    width: 83%;
    display: table;
    padding-bottom: 10px;
    padding-top: 27px;
    border: 1px solid #E0E5E6;
    margin-left: 10%;
    margin-top: -12px;
    padding-right: 4px;
    box-sizing: border-box;
}
.headerTextarea {
    font-size: 14px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    color: #ffffff;
    background-color: #b2bfc3;
    padding-left: 7px;
    padding-bottom: 5px;
    padding-top: 11px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
}
.content {
    display: table;
    width: 100%;
    cursor: default;
    background: #f2f7f7;
    padding-left: 0px;
    position: relative;
}
.blockMessages .content .blockPersonal {
    float: left;
    padding-left: 15px;
    width: 70px;
    box-sizing: border-box;
    position: absolute;
}
.blockMessages .blockPersonal .blockPhoto {
    float: left;
    padding-left: 15px;
}
.blockMessages .content .blockPersonal .arrow {
    width: 0;
    height: 0;
    margin-top: 10px;
    border-top: 6px solid transparent;
    border-right: 5px solid #b2bfc3;
    border-bottom: 6px solid transparent;
    float: left;
    /*padding-left: 14px;*/
}
.blockMessages .content .messageText {
    float: left;
    margin-bottom: 8px;
    width: 90%;
}
.blockMessages .messageText textarea {
    min-height: 86px;
    padding-left: 10px;
    width: 100% !important;
    padding-right: 10px;
    padding-top: 5px;
    outline: none;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    border: 2px solid #b2bfc3;
    margin: 0px;
    height: 86px;
    resize: inherit;
}
.blockMessages .newMessageBtn span {
    /*margin-right: 17px;*/
    /*margin-right: 11px;*/
}

.blockMessages .blockPersonal .blockPhoto img{
    border-radius: 100%;
    height: 35px;
}
.blockMessages .newMessageBtn {
    float: right;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    text-align: right;
}
.headTask .dropdown {
    border: 1px solid #d6dcdc;
    padding: 1px 13px 6px 13px;
    color: #d6dcdc;
    background-color: rgb(242, 247, 247);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 12px;
    margin-top: 2px;
    border-radius: 2px;
}
.tratata.dropdown {
    border: 1px solid #d6dcdc;
    padding: 0px 13px 6.5px;
    position: relative;
    border-radius: 2px;
}
.footerCreateTask li .blockPhoto {
    margin-left: 0;
}
.dropdown .aboutMediator {
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
}
.dropdown .aboutMediator label:last-child{
    display: none;
    color: #aeb5b7;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 12px;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 31px;
    left: -1px;
    z-index: 5;
    border: 1px solid #ccc;
    width: 100%;
    color: #ccc;
    background-color: #fff;
    display: none;
}
.contentBlock input {
    background: rgb(255, 255, 255);
}
.dropdown li.selected {
    /*display: none;*/
}
.dropdown li {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 10px;
    height: 40px;
    border-bottom: 1px solid #e8eaeb;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-transform: capitalize;
    color: #3c3e3f;
    font-size: 14px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}
.dropdown span.selected span{
    color: #848a8b;
    padding-right: 6px;

}
.dropdown span.selected img:first-child{
    height: 20px;
    width: 30px;
    margin-bottom: -3px;
    margin-top: 2px;
}
.dropdown li .blockPhoto{
    margin-right: 9px;
}
.dropdown:hover{
    background: #d6dcdc;
    border: 1px solid #c7cdcd;
    padding: 1px 13px 6px 13px;
}
.dropdown.subject.open {
    background: #ffffff;
}
.dropdown.subject.open span.selected span{
    color: #05b5a2;
}
.dropdown.subject.open span.selected img:last-child{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.contentBlock .selectBlock {
    width: 410px;
}
.dropdown li:hover{
    background: #f2f7f7;
}
.dropdown li:hover .aboutMediator label:last-child{
    display: block;
}
.blockPhoto .photoPersonal {
    border: 2px solid #ffffff;
}
.contentMediators.blockTeam  .blockIteamTeam:hover .blockHeaderTeam {
    background-color: #05b5a2;
}
.contentMediators.blockTeam  .blockIteamTeam:hover .blockHeaderTeam .blockHeaderText p {
    color: #ffffff;
}
.dropdown.subject.open ul {
    display: block;
    top: 40px;
    border: 1px solid #e0e5e6;
}
.blockMessages .newMessageBtn span.sendToReporter,
.blockMessages .newMessageBtn span.sendToReporter:hover,
.blockMessages .newMessageBtn span.sendToReporter:active {
    background: #b2bfc3;
    border: 1px solid #b2bfc3;
}
.headTask .dropdown li .blockPhoto {
    margin-left: 0;
}
/*====================blockIteamTeam==================*/

.blockIteamTeam{
    /*margin-left: 18px;*/
    width: 258px;
    background: #ffffff;
    border: 1px solid #e0e5e6;
    display: table;
    min-height: 318px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-align-content: stretch;
    align-content: stretch;
    margin: 40px auto;
}
.blockIteamTeam .blockHeaderTeam{
    display: table;
    width: 234px;
    padding: 12px;
    min-height: 56px;
}
.blockHeaderTeam .blockHeaderText{
    display: table;
    float: left;
    padding-left: 15px;
    width: 175px;
}
.blockIteamTeam .blockPhoto .photoPersonal {
    width: 40px;
    height: 40px;
}
.blockHeaderTeam .blockHeaderText p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.blockHeaderTeam .blockHeaderText p:first-child{
    color: #3c3e3f;
    font-size: 18px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
}
.blockHeaderTeam .blockHeaderText p:last-child{
    color: #aeb5b7;
    font-size: 14px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}
.blockIteamTeam .blockMediator.escalation span{
    background: #ee613f;
}
.blockIteamTeam p.blockTextMediator{
    padding-bottom: 18px;
    line-height: 14px;
}
.blockIteamTeam .blockCircles{
    display: table;
    width: 100%;
    position: relative;
}
.blockIteamTeam .blockDays {
    display: inline-block;
    width: 74px;
    height: 74px;
}
.blockIteamTeam .triangle {
    position: relative;
    height: 60px;
    width: 60px;
}
.blockIteamTeam .blockDays .textDays {
    text-align: center;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 15px;
    bottom: 0;
    left: 0;
    height: auto;
}
/*.blockIteamTeam .blockDays .textDays p:first-child {
    font-size: 20px;
    font-family: 'OpenSansSemibold';
    margin-bottom: 0px;
    margin-top: 0px;
    color: #848a8b;
    line-height: 20px;
}*/
.blockIteamTeam .blockDays .textDays p:last-child {
    line-height: 8px;
}
.rightBlockContent .contentMediators {
    display: flex;
    /*width: 70%;*/
    width: 80%;
    margin: auto;
    margin-right: 7%;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: default;
    padding-right: 10%;
}
.rightBlockContent .contentMediators.addToTeam{
    display: none;
}
p.addMoreMediatorsBtn {
    text-align: center;
    margin-top: 40px;
    width: 90%;
}

.contentMediators.addToTeam p.title{
    width: 100%;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 0px;
    line-height: 14px;
}
/*.contentMediators.addToTeam .blockMediator span{
    border: 1px solid #d3d7d8;
    color: #aeb5b7;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Open Sans';
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 2px;
    height: 41px;
    background: #ffffff;
    margin-left: 10px;
}
.contentMediators.addToTeam .blockMediator span:hover{
    background: #05b5a2;
    color: #ffffff;
}
.contentMediators.addToTeam .blockMediator span:active{
    background: #049787;
    color: #ffffff;
}
    */
.reportIcon {
    background: url(icons/report-icon.png);
    margin-top: 75px;
    margin-left: 4px;
    width: 20px;
    height: 25px;
}
#slider {
    display: none;
    width: 35px;
    height: 160px;
    background-color: #049787;
    position: fixed;
    top: 50%;
    cursor: pointer;
    margin-top: -55px;
    z-index: 111;
}
.reportIconWhite {
    background: url(icons/report-icon-white.png);
    margin-top: 75px;
    margin-left: 4px;
    width: 20px;
    height: 25px;
}
/*====== START BLOCK ACTIVITY =======*/

/*============ blockActivity ==============*/
.rightBlockContent .blockActivity {
    display: table;
    background: #f2f7f7;
    width: 100%;
    padding-bottom: 200px;
    cursor: default;
}
.rightBlockContent .blockActivity .headerActivity{
    display: table;
    background: #e5ebeb;
    width: 100%;
}
.headerActivity .blockCaseMediators{
    padding-left: 100px;
    padding-right: 60px;
    padding-bottom: 35px;
    padding-top: 30px;
}
.headerActivity .titleCaseMediators{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 19px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}
.headerActivity .displayMediators {
    padding-left: 10px;
    display: table;
    width: 100%;
}
.headerActivity .displayMediators .blockMediator {
    padding-left: 35px;
    float: left;
    display: flex;
    padding-top: 15px;
    padding-right: 1%;
    width: 27%;
}
.blockMediator .personalText .title{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #848a8b;
    font-size: 14px;
    float: none;
}
.blockMediator .personalText .text{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #aeb5b7;
    font-size: 14px;
}
.blockMediator .blockPhoto {
    float: left;
    padding-right: 10px;
}

/*------------contentActivity---------*/
.blockActivity .contentActivity {
    display: table;
    width: 100%;
}
.blockActivity .contentActivity .contentBlockActivity {
    display: block;
    margin-left: 100px;
    margin-right: 95px;
    padding-top: 20px;
    padding-bottom: 36px;
    padding-left: 19px;
    padding-right: 9px;
    border-bottom: 1px solid #e0e5e6;
}
.contentBlockActivity .blockImg {
    float: left;
    padding-top: 5px;
}
.contentBlockActivity .blockInfo {
    display: block;
    padding-left: 50px;
}
.contentBlockActivity .blockInfo .topText {
    display: table;
    width: 100%;
}
.contentBlockActivity .topText span.title {
    color: #3c3e3f;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 16px;
    float: none;
}
.contentBlockActivity .topText span.title .reviewStage {
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 16px;
}
.contentBlockActivity .topText span.date {
    float: right;
    color: #aeb5b7;
    font-size: 12px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}
.contentBlockActivity .blockInfo p.text {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #aeb5b7;
    font-size: 14px;
}
.contentBlockActivity .blockInfo p.text .personalName{
    color: #848a8b;
}
.blockActivity .contentActivity .blockAnonimous{
    margin-left: 112px ;
    padding-left: 7px;
}
/*===== END BLOCK ACTIVITY ======*/

/*====== START TASK ID =====*/
.blockTasks .blockComents {
    display: table;
    width: 100%;
    background-color: #ffffff;
}
.blockTasks .blockComment {
    border-left: 10px solid #ffffff;
    padding-top: 13px;
    height: 100%;
}
.blockTasks .contentComment {
    display: block;
    margin-right: 15px;
    border-bottom: 1px solid #e8eaeb;
    margin-left: 83px;
}
.blockTasks .blockPhoto {
    margin-left: 23px;
    margin-right: 21px;
}
.blockTasks .blockPhoto1 {
    margin-left: 23px;
    margin-right: 0px;
    display: table;
    float: left;
}
.blockTasks .blockComment .headerComment {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.addComment .blockPhoto1 .photoPersonal {
    border: none;
    float: left;
    margin-right: 8px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background: #aeb5b7;
    background: #ffffff;
    border-radius: 100%;
}
.content .blockPhoto1 .arrow {
    width: 0;
    height: 0;
    margin-top: 10px;
    border-top: 6px solid transparent;
    border-right: 5px solid #b2bfc3;
    border-bottom: 6px solid transparent;
    float: left;
}

.blockTasks .blockComment div.textComment {
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 38px;
    padding-top: 0px;

}
.blockTasks .blockComment div.textComment p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}
.blockTasks p.assignedTo {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 38px;
}
.blockTasks .assignedTo span.labelArrow {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: transparent;
    color: transparent;
    width: 6px;
    height: 6px;
    border-top: 2px solid #ffac28;
    border-right: 2px solid #ffac28;
    float: left;
    margin-top: 9px;
    margin-right: 0px;
}
.blockTasks .assignedTo span.assignedToText {
    font-size: 12px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    color: #aeb5b7;
    margin-left: 10px;
}
.blockTasks .assignedTo span.assignedToName {
    font-size: 12px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    color: #05b5a2;
    margin-left: 8px;
}
.blockTasks .blockComment:last-child .contentComment{
    border-bottom: none;
}
.blockComents + .addComment{
    background: #f2f7f7;
    width: 100%;
    display: table;
    padding-bottom: 10px;
    padding-top: 17px;
    border-top: 1px solid #e0e5e6;
}
.content .blockPhoto .arrow {
    width: 0;
    height: 0;
    margin-top: 10px;
    border-top: 6px solid transparent;
    border-right: 5px solid #b2bfc3;
    border-bottom: 6px solid transparent;
    float: left;
}
.addComment .blockPhoto .photoPersonal {
    border: none;
    float: left;
    margin-right: 8px;
}
.addComment .content .messageText {
    float: left;
    margin-bottom: 8px;
    width: 92%;
    box-sizing: border-box;
}
.addComment .content .messageText1 {
    float: left;
    margin-bottom: 8px;
    width: 100%;
    padding-left: 70px;
    box-sizing: border-box;
}
.addComment .messageText1 textarea,
.addComment .messageText textarea {
    min-height: 86px;
    padding-left: 10px;
    width: 100% !important;
    padding-right: 15px;
    padding-top: 5px;
    outline: none;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    border: 2px solid #b2bfc3;
    margin: 0px;
    height: 86px;
    resize: inherit;
    font-size: 16px;
    box-sizing: border-box;
}
.blockComents + .addComment .messageText1 textarea,
.blockComents + .addComment .messageText textarea {
    width: 96% !important;
}
.blockComents + .addComment .blockPhoto {
    float: left;
    margin-right: 0px;
    margin-left: 33px;
}
.newCommentBtn{
    text-align: right;
    display: table;
    /*width: 92.5%;*/
    width: 97.8%;
}
#terms-of-service {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 740px;
    height: 340px;
    margin-left: -370px;
    margin-top: -170px;
}
.newCommentBtn span {
    border: 1px solid #049787;
    background: #05b5a2;
    color: #fffefe;
    padding: 5px 13px 5px 13px;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 11pt;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    /* height: 41px; */
    display: table;
    float: right;
}
.newCommentBtn span:hover {
    border: 1px solid #078f80;
    background: #049f8e;
}
.newCommentBtn span:active {
    border: 1px solid #048173;
    background: #048173;
}
.addComment .messageText textarea::-webkit-input-placeholder{
    color: #3c3e3f;
}
.addComment .messageText textarea:-ms-input-placeholder{
    color: #3c3e3f;
}
.addComment .messageText textarea:-moz-placeholder{
    color: #3c3e3f;
}
.addComment .messageText textarea::-moz-placeholder{
    color: #3c3e3f;
}
.blockTasks .headTask {
    display: table;
    width: 100%;
    background-color: #f2f7f7;
    border-bottom: 1px solid #e0e5e6;
}
.blockTasks .headTask .menuCasesBlock {
    width: auto;
    background-color: #f2f7f7;
    min-height: 0px;
    display: table;
    cursor: default;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0%;
    float: left;
}

.labelCases {
    padding-left: 20px;
    font-size: 18px;
    padding-right: 15px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    color: #aeb3b4;
    float: left;
    line-height: 42px;
}

.blockTasks .headTask span.labelCases {
    padding-left: 20px;
    font-size: 18px;
    padding-right: 15px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
}

.blockTasks .headTask span.labelArrow {
    width: 7px;
    height: 7px;
    margin-top: 18px;
    margin-right: 0px;
}
.rightBlockContent .blockTasks .headTask span.labelArrow {
    margin-right: 10px;
}
.rightBlockContent .blockTasks .headTask span.casesDot span {
    margin-right: 10px;
}
.blockTasks .headTask span.casesDot span{
    width: 12px;
    height: 12px;
    margin-top: 16px;
}
.blockTasks .headerBlockTextRight span.text {
    font-size: 18px;
    padding-left: 0px;
    margin-top: 9px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    min-width: 100px;
}
.blockTasks .headerBlockTextRight span.textDate {
    font-size: 12px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    color: #aeb5b7;
    padding-left: 2px;
}
.blockTasks .menuCasesBlock .headerBlockTextRight {
    display: table;
    float: left;
}
.blockTasks .menuCasesBlock .completeTaskBtn {
    float: left;
    display: table;
    margin-top: 4px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 30px;
}
form.selectBlock.assignedToSelect {
    float: right;
    display: table;
    height: 81px;
    height: 91px;
    background-color: #ebf1f1;
}
form.selectBlock.assignedToSelect:hover {
    background-color: #e0e6e6;
}
form.selectBlock.assignedToSelect p.labelAssignedTo {
    text-align: center;
    font-size: 12px;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 7px;
    padding-top: 8px;
    color: transparent;
    background-color: transparent;
}
form.selectBlock.assignedToSelect:hover p.labelAssignedTo {
    color: #ffffff;
    background-color: #05b5a2;
}
.blockTasks .headTask.pageTask {
    padding-top: 0px;
    padding-bottom: 0px;
}
.blockTasks .headTask.pageTask .menuCasesBlock {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-top: 25px;
}
form.selectBlock.assignedToSelect .dropdown {
    border: none;
    padding-left: 22px;
    padding-right: 18px;
    background-color: transparent !important;
    padding-bottom: 27px;
}
form.selectBlock.assignedToSelect .dropdown:hover {
    border: none;
    padding-left: 22px;
    padding-right: 18px;
    background-color: transparent !important;
}
form.selectBlock.assignedToSelect span.selected {
    display: table;
}
form.selectBlock.assignedToSelect .dropdown span.selected img:first-child {
    height: 30px;
    width: 30px;
    margin-bottom: -3px;
    margin-top: 2px;
    float: left;
    border-radius: 100%;
}
form.selectBlock.assignedToSelect .dropdown span.selected span {
    color: #848a8b;
    padding-right: 10px;
    float: left;
    text-transform: none;
    margin-top: 6px;
}
form.selectBlock.assignedToSelect .dropdown span.selected img:last-child {
    margin-top: 11px;
}
form.selectBlock.assignedToSelect .dropdown.subject.open {
    background: #ffffff;
    border-left: 1px solid #dfe3e3;
    border-right: 1px solid #dfe3e3;
}
.dropdown.subject.open  ul {
    display: block;
    top: 30px;
    border: 1px solid #e0e5e6;
}
form.selectBlock.assignedToSelect .dropdown li.selected {
    display: block;
}
li#textAssigntaskTo {
    text-align: center;
    padding: 0px;
    margin: auto;
    color: #848a8b;
    font-size: 12px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    text-transform: uppercase;
    display: block;
    height: 13px;
    background-color: #f2f7f7;
    border-bottom: 1px solid #e0e5e6;
    padding-top: 11px;
    padding-bottom: 9px;
}
form.selectBlock.assignedToSelect .dropdown li .blockPhoto {
    margin-right: 9px;
    margin-left: 5px;
}
/*=======  END TASK ID  ======*/
.blockContactReportBtn a{
    text-decoration: none;
}
/*======= right Block =======*/
#rightRight {
    right: 0;
    z-index: 1;
    display: none;
    width: 230px;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 25px;
    background: #ABB9BB;
    border-right: 5px solid #ABB9BB;
    /*my*/
    top: 61px;
}
.rightBlockContent .blockMessages #rightRight{
    top: 0;
}
#rightRight .blockActivity {
    background: #ABB9BB;
    padding-bottom: 100px;
}
#rightRight .fullContainer{
    background: #ABB9BB;
}
#rightRight .contentBlockActivity .topText p.date {
    color: #D7DBDB;
    font-size: 12px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
#rightRight .contentBlockActivity .topText span.title {
    color: #FFF;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 14px;
    float: none;
}
#rightRight .contentBlockActivity .topText span.title .reviewStage {
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 14px;
}
#rightRight .contentBlockActivity .blockImg {
    float: left;
    padding-top: 24px;
}
#rightRight .contentBlockActivity .blockInfo p.text{
    color: #D7DBDB;
    margin-top: 0px;
    font-size: 12px;
}
#rightRight .contentBlockActivity .blockInfo p.personalName{
    color: #fff;
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 5px;
}
#rightRight .blockActivity .contentActivity .contentBlockActivity {
    margin-left: 10px;
    margin-right: 15px;
    border-bottom: 1px solid #C6CBCD;
    padding: 10px 0px 27px 12px;
}
#rightRight .headerActivity .blockCaseMediators {
    padding-left: 10px;
    padding-right: 8px;
}
#rightRight .contentBlockActivity .blockInfo {
    padding-left: 36px;
}
#rightRight .headerActivity .displayMediators .blockMediator {
    padding-left: 0px;
}
.positionActivityIcon span{
    display: none;
}
.positionActivityIcon.active {
    width: 260px;
}
.positionActivityIcon.active #activityIcon{
    left: 0;
    margin-left: 30px;
}
.positionActivityIcon.active span{
    color: #ffffff;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 16pt;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70px;
    line-height: 16pt;
    padding-top: 23px;
    display: block;
}
#rightRight::-webkit-scrollbar{
    width: 4px;
}
#rightRight::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #92A0A3;
    background-color: #92A0A3;
}
#rightRight::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #92A0A3;
    background-color: #92A0A3;
}
#rightRight::-webkit-scrollbar-track{
    border-width:0;
}
#rightRight::-webkit-scrollbar-track{
    border-left: solid 1px #ABB9BB;
    background-color: #ABB9BB;
}
/*======DATEPICKER======*/
#datepicker {
    color: #848a8b;
    background: rgb(242, 247, 247);
    border: none;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
#datepicker:hover {
    background: #d6dcdc;
}
.ui-datepicker {
    width: 220px !important;
}
.ui-datepicker-calendar thead {
    display:none !important;
}
.ui-datepicker-header {
    border-bottom: 1px solid rgb(224, 229, 230) !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    border:none;
}
.ui-datepicker-month, .ui-datepicker-year {
    font-size:18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    color: rgb(114, 124, 126);
}
.ui-state-default {
    color:rgb(60, 62, 63) !important;
    font-size:18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}
.ui-state-default:hover {
    font-size:18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    background:rgb(200, 207, 209) !important;
    border:none;
}
.ui-icon-circle-triangle-w {
    background-image: url("img/left.png") !important;
    background-repeat: no-repeat;
    background-position: 0px 0px !important;
}
.ui-icon-circle-triangle-e {
    background-image: url("img/right.png") !important;
    background-repeat: no-repeat;
    background-position: 0px 0px !important;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    margin-left: -14px !important;
    top: 40% !important;
    margin-top:0px !important;
}
.ui-icon-circle-triangle-w {
    background-position: 5px 0px !important;
}
.ui-icon {
    width: 26px !important;
}
/*======END DATEPICKER=====*/


/*--- POLOS START ----*/
.menuCasesBlock .headerPos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
    float: left;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 12px;


    position: absolute;
    margin-top: 1px;
    height: auto;
    bottom: -3px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.11);
    z-index: 1;
}
.menuCasesBlock .headerPos .positionN {
    border-bottom: 4px solid #d7e3e4;
    width: 16.6%;
    width: 20.6%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menuCasesBlock .headerPos .positionN.active {
    border-bottom: 4px solid #05b5a2;
}
.menuCasesBlock .headerPos .positionN.active_cc {
    border-bottom: 4px solid #4da456;
}
.menuCasesBlock .headerPos .positionN + .polos {
    height: 6px;
    width: 2px;
    background: #d7e3e4 none repeat scroll 0% 0%;
    margin-bottom: -35px;
}
.menuCasesBlock .headerPos .positionN.active + .polos {
    background: #05b5a2 none repeat scroll 0% 0%;
}
.menuCasesBlock .headerPos .positionN.active_cc + .polos {
    background: #4da456 none repeat scroll 0% 0%;
}
.menuCasesBlock .headerPos span {
    color: #c5c9c9;
    vertical-align: bottom;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 12px;
}

/*--- POLOS END ----*/

/*====DATE ON RIGHT SIDE======*/
@media (max-width: 1534px) {
    .blockTask .date {
        width: 20%;
    }
    .blockTask .blockTitle,
    .blockHeaderTask .blockTitle {
        width: 47%;
    }
    /*.addComment .content .messageText {
        width: 89%;
    }*/
}
/*=====END DATE ON RIGHT SIDE=======*/

/*======Left-block with days========
@media (max-width: 1527px){
    .leftHeader .blockInfoDays span.daysRight {
        padding-right: 5px;
    }
    .leftHeader .blockInfoDays  span.title {
        padding-left: 25px;
    }
}
@media (max-width: 1458px) {
    .leftHeader .blockInfoDays  span.title {
        padding-left: 15px;
    }
}
@media (max-width: 1410px) {
    .leftHeader .blockInfoDays  span.title {
        padding-left: 10px;
    }
}
@media (max-width: 1387px) {
    .leftHeader .blockInfoDays  span.title {
        padding-left: 5px;
    }
}
@media (max-width: 1365px) {
    .leftHeader .blockInfoDays span.daysRight {
        padding-right: 5px;
        padding-top: 0px;
    }
    .leftHeader .blockInfoDays  span.title {
        padding-left: 5px;
    }
}
@media (max-width: 1227px) {
    .leftHeader .blockInfoDays span.daysRight {
        font-size: 15px;
        margin-top: 1px;
    }
    .leftHeader .blockInfoDays  span.title {
        font-size: 15px;
    }
    .leftHeader .blockInfoDays span.days {
        font-size: 15px;
    }
}
@media (max-width: 1135px) {
    .leftHeader .blockInfoDays span.daysRight {
        font-size: 13px;
        margin-top: 4px;
    }

    .leftHeader .blockInfoDays  span.title {
        font-size: 13px;
    }
}
@media (max-width: 1200px) {
    .leftHeader .blockInfoDays span.daysRight
    {
        float: none;
        margin-left: 100px;
    }
}
======END Left-block with days===*/

/*====#casesHeared======*/
@media (max-width: 1349px) {
    .caseesTab {
        /*width: 130px;*/
    }
}

@media (max-width: 1204px) {
    .caseesTab {
        /*width: 120px;*/
    }
}

@media (max-width: 1131px) {
    .caseesTab {
        /*width: 110px;*/
    }
}

@media (max-width: 1058px) {
    .caseesTab {
        /*width: 105px;*/
        font-size: 16px;
    }
}

@media (max-width: 1023px) {
    .caseesTab {
        /*width: 100px;*/
    }
}

@media (max-width: 986px) {
    #menu h2:first-child {
        width: 70px;
    }
    #menu h2:nth-child(n+4) {
        width: 70px;
    }
}
/*=======END #casesHeared======*/

/*======HEADER======*/

@media (max-width: 1217px) {
    #header .position {
        /*width: 130px;*/
    }
    /*#header .leftLogo {
        width: 12%;
    }*/
}
@media (max-width: 1133px) {
    #header .position {
        /*width:130px;*/
    }
    .positionSpecial {
        min-width: 155px;

    }
}
@media (max-width: 1107px) {
    #header .position {
        /*width:121px;*/
    }
    .positionSpecial {
        min-width: 140px;

    }
}
@media (max-width: 1048px) {
    .headerPadding {
        width: 55%;
    }
}
@media (max-width: 1001px) {
    /*#header .leftLogo {
        width: 11%;
    }*/
    .positionIconStatistic {
        margin-left: 20px;
    }
    .positionIconMessages {
        margin-left: 20px;
    }
}
@media (max-width: 948px) {
    .positionIconStatistic {
        margin-left: 15px;
    }
    .positionIconMessages {
        margin-left: 15px;
    }
    #iconCases {
        margin-left: 15px;
    }
    .positionIconTasks {
        margin-left: 15px;
    }
}
@media (max-width: 937px) {
    #header .position {
        width: 106px;
    }
    .positionSpecial {
        min-width: 142px;
    }
}
@media (max-width: 800px) {
    #header .position,
    #header .positionSpecial {
        width: 100%;
        text-align: center;
    }
    #header .position > a,
    #header .positionSpecial > a {
        margin: 0 auto;
    }
    .positionSpecial {
        min-width: 142px;
    }
}
@media (max-width: 917px) {
    #header .leftLogo {
        width: 15%;
    }
}

/*========END HEADER=========*/

.unread {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    float: left;
    font-size: 18px;
    color: #3c3e3f;
    margin-top: 35px;
    line-height: 18px;
    padding-right: 5px;
}


/*@media (max-width: 1360px) {
    .caseesTab {
        width: 160px;
    }
}*/

@media all and (-ms-high-contrast:none)
{
    /*IE 10*/
    .blockDays .canvas {
        margin-left: 0;
    }
    .leftContentFooter {
        width: 446px;
    }
    /*IE 11*/
    *::-ms-backdrop, .blockDays .canvas {
        margin-left: 0;
    }
    *::-ms-backdrop, .leftContentFooter {
        width: 446px;
    }
}

/*================ START case/Index =======================*/

.leftBlockContent .generalInformation,
.leftBlockContent .partiesInformation,
.leftBlockContent .caseInformation {
    margin-left: 0px;
}
.leftContent #generalInfo .title {
    /*margin-bottom: 0px;*/
}
.leftContent .firstPosition .blockPartiesInformation div {
    padding-top: 0px;
}
@media (max-width: 1503px) {
    div#casesHeared .caseesTab {
        /*width: 130px;*/
        margin-right: 5px;
        white-space: nowrap;
    }
    #casesHeared #menu {
        padding-right: 0px;
    }
    div#casesHeared .caseesTab span {
        margin-left: 7px;
    }
}
/*----------------------- Modal Window ----------------------*/

.themodal-lock {
    /* when modal is opened we're removing scrollbars from the main content */
    overflow: hidden;
}

.themodal-overlay {
    /* overlay will stay fixed and will take all the space available */
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;

    /* if modal content doesn't fit inside the overlay, display scrollbars */
    overflow: auto;

    /* allow one-finger iPad scrolling */
    -webkit-overflow-scrolling: touch;

}

/* fix for iPad glitches */
.themodal-overlay > * {
    -webkit-transform: translateZ(0px);
}

.themodal-overlay {
    background: rgba(0, 0, 0, 0.5);
    /* IE6ÖIE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7F000000, endColorstr = #7F000000);
    zoom: 1;
}
.modal {
    background: #eee;
    width: 500px;
    margin: 20px auto;
    border: 3px solid #666;
    padding: 20px;
    min-height: 150px;
}
.modal .close {
    float: right;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    margin-top: -21px;
    color: #909495;
}
.modal .text {
    text-align: center;
}

.modalOkCancelBlock {
    float: right;
    margin-top: 120px;
    margin-right: 7px;
}

.reassignMediators {
    font-size: 18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    margin-top: 10px;
    position: absolute;
}
/*--- END Modal Window -----*/
.rightBlockContent .resolveSoledBlock .positionDropDown .closeCustom.flag {
    right: 45px;
    top: -27px;
}
.caseMediatorBig {
    width: calc(100% - 105px);
    /*display: table;*/
    border-left: 2px solid #03796c;
    margin-left: -2px;
}
.caseMediatorBig .littleText {
    font-size: 16px;
    padding-top: 5px;
    background-color: #05B5A2;
    color: #fff;
    padding-left: 26px;
    padding-bottom: 9px;
    border-left: 2px solid #049182;
    margin-left: -2px;
}
.caseMediatorBig .blockPhoto .photoPersonal {
    border: 2px solid #049787;
}
.firstHeader.resolveSoledBlock {
    border-left: 2px solid #049182;
    margin-left: -2px;
}
.firstHeader.resolveSoledBlock .positionActivityIcon {
    right: -2px;
}
.caseMediatorBig .postionButtons {
    border-left: 2px solid #049182;
    margin-left: -2px;
}
.blockTasksSmallRight{
    width: calc(97% - 105px);
    margin-left: 3%;
    margin-right: 0;
}
.resolveSoledBlock .positionDropDown .dropDownfirstHeader.flag {
    right: 45px;
    top: -27px;
}
.caseMediatorBig .displayMediators .status{
    border: 2px solid #049787;
}
.caseMediatorBig .regularText {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 8px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}
.caseMediatorBig .openSansText {
    font-size: 16px;
    line-height: 18px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    padding-bottom: 20px;
}
.caseMediatorBig .forText {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #049787;
}
.caseMediatorBig .openSansText:last-child{
    padding-bottom: 0;
}
/*==== END case/Index =====*/