@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('fonts/OpenSans/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans/OpenSans-Bold.ttf');
}

body{
    margin: 0 0 0 0;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    background: #92a0a3;
}

.main{
    max-width: 980px;
    margin: 0 auto;
    height: 100%;
    /*background: #f2f7f7;*/
}
.logo{
    float: left;
    margin: 15px 0 0 20px;
}
.headerMenu{
    float: right;
    height: 100%;
}
.headerMenu ul{
    height: 100%;
    margin-top: 13px;
    list-style-type: none;
}
.headerMenu ul li{
    cursor: pointer;
    color: rgb(146,160,163);
    display: inline;
    padding: 35px 25px 30px 25px;
    font-size: 14px;
}
.headerMenu ul li a {
    text-decoration: none;
    color: rgb(146,160,163);
}
.headerMenu li:after {
    content: " \d7";
    font-size: 19px;
    color: #92a0a3;
    position: relative;
    top: 2px;
}
.headerMenu .logIn{
    border-left: 1px solid rgb(206,211,211);
    padding: 6px 19px 6px 25px !important;
    color: rgb(56,73,77) !important;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
}

.headerMenu ul li:hover{
    /*color: rgb(120,120,120);*/
}
.header{
    position: relative;
    height: 60px;
    background-color: rgb(229,235,235);
}
.secondaryMenu{
    height: 110px;
    background-color: rgb(255,255,255);
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    width: 100%;
}
.secondLogo{
    float: left;
    width: 25%;
    height: 100%;
}
.secondaryMenu ul{
    margin-bottom: 0;
    margin-top: 26px;
}

.headerPos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 75%;
    height: 34px;
    float: left;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 12px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.11);
    z-index: 1;
}
.positionN span {
    padding-top: 22px;
}
.headerPos .positionN {
    border-bottom: 4px solid #e5f3f2;
    width: 135px;
    width: 145px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.headerMenuAbout {
    float: left;
    position: absolute;
    height: 100%;
    left: 527px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 14px;
}
.headerMenuAbout ul{
    height: 100%;
    margin-top: 19px;
    list-style-type: none;
}
.headerMenuAbout li {
    float: left;
}
.headerMenuAbout a {
    text-decoration: none;
    color: #92a0a3;
}
.headerPos .positionN.active,
.headerPos .positionN.active_сс {
    border-bottom: 4px solid #05B5A2;
}
.headerPos .positionN + .polos {
    height: 6px;
    width: 2px;
    background: #e5f3f2 none repeat scroll 0% 0%;
    margin-bottom: -36px;
}
.headerPos .positionN.active + .polos {
    background: #05B5A2 none repeat scroll 0% 0%;
}


/*.settingmenu ul{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
}*/
.secondaryMenu ul li{
    margin-right: -4px;
    cursor: pointer;
    color: rgb(146,160,163);
    display: inline;
    padding: 18px 46px 0px 45px;
    border-bottom: 3px solid rgb(215,227,228);
    font-size: 12px;
}
.secondaryMenu ul li:hover{
    color: rgb(120,120,120);
    border-bottom: 3px solid rgb(5,181,162);
    font-weight: bolder;
}

.positionN:hover {
    font-weight: bolder;
}

.secondaryMenu ul li.active{
    color: rgb(120,120,120);
    border-bottom: 3px solid rgb(5,181,162);
}
.secondaryMenu .statusTitle{
    height: 60px;
    width: 100%;
}
.secondaryMenu .title{
    margin-top: 36px;
    float: left;
    font-size: 26px;
    padding-left: 35px;
    color: rgb(56,73,77);
    cursor: default;
}
.secondaryMenu .status{
    text-align: right;
    width: initial;
    margin: 30px 20px 0px 0px;
    margin-bottom: 0;
    color: rgb(56,73,77);
    float: right;
    font-size: 12px;
    cursor: default;
}
.review{
    color: rgb(5,181,162);
    font-size: 20px;
    line-height: 20px;
}
.settingMenu{
    height: 60px;
    background-color: rgb(171,185,187);
}
.settingMenu ul li{
    cursor: pointer;
    color: rgb(215,219,219);
    float: left;
    list-style-type: none;
    font-size: 18pt;
    padding: 18px 42px 0px 40px;

}
.settingMenu ul li.hover,.settingMenu ul li.active{
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid rgb(229,235,235);
}
.settingMenu ul li:hover{
    color:rgb(255,255,255);
}
.rotatedRecatngle{
    background-color: rgb(229,235,235);
}
.arrow{
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid rgb(229,235,235);
}
.treangle{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-bottom: 11px solid #f2f7f7;
    position: relative;
    margin-top: -15px;
    float: right;
}
.selectedMenu{
    display: table;
    width: 100%;
    background-color: rgb(229,235,235);
    cursor: default;
}
.data{
    max-width: 820px;
    margin: 0 auto;
    padding-top:35px;
}
.dataPosts{
    max-width: 820px;
    margin: 0 auto;
    padding-top:29px;
    display: table;
    width: 100%;
    border-bottom: 1px solid rgb(224,229,230);
}
.leftBlock{
    /*margin-left: 40px;*/
    margin-left: 12px;
}
.rightBlock{
    float: right;
}
.button{
    cursor: pointer;
    font-size: 11pt;
    font-weight: bold;
    color: rgb(95,203,191);
    padding: 4px 4px 4px 4px;
    border: 1px solid rgb(95,203,191);
}
.button:hover{
    color: rgb(95,203,191);
    background-color: rgb(95,203,191);
    color: rgb(229,235,235);
    padding: 4px 4px 4px 4px;
    border: 1px solid rgb(95,203,191);
}
.content{
    display: table;
    width: 100%;
    cursor: default;
    background: #f2f7f7;
}

.listHead{
    font-size: 20px;
    color: rgb(56,73,77);
}
.listLeft{
    color: rgb(161,168,168);
    float:left;
    font-size: 12px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    padding-left: 9px;
}

.reportBlock{
    color: rgb(161,168,168);
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 10pt;
    float:left;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 17px;
}
.reportBlock table {
    width: 100%;
    padding-left: 9px;
}
.report{
    padding-left: 9px;
    clear: both;
}
.titleReport{
    padding-top: 22px;
    /*padding-bottom: 15px;*/
    width: 25%;
    float: left;
}
.reportText{
    color: rgb(114,124,126);
    padding-top: 14px;
    /*padding-bottom: 15px;*/
    font-size: 12pt;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    width: 75%;
    float:left;
}
.positionReportText {
    width: 75%;
}
.positionTitleReport {
    width: 25%;
}
.reportTextBlack {
    color: rgb(114,124,126);
    font-size: 12pt;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
}
.listRight{
    color: rgb(114,124,126);
    padding-left: 20px;
    float:left;
    font-size:12px;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
}
.listRight p {
    margin-top: 16px;
}
.titleReportAll{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    float: left;
}
.padText{
    padding-left: 25px;
}

.files .item{
    width: 50%;
    float:left;
    padding-bottom: 45px;
    padding-left: 20px;
}
.files .item .description{
    font-weight: bold;
    color: rgb(60,62,63);
    padding-left: 15px;
}
.files .item a{
    font-weight: normal;
    text-decoration: none;
    color: rgb(68,199,185);
    border-bottom: 1px solid rgb(68,199,185);
    /*cursor: default;*/
}
.files .item a:hover{
    /*font-weight: bold;*/
}
.square{
    width: 10px;
    height: 10px;
    background-color: rgb(174,181,183);
    margin-top: -15px;
    float: right;
    position: relative;
}
.imgCorner
{
    float:left;
    width: 40px;
    height: 50px;
}
.files .item img{
    width: 40px;
    height: 50px;
}
.files .item .description{
    float: left;
}
.main .footer {
    background: #92a0a3;
    text-align: right;
    padding-top: 26px;
    padding-bottom: 45px;
    padding-right: 11px;
    color: #ffffff;
    font-weight: bold;
    cursor: default;
}

.dataPosts .reportContent{
    padding-bottom: 70px;
}
.dataPosts .reportContent p {
    color: #05b5a2;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    padding-left: 60px;
    margin-top: 0px;
    margin-bottom: 31px;
    text-transform: uppercase;
}
.reportContent .detailsText textarea {
    min-height: 126px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    min-width: 737px;
    max-width: 737px;
    outline: none;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    border: 2px solid #b2bfc3;
}
.reportContent .detailsText textarea:hover{
    border: 2px solid #05b5a2;
}
.reportContent .detailsText textarea:hover:after{
    content: "xcvcv";
}
.reportContent .detailsText {
    float: right;
}
.reportContent .sendBtn{
    padding-top: 10px;
    width: 100%;
}
.reportContent .sendBtn span,
.blockMessages .newMessageBtn span {
    background: #05b5a2;
    color: #fff;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #049787;
    cursor: pointer;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 2px;
    display: table;
    float: right;
    padding: 5px 13px 5px 13px;
}
.blockMessages .newMessageBtn span {
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
}
.blockMessages .photoPersonal img{
    background: none !important;
}
.reportContent .sendBtn span:hover{
    background: #049787;
}
.incidentDescription .text {
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 14px;
    color: #727c7e;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
}
.reportContent .blockPhoto {
    float: left;
}

.statusPersonal {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #05b5a2;
    border-radius: 100%;
    border: 2px solid #fff;
    margin-left: 23px;
}
.blockPhoto .photoPersonal {
    width: 35px;
    height: 35px;
    overflow: hidden;
    background: #fff;
    border-radius: 100%;
}
.photoPersonal img {
    width: 35px;
    height: auto;
    width: 100%;
    height: 100%;
    background: #e5ebeb;
}

/*============  blockMessages  ==============*/
.main .blockMessages{
    display: table;
    background: #e5ebeb;
    width: 100%;
}
.main .blockMessagesTable {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.main .blockComments {
    background: #fff;
    padding-left: 30px;
    padding-top: 24px;
    padding-right: 20px;
    margin-bottom: 11px;
    border: 1px solid #e0e5e6;
}
.main .blockCommentAndAnswer {
    padding-left: 30px;
    padding-top: 24px;
    border-left: 10px solid #b2bfc3;
}
.main .blockAnonimous {
    padding-bottom: 40px;
}
.main .blockNoAnonimous {
    padding-bottom: 40px;
}
.main .blockNoAnonimous .replyBlock{
    display: none;
}
.main .blockNoAnonimous:hover {
    padding-bottom: 40px;
}
.main .blockNoAnonimous:hover .replyBlock{
    display: block;
}
.main .blockComments .blockPhoto {
    float: left;
}
.main .blockComments .contentComment {
    display: table;
    width: 93%;
    float: right;
}
.main .blockComments .blockComment {
    display: table;
    width: 100%;
    cursor: default;
}
.main .blockComments .contentComment p{
    margin-bottom: 0px;
    margin-top: 0px;
}
.blockComment .headerComment{
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 12px;
    color: #aeb5b7;
}
.blockComment p.textComment {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 16px;
    color: #3c3e3f;
    padding-top: 3px;
}
.blockComment .headerComment span.dateComment {
    float: right;
}

/*.blockMessages .addComment {
  background: #f2f7f7;
  width: 100%;
  display: table;
  padding-bottom: 10px;
  padding-top: 17px;
  border: 1px solid #e0e5e6;
}*/

.blockMessages .addComment {
    background: #f2f7f7;
    width: 79.8%;
    margin-left: 10%;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 17px;
    border: 1px solid #e0e5e6;
    margin-top: -15px;
    margin-bottom: 15px;
}

.blockMessages .content .blockPersonal {
    float: left;
    padding-left: 15px;
}
.blockMessages .blockPersonal .blockPhoto {
    float: left;
    padding-left: 15px;
}
.blockMessages .blockPersonal .blockPhoto img {
    border-radius: 100%;
    height: 35px;
}
.blockMessages .content .blockPersonal .arrow {
    width: 0;
    height: 0;
    margin-top: 10px;
    border-top: 6px solid transparent;
    border-right: 5px solid #02B4A1;
    border-bottom: 6px solid transparent;
    float: left;
}
.blockMessages .content .blockPersonal .arrow.gray {
    border-right: 5px solid #B2BFC3;
}
.blockMessages .content .messageText {
    /*float: left;*/
    margin-bottom: 8px;
}
.blockMessages .messageText textarea {
    min-height: 86px;
    padding-left: 10px;
    padding-right: 14px;
    padding-top: 5px;
    min-width: 665px;
    max-width: 665px;
    outline: none;
    border: 2px solid #02B4A1;
    overflow: auto;
    resize: none;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 16px;
}
.blockMessages .messageText textarea.gray{
    border: 2px solid #B2BFC3;
}

.blockMessages .messageText textarea::-webkit-input-placeholder{
    color: #3c3e3f;
}
.blockMessages .messageText textarea:-ms-input-placeholder{
    color: #3c3e3f;
}
.blockMessages .messageText textarea:-moz-placeholder{
    color: #3c3e3f;
}
.blockMessages .messageText textarea::-moz-placeholder{
    color: #3c3e3f;
}

.blockMessages .newMessageBtn span {
    margin-right: 9px;
}
.replyBlock span {
    background: #fff;
    color: #05b5a2;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid #05b5a2;
    cursor: pointer;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
}
.replyBlock span:hover{
    color: #fff;
    background: #05b5a2;
    border: 1px solid #049787;
}
.replyBlock{
    padding-bottom: 15px;
    margin-top: 0px;
}
.blockAnonimous .replyBlock {
    display: none;
}
.topComment.blockComment {
    padding-bottom: 38px;
}
.main .blockComments .bottomComment{
    padding-bottom: 39px;
}
.main .blockComments .bottomComment .arrowComment {
    width: 12%;
    height: 30px;
    display: table;
    float: left;
}
.main .blockComments .bottomComment .blockComment {
    float: left;
    width: 88%;
    border-top: 1px solid #e0e5e6;
    padding-top: 25px;
    margin-left: -20px;
    padding-left: 20px;
}
.main .blockComments .bottomComment .blockComment .textComment{
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
}
#iconLeft {
    background: url(icons/left.png) no-repeat;
    width: 21px;
    height: 8px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}
.iconArrowLeft {
    background: url(icons/arrowMessage.png) no-repeat;
    width: 47px;
    height: 29px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    float: right;
}

/*============ blockActivity ==============*/
.main .blockActivity {
    display: table;
    background: #f2f7f7;
    width: 100%;
    padding-bottom: 200px;
    cursor: default;
}
.main .blockActivity .headerActivity{
    display: table;
    background: #e5ebeb;
    width: 100%;
}
.headerActivity .blockCaseMediators{
    padding-left: 100px;
    padding-right: 60px;
    padding-bottom: 35px;
    padding-top: 30px;
}
.headerActivity .titleCaseMediators{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 19px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}
.headerActivity .displayMediators {
    padding-left: 10px;
    display: table;
}
.headerActivity .displayMediators .blockMediator {
    padding-left: 35px;
    float: left;
    display: flex;
    padding-top: 10px;
}
.blockMediator .personalText .title{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #848a8b;
    font-size: 16px;
}
.blockMediator .personalText .text{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #aeb5b7;
    font-size: 16px;
}
.blockMediator .blockPhoto {
    float: left;
    padding-right: 10px;
}

/*------------contentActivity---------*/
.blockActivity .contentActivity {
    display: table;
    width: 100%;
}
.blockActivity .contentActivity .contentBlockActivity {
    display: block;
    margin-left: 100px;
    margin-right: 95px;
    padding-top: 20px;
    padding-bottom: 36px;
    padding-left: 19px;
    padding-right: 9px;
    border-bottom: 1px solid #e0e5e6;
}
.contentBlockActivity .blockImg {
    float: left;
}
.contentBlockActivity .blockInfo {
    display: block;
    padding-left: 50px;
}
.contentBlockActivity .topText span.title {
    color: #3c3e3f;
}
.contentBlockActivity .topText span.title .reviewStage {
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 16px;
}
.contentBlockActivity .topText span.date {
    float: right;
    color: #aeb5b7;
    font-size: 12px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}
.contentBlockActivity .blockInfo p.text {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #aeb5b7;
    font-size: 14px;
}
.contentBlockActivity .blockInfo p.text .personalName{
    color: #848a8b;
}
.blockActivity .contentActivity .blockAnonimous{
    margin-left: 112px ;
    padding-left: 7px;
}

/*=========== Menu ===========*/
.settingMenu {
    width: 100%;
    display: table;
    cursor: default;
    height: 60px;
    background-color: rgb(171,185,187);
}
.menuItem,
.mainTitle {
    color: rgb(215, 219, 219);
    display: inline-block;
    margin-right: 15px;
    /*width: 165px;*/
    position: relative;
    text-align: center;
    font-size: 20px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    margin-top: 10px;
}
.menuItem{
    margin-right: 30px;
}
.menuItem:hover,
.mainTitle:hover {
    color: #fff;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}

.menuItem:hover span{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    background: #d7dbdb;
    color: #a6b1b3;
}
.menuItem span{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 16px;
    border: 1px solid #d7dbdb;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
    margin-left: 8px;
}
.menuItem.active span{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    border: 1px solid #049787;
    background: #049787;
    color: #fff;
}
.menuItem.active {
    color: #fff;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    cursor: default;
}
.menuItem.active::after {
    content: '';
    position: absolute;
    /*left: 0px;*/
    bottom: -13.1px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgb(229, 235, 235);
    /*margin-left: 40%;*/
    right: 23px;
}
h2.menuItem:nth-child(4).active::after {
    margin-left: 70%;
}
.mainTitle{
    display: none;
}
.settingMenu div.settingMenuItems {
    padding-left: 28px;
    padding-top: 14px;
    padding-right: 20px;
}
.settings{
    float: right;
    text-align: right;
}

/*============ blockSettings =============*/
.main .blockSettings {
    display: table;
    background: #f2f7f7;
    width: 100%;
    padding-bottom: 200px;
    cursor: default;
}
.main .blockSettings .headerSettings{
    display: flex;
    background: #e5ebeb;
    width: 100%;
    padding-top: 37px;
}
.blockSettings .titleHeaderSettings{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    margin-left: 113px;
    float: left;
}
.headerSettings .blockText{
    float: left;
    margin-left: 16px;
    display: table;
    width: 64%;
}
.headerSettings .blockText p.title {
    font-size: 20px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    color: #05b5a2;
    padding-bottom: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.headerSettings .blockText p.text {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 25px;
    font-size: 13px;
    color: #3c3e3f;
    padding-right: 3%;
}
.blockSettings .contentSettings{
    display: table;
    width: 100%;
}
.blockSettings .contentSettings .contentBlockSettings{
    display: block;
    margin-left: 100px;
    margin-right: 95px;
    margin-top: 20px;
}
.contentBlockSettings .blockSetting {
    width: 100%;
    background: #ffffff;
    border: 1px solid #e0e5e6;
}
.contentBlockSettings .blockSetting p {
    margin-top: 28px;
    padding-left: 30px;
    padding-bottom: 45px;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
}
.contentBlockSettings .blockSetting:last-child p {
    padding-bottom: 20px;
}
.contentBlockSettings .blockSetting p span{
    float: right;
    padding-right: 20px;
    color: #05b5a2;
    font-size: 14px;
    cursor: pointer;
    display: none;
}
.contentBlockSettings .blockSetting:hover p span{
    /*display: block;*/
}
.contentBlockSettings .blockSetting input[type="text"] {
    outline: none;
    padding-bottom: 33px;
    margin-left: 40px;
    margin-bottom: 1px;
    width: 90%;
    font-size: 18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    border: none;
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

/*.blockSetting:active{    
    width: 99.8%;
    border: 2px solid #05b5a2;
}*/
.blockSetting .rowBlock {
    width: 100%;
    margin-bottom: 28px;
    display: inline-block;
}
.blockSetting .rowBlock .fourBlock {
    width: 16%;
    float: left;
    padding: 10px 18px;
    margin-left: 48px;
    margin-right: 48px;
}
.blockSetting .rowBlock .fourBlock:hover {
    /*background: rgb(242, 247, 247) !important;*/
}

.fourBlock:nth-child(1) .inputBlock{
    display: table;
    float: left;
}
.fourBlock:nth-child(2) .inputBlock{
    display: table;
    margin: auto;
}
.fourBlock:nth-child(3) .inputBlock{
    display: table;
    /*float: right;*/
    margin: auto;
    width: 50px;
}
.inputBlock input[type="radio"] {
    display: none;
}
.inputBlock input[type="radio"] + span {
    background-position: top left;
}
.inputBlock span.radioButton {
    background: url(img/radio.png) no-repeat;
    padding-left: 22px;		/* Ширина картинки + пара пикселей отступа от нее до текста */
    line-height: 12px;
    height: 12px;
    display: block;
    float: left;
    margin-top: 6px;
}
.inputBlock .radioTitle{
    font-size: 18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    color: rgb(174, 181, 183);
    display: table;
}
/* Смещения для невыбранной и выбранной радиокнопки */

.inputBlock input[type="radio"] + span {
    background-position: top left;
}

.inputBlock input[type="radio"]:checked + span {
    background-position: bottom left;
}
.blockReportSummary {
    width: 100%;
}
#saveButton {
    color: rgb(4, 151, 135);
    float: right;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 14px;
    display: none;
    margin-top: 5px;
    margin-right: 30px;
    min-width: 69.3438px;
}
.greenButton {
    -webkit-appearance: none;
    border-radius: 0;
    color:rgb(255, 255 ,255);
    height:28px;
    border-radius:2px;
    border:1px solid;
    border-color:rgb(4, 151, 135);
    background-color:rgb(5, 181, 162);
    float:right;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size:14px;
    text-transform: uppercase;
    margin-bottom:70px;
    margin-right: 30px;
    cursor: pointer;
}
.sendDetails:hover {
    background-color:rgb(5, 159, 142);
}

@media (max-width: 1100px){
    .main {
        max-width: 780px;
    }
    .secondaryMenu ul li {
        padding: 18px 26px 0px 25px;
    }
    .menuItem {
        margin-right: 10px;
        width: 155px;
        font-size: 18px;
    }
    .blockSettings .titleHeaderSettings {
        font-size: 18px;
    }
    .headerSettings .blockText p.text {
        padding-right: 15%;
    }
    .blockSetting .rowBlock .fourBlock {
        width: 21%;
        padding: 10px 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .blockMessages .messageText textarea {
        min-width: 481px;
        max-width: 481px;
    }
    .reportContent .content {
        width: 100%;
    }
    .dataPosts .reportContent {
        /*width: 94%;*/
        /*padding-left: 3%;
        padding-right: 3%;*/
        width: 100%;
    }
    .reportContent .detailsText textarea {
        min-width: 595px;
        max-width: 595px;
    }
    .data {
        max-width: 680px;
    }
    .dataPosts {
        max-width: 680px;
    }

    .reportText {
        width: 70%;
    }
    .titleReport {
        width: 30%;
    }
    .blockMessages .newMessageBtn span {
        margin-right: 40px;
    }
}
@media (max-width: 840px){
    .main {
        max-width: 580px;
    }
    .headerMenu ul {
        padding-left: 10px;
    }
    .headerMenu ul li {
        padding: 35px 10px 30px 10px;
    }
    .secondLogo {
        display: none;
    }
    .secondaryMenu ul {
        padding-left: 5px;
    }
    .secondaryMenu ul li {
        padding: 18px 29px 0px 28px;
    }
    .settingMenuItems .menuItem {
        margin-right: 10px;
        width: 123px;
        font-size: 15px;
    }
    .settingMenu div.settingMenuItems {
        padding-left: 15px;
        padding-top: 6px;
        padding-right: 15px;
    }
    .settingMenu {
        height: 54px;
    }
    .data {
        max-width: 530px;
    }
    .dataPosts {
        max-width: 530px;
    }
    .titleReport {
        width: 37%;
    }
    .reportText {
        width: 63%;
    }
    .reportContent .detailsText textarea {
        min-width: 450px;
        max-width: 450px;
    }
    .blockSettings .contentSettings .contentBlockSettings,
    .blockActivity .contentActivity .contentBlockActivity {
        margin-left: 40px;
        margin-right: 35px;
    }
    .blockActivity .contentActivity .blockAnonimous {
        margin-left: 52px;
    }
    .headerActivity .blockCaseMediators {
        padding-left: 40px;
        padding-right: 35px;
    }
    .blockSettings .titleHeaderSettings {
        font-size: 17px;
        margin-left: 53px;
    }
    .headerSettings .blockText p.title {
        font-size: 18px;
    }
    .headerSettings .blockText p.text {
        font-size: 12px;
    }
    .inputBlock .radioTitle {
        font-size: 15px;
    }
    .blockSetting .rowBlock .fourBlock {
        width: 21%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .main .blockComments .contentComment {
        width: 87%;
    }
    .main .blockComments .bottomComment .blockComment {
        width: 83%;
    }
    .blockMessages .messageText textarea {
        min-width: 345px;
        max-width: 345px;
    }
    .blockMessages .newMessageBtn span {
        margin-right: 17px;
    }
    .headerPos {
        width: 100%;
    }
}


/*@media (max-width: 589px) {
    .secondaryMenu ul li {
        padding:0px 22.5px 0px 22.5px;
    }
}

@media (max-width: 575px) {

    .logo {
          margin: 18px 0 0 5px;
    }
    .headerMenu ul li {
        padding: 35px 5px 30px 10px;
    }
}

.listRight p {
    padding: 5px;
}*/


@media (max-width: 620px) {
    .main .header {
        display: table;
        width: 100%;
        text-align: center;
    }
    .main .header .logo {
        margin: 0 auto;
        width: 162px;
        float: none;
        margin-top: 20px;
    }
    .main .header .headerMenu {
        float: none;
        width: 100%;
        margin: auto;
        display: table;
        height: auto;
    }
    .main .header .headerMenu ul {
        padding-left: 10px;
        display: table;
        width: 315px;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main .headerMenu ul li {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .main .headerMenu .logIn {
        padding: 0px 0px 0px 12px !important;
    }
    .main .secondaryMenu {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .secondaryMenu .statusTitle {
        display: table;
    }
    .secondaryMenu .title {
        padding-left: 5px;
        width: 250px;
    }
    .secondaryMenu .status {
        margin: 30px 5px 0px 0px;
    }
    .settingMenuItems .menuItem {
        text-align: center;
        margin-right: 0px;
    }
    .settingMenuItems .menuItem:nth-child(3),
    .settingMenuItems .menuItem:last-child {
        width: 60px;
    }
    h2.menuItem:nth-child(4).active::after {
        margin-left: 35%;
    }
    .settingMenu div.settingMenuItems {
        padding-left: 4px;
        padding-right: 4px;
    }
    .reportBlock {
        width: 99%;
    }
    .report {
        display: table;
        width: 97%;
    }
    .titleReportAll {
        width: 98%;
    }
    .incidentDescription .text {
        padding-left: 15px;
        padding-right: 15px;
    }
    .files .item {
        width: 90%;
        padding-bottom: 25px;
    }
    .files .item:last-child {
        padding-bottom: 45px;
    }
    .files {
        display: table;
        width: 99%;
    }
    .main .blockComments {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main .blockMessagesTable {
        margin-left: 5%;
        margin-right: 5%;
    }
    .blockMessages .addComment {
        width: 89.8%;
        margin-left: 5%;
    }
    .blockMessages .content .blockPersonal {
        padding-left: 0px;
    }
    .blockMessages .messageText textarea {
        min-width: 76%;
        max-width: 345px;
    }
    .blockSettings .contentSettings .contentBlockSettings,
    .blockActivity .contentActivity .contentBlockActivity {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
    }
    .contentBlockActivity .blockInfo {
        padding-left: 35px;
    }
    .contentBlockActivity .blockInfo .topText {
        display: table;
        width: 100%;
    }
    .headerActivity .blockCaseMediators {
        padding-left: 35px;
        padding-right: 15px;
    }
    .headerActivity .displayMediators .blockMediator {
        padding-left: 5%;
        width: 90%;
    }
    .main .blockSettings .headerSettings {
        display: table;
    }
    .blockSettings .titleHeaderSettings {
        margin-left: 15px;
        width: 93%;
        padding-bottom: 13px;
        float: left;
    }
    .headerSettings .blockText {
        float: left;
        margin-left: 15px;
        display: table;
        width: 94%;
    }
    .headerSettings .blockText p.text {
        padding-right: 5%;
    }
    .contentBlockSettings .blockSetting input[type="text"] {
        width: 87%;
    }
    .blockSetting .rowBlock {
        display: table;
    }
    .blockSetting .rowBlock .fourBlock {
        width: 200px;
        margin: auto;
        float: none;
        display: table;
    }
    .fourBlock:nth-child(2) .inputBlock,
    .fourBlock:nth-child(3) .inputBlock {
        float: left;
    }
}



@media (max-width: 510px) {
    .blockMessages .messageText textarea {
        min-width: 70%;
        max-width: 345px;
    }

    .headerPos .positionN {
        width: 32.5%;
        display: table;
        text-align: center;
        float: left;
        height: 21px;
    }
    .headerPos .positionN + .polos {
        margin-bottom: 0px;
        float: left;
        margin-top: 18px;
    }
    .headerPos {
        display: table;
        padding-top: 10px;
    }
}
@media (max-width: 400px) {

    .main .headerMenu .logIn {
        padding: 0px 0px 0px 0px !important;
        border: none;
    }
    .main .headerMenu ul li {
        padding: 0px;
        width: 50%;
        float: left;
        height: 37px;
    }
    .main .header .headerMenu ul {
        width: 95%;
    }
    .secondaryMenu .title {
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }
    .secondaryMenu .status {
        margin: 10px 0px 20px 0px;
        width: 100%;
        text-align: center;
    }
    .settingMenuItems .menuItem,
    .settingMenuItems .menuItem:nth-child(3),
    .settingMenuItems .menuItem:last-child {
        width: 100%;
        float: none;
        display: block;
        text-align: center;
        padding-bottom: 8px;
    }
    .menuItem.active::after{
        left: 20%;
        bottom: 4px;
        border: 6px solid transparent;
        border-left: 10px solid rgb(229, 235, 235);
        margin-left: 0px;
    }
    .mainTitle{
        display: block;
        text-align: left;
        padding-left: 10%;
        width: 90%;
        font-size: 17px;
    }
    .settingMenuItems div{
        display: none;
    }
    h2.menuItem:nth-child(4).active::after {
        margin-left: 0px;
    }
    .reportBlock .reportText {
        width: 90%;
        padding-top: 0px;
        padding-bottom: 5px;
    }
    .reportBlock .titleReport {
        width: 95%;
        padding-bottom: 5px;
    }
    .main .blockComments .contentComment {
        width: 83%;
    }
    .blockMessages .messageText textarea {
        min-width: 61%;
        max-width: 200px;
    }
    .contentBlockSettings .blockSetting p {
        margin-top: 18px;
        padding-left: 15px;
        padding-bottom: 35px;
    }
    .contentBlockSettings .blockSetting input[type="text"] {
        margin-left: 15px;
        width: 90%;
    }
    .blockSetting .rowBlock .fourBlock {
        width: 150px;
    }
}

.greyButton {
    border-color:#848a8b!important;
    background-color:#727c7e!important;
}
#attachmentPage table {
    width: 100%;
    background-color: #e5ebeb;
}

    #attachmentPage table tr {
        width: 100%;
        height: 105px;
        border-top: 1px solid #d9dedf;
    }

        #attachmentPage table tr .image {
            width: 72px;
            text-align: center;
        }

    #attachmentPage table .secondRow {
        font-size: 16px;
        color: #3c3e3f;
    }

    #attachmentPage table .secondRowReporter {
        color: #aeb5b7;
        font-size: 12px;
    }

    #attachmentPage table .recipient {
        color: #aeb5b7;
        font-size: 12px;
        text-transform: uppercase;
    }

    #attachmentPage table .date {
        color: #aeb5b7;
    }

    #attachmentPage table .download {
        color: #4da456;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
    }

    #attachmentPage table .customWidth {
        width: 75%;
    }

#attachmentPage {
    width: 100%;
    height: 100%;
}

    #attachmentPage .container {
        margin: 20px 80px 0 40px;
    }

    #attachmentPage .dragAndDropContainer {
        background-color: #f2f7f7;
        width: 100%;
        height: 250px;
        overflow: auto;
    }

    #attachmentPage .dottedContainer {
margin: 21px 30px 0px 30px;
    border: dotted 2px #afbdbf;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }

    #attachmentPage .semiboldText {
        color: #3c3e3f;
    }

    #attachmentPage .secondSemiboldText {
        color: #aeb5b7;
    }

    #attachmentPage .radioButtonContainer {
        padding-left: 30px;
    }
    .blackText{
        color: #3c3e3f;
    }
    .weight18{
        font-size: 18px;
    }
    .greyText {
        color: #aeb5b7;
    }
   .weight16{
        font-size: 16px;
    }
   #attachmentPage .hiddenElement {
        width: 180px;
        height: 31px;
        opacity: 0;
        position: absolute;
        top: 0;
   }
   #attachmentPage .selectFiles{
       font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
       font-size: 16px;
       color:#ffffff;
       background-color: #4da456;
       border: 1px solid #397a40;
       text-transform: uppercase;
       padding: 5px 11px;
       position: relative;
       font-size: 14px;
   }
   
