.row.circleGraphRow.circleGraphInfoRow {
    display: flex;
    flex-direction: column;
}
.positionLegendForPrint {
    float: right;
    /*padding-top: 68px;*/
}
.case-MainContent-HeaderLinks__item expertLink.clearfix {
    display: none;
}
#chart1, #chart2, #chart3 {
    display: flex;
    flex-direction: column;
}
    #chart1 nvd3 {
        display: table-cell;
        width: auto;
    }
    #chart2 nvd3 {
        display: table-cell;
        width: auto;
    }
    #chart3 nvd3 {
        display: table-cell;
        width: auto;
    }

.col-4 {
    width: 100%;
}
table {
    display: block!important;
    width: 100%;
}
h1 {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.paddingTopForPrint30 {
    padding-top: 15px;
}
.case-MainContent-Header__leftTitle {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.widthForPrint {
    width: 100%;
}

.center {
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
}
.case-MainContent-HeaderLinks__item {
    display: none;
}
.showPrintElement, .case-MainContent-Header__leftTitle {
    display: block !important;
}