    @font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('fonts/OpenSans/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Lato-Heavy';
    src: url('fonts/lato-heavy.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Semibold';
    src: url('fonts/Lato-Semibold.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf');
}

body{
    background: rgb(140, 160, 163);
    margin: 0;
}

.fullContainer{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    background: rgb(229, 235, 235);
    position: relative;
    display: table;
    height: auto;
}

.fullContainer .rowContent{
    display: -webkit-flex;
}

.fullContainer .leftBlock{
    float: left;
    max-width: 235px;
    width: 100%;
    background: rgb(51, 59, 64);
    color: rgb(164, 173, 180);
    border-right: 4px solid rgb(5, 181, 162);
}

.fullContainer .leftBlock.leftBlock_cc{
    border-right: 4px solid #4da456;
}

.fullContainer .rightBlock{
    float: left;
    max-width: 898px;
    width: 100%;
    padding: 31px;
    padding-bottom: 220px;
}
.headerBlock .firstBlock{
    min-height: 60px;
    height: 100%;
}

.headerBlock .secondBlock{
    background: rgb(255, 255, 255);
    min-height: 110px;
    box-shadow: -1px 1px 1px rgba(0,0,0, 0.15);
    width: 100%;
    display: table;
}

.headerBlock .firstBlock .logo{
    float: left;
    margin-top: 16px;
    margin-left: 22px;
    width: 100%;
}

.headerBlock .firstBlock .report{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.headerBlock .firstBlock .report span{
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 14px;
    color: rgb(56, 73, 77);
}

.headerBlock .secondBlock .logo{
    width: 240px;
    float: left;
    display: -webkit-inline-flex;
}
.headerBlock .secondBlock .logo img{
    box-shadow: 1px 1px 2px rgba(255,255,255, 0.15);
    z-index: 1;
    width:100%;
    height:100%;
}

.headerBlock .secondBlock .titlePage{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 26px;
    color: rgb(56, 73, 77);
    float: left;
}

.headerBlock .secondBlock .titlePage p{
    margin: 0;
    padding: 37px 30px;
}

.fullContainer .leftBlock .titleMenu{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    padding: 30px 20px;
    margin: 0;
    background: rgb(41, 47, 51);
}

.fullContainer .leftBlock .verticalMenu{
    padding-left: 50px;
}

.fullContainer .leftBlock .verticalMenu > li{
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 16px;
    padding: 15px 0;
    position: relative;
    right: 7px;
}

.fullContainer .leftBlock .verticalMenu > li.selection{
    list-style-type: none;
}

.fullContainer .leftBlock .verticalMenu > li.selection:before{
    /*content: "\2713";
    color: rgb(255, 255, 255);*/
}

.fullContainer .leftBlock .verticalMenu > li:hover{
    cursor: pointer;
}

.fullContainer .leftBlock .verticalMenu > li.clicked:before{
    content: '';
    position: absolute;
    right: -7px;
    top: 17px;
    border: 7px solid transparent;
    border-right: 7px solid rgb(5, 181, 162);
}
.fullContainer .leftBlock .verticalMenu.verticalMenu_cc > li.clicked:before{
    border-right: 7px solid #4da456;
}

.fullContainer .leftBlock .verticalMenu > li:hover > span{
    color: rgb(255, 255, 255);
}

.fullContainer .rightBlock .content{
    background: rgb(255, 255, 255);
    /*height: 100px;*/
    width: 100%;
    /*overflow:hidden;*/
}
.positionImageLogo {
    width: 220px;
    height: 110px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.makeImgCenter {
    max-width: 220px;
    max-height: 110px;
}
/*******************************************************************/
.content .contentBlock{
    padding-top: 25px;
    display: table;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent #E5EBEB transparent;
    /*it's for focus*/
    outline: none;
    padding-left: 25px;
    box-sizing: border-box;
}
.contentBlockChild {
    /*width:30px;*/
    width: 139px;
    position:relative;
    float: left;
    height:139px;
    padding-right: 10px;
}
.contentBlockChild img {
    width:100%;
    height: 139px;
}
.borderTemp {
    width: 99%;
    border: 2px solid #E5EBEB;
}
.content .contentBlock .title{
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 14px;
    color: rgb(60, 62, 63);
}

.titleMediators{
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 20px;
    /*font-size: 18px;*/
    color: rgb(56, 73, 77);
    margin-top: 80px;
    margin-bottom: 30px;
}

.titleMediatorsDescrition{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    /*font-size: 18px;*/
    font-size: 16px;
    color: rgb(56, 73, 77);
    margin-bottom: 20px;
}
.contentBlock select{
    border: 1px solid rgb(224, 229, 230);
    padding: 10px 0 10px 20px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 18px;
    max-width: 410px;
    width:85%;
    color: rgb(192, 199, 200);
    background: url(img/down_arrow_select.png) no-repeat right rgb(242, 247, 247);
    -webkit-appearance: button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: 97% center;
}
.contentBlock select.selectedRoleInReport {
    padding: 0;
    font-size: 14px;
    color: #727c7e;
}
.dropDownList {
    background-color: white;
    color: rgb(114, 124, 126);
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 18px;
}

.contentBlock select::selection{
    background-color:red;
}

.contentBlock .selectBlock{
    max-width: 380px;
    -webkit-appearance: none;
    border-radius: 0;
}

.contentBlock select:focus{
    box-shadow: none;
    border: 1px solid rgb(224, 229, 230);
    outline: none;
}

.contentBlock select.selectBlock option{
    padding: 10px;
}

.contentBlock .description{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 12px;
    color: rgb(60, 62, 63);
    width:85%;
    max-width: 410px;
}

.contentBlock .freeBlock{
    width: 18%;
    float: left;
    padding: 10px 20px;
    display: table;
}

.freeBlockReportAbout {
    width: 20.0%;
    float: left;
    padding: 10px 20px;
    display: table;
}
.freeBlockReportAbout.option:hover {
    background: rgb(242, 247, 247);
}

.contentBlock .inputRadio:hover{
    background: rgb(242, 247, 247);
}
.contentBlock .inputBlock{
    min-height: 50px;
    display: block;
    font-size: 20px;
    cursor: pointer;
}

.inputBlock span.radioButton {
    background: url(img/radio.png) no-repeat;
    padding-left: 22px;
    line-height: 12px;
    height: 12px;
    display: block;
    float: left;
    margin-top: 6px;
}
.rightBlock_cc .inputBlock span.radioButton{
    background: url(img/radio_cc.png) no-repeat;
    position: relative;
}
.rightBlock_cc .inputBlock input[type="radio"]:checked + span:after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    left: 0;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #4da456;
    box-sizing: border-box;
}
.rightBlock_cc .inputBlock input[type="radio"]:checked + span:before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #4da456;
    left: 3px;
    top: 3px;
    border-radius: 100%;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
}
.inputBlock input[type="radio"] {
    display: none;
}

.inputBlock input[type="radio"] + span {
    background-position: top left;
}

.inputBlock input[type="radio"]:checked + span {
    background-position: bottom left;
}

.inputBlock input[type="radio"]:checked ~ span {
    color:rgb(60, 62, 63);

}

.inputRadio.option.active {
    background: rgb(242, 247, 247);
}

.active > .radioTitle {
    color:red !important;
}

.inputRadio.option.active ~ span {
    background-position: bottom left;
    color:rgb(60, 62, 63);
}

.contentBlock .descriptionRadio{
    min-height: 69px;
}
.contentBlock .radioTitle{
    font-size: 18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    color: rgb(174, 181, 183);
    display:table;
    margin-left:31px;
    height: 50px;
    cursor: pointer;
}
.contentBlock .inputRadio:hover .radioTitle {
    color: rgb(60, 62, 63);
}

.contentBlock input{
    background: rgb(255, 255, 255);
    outline: none;
    border: 1px solid #e0e5e6;
}
/*loader css*/
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 50%;
    z-index: 100;
    margin-top: -120px;
    margin-left: -120px;
}

.contentBlock input[type="radio"]:active, .contentBlock input[type="radio"]:focus{
    color: rgb(60, 62, 63);
}

.contentBlock .descriptionRadio{
    font-size: 12px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    color: rgb(60, 62, 63);
    padding-left: 35px;
}

.contentBlock .rowBlock{
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}

.contentBlock .rowBlock .fourBlock{
    width: 20.4%;
    float: left;
    padding: 0 20px;
}

.contentBlock textarea{
    width: 97%;
    border: 0;
    margin-left: 10px;
    height: 70px;
    resize: none;
    font-size:18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    color:rgb(60, 62, 63);
    overflow: hidden;
}

.contentBlock textarea:focus{
    outline: none;
}

.buttonBlock{
    float: right;
    display: flex;
    margin-top: 25px;
    margin-right: 10px;
}

.button{
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid rgb(5, 181, 162);
    border-radius: 2px;
    padding: 5px 15px;
    color: rgb(5, 181, 162);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 14px;
    background-color:rgb(229, 235, 235);
    outline: none;
    cursor: pointer;
}
u.button {
    background-color: #fff;
}
span.button {
    background-color: #fff;
}
.button.display{
    display: inline-block;
    margin-bottom: 30px;
}
/*add border for add person new report*/

.buttonBlock_cc .button, .addPerson_cc .button, .file_upload_cc .button{
    border: 1px solid #8ac092;
    color: #4da456;
}
.buttonBlock_cc .button:hover, .addPerson_cc .button:hover, .file_upload_cc .button:hover{
    background: #4da456;
    color: #fff;
    border: 1px solid #2e7037;
}
.buttonBlock_cc .button:active, .addPerson_cc .button:active, .file_upload_cc .button:active{
    background: #2e7037;
    color: #fff;
    border: 1px solid #2e7037;
}
#tmpl {
    display: none;
}
.partiesInvolved {
    display: none;
}
.caseInformation {
    display: none;
}
.vlError {
    border: 2px double red !important; /* Параметры границы */
}
.mAssigned {
    display: none;
}
.isUrgentYesTextStyle{
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 181, 162);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 14px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}
.isUrgentYesTextStyle_cc{
    background-color: #4da456;
}
.anType .freeBlock  {
    width: 25%;
}
.PersonNameTable{
    height:76px;
    border: 1px;
}

.dateInputBox {
    width:201px;
    height:50px;
    margin-bottom:20px;
    background: rgb(242, 247, 247) !important;
    border: none;
    padding-left: 25px;
}

.file_upload {
    position: relative;
    overflow: hidden;
    font-size: 1em; /* example */
    height: 2em; /* example */
    line-height: 4em; /* the same as height */
}

.file_upload > input {
    width:1px;
    height: 1px;
    /*opacity:0;*/
    overflow: hidden;
}

.assignedTitle {
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 14pt;
    padding-bottom: 15px;
}
.assignedTitle .assignedText {
    font-size: 11pt;
}

.checkBoxStyle {
    width: 20px;
    height:20px;
    margin-top: 3px;
    display:none;
}

.floatLeftClass{
    float: left;
}

.floatRightClass{
    float: right;
}

.incidentFrequency {
    display:none;
}


/*Summary*/
.listHead{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 20px;
    color: rgb(56,73,77);
}

.titleReport{
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 30px;
    float: left;
}

titleReportTable {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 25%;
}
.reportBlock{
    color: rgb(132,138,139);
    font-weight: normal;
    font-size: 12px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    float:left;
    width: 100%;
    margin-bottom: 30px;
}
.report{
    padding-left: 9px;
}

.FirstLastNames{
    color: rgb(114,124,126);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 12pt;
    float:left;
}

.reportText{
    color: rgb(114,124,126);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 12pt;
}

.reportTextTable{
    color: rgb(114,124,126);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 16px;
    width: 75%;
    float:left;
    padding-left: 30px;
}

.titleDescriptionReport {
    padding-top: 15px;
    width: 100%;
}

.reportDescriptionText {
    color: rgb(114,124,126);
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    width: 92%;
    float: left;
    margin-left: 26px;
}
.summaryContentTitle {
    margin-top: 75px;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    color: rgb(56,73,77);
}

.listText{
    /*width:150px;*/
    float:left;
}

.listHR{
    margin-top:5px;
    margin-left: 3px;
    margin-right: 3px;
    float:left;
    width:98%;
    border: none;
    border-top: 1px solid rgb(224, 229, 230);
}

.lessHeight {
    height:44px !important;
}

.listInput{
    -webkit-appearance: none;
    border-radius: 0;
    float:left;
    width : 46px;
    height: 26px;
    margin-right : 20px;
    background-color: rgb(242, 247, 247) !important;
    border: 1px solid rgb(199, 205, 205);
    color: rgb(132, 138, 139);
    border-radius: 2px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    cursor: pointer;
    outline: none;
}
.listInput:hover, .listInput:focus{
    background-color: #e0e5e6 !important;
}
.listInput:active{
    background-color: rgb(132, 138, 139) !important;
    color: #fff;
}

.mediatorsName{
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size:24px;
    margin-bottom:15px;
    color:rgb(60,62,63);
}

.mediatorsInfo{
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size:16px;
    color:rgb(60,62,63);
}

.mediator {
    margin-right: 50px;
    margin-bottom:20px;
}

.checkboxMediatorInvolved {
    width: 20px;
    height:20px;
    float:right;
    margin-top:7px;
    margin-right:8px;
}

.involvedArea {
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    float:right;
    margin-top:8px;
    font-size:14px;
    color: rgb(142,147,148)
}

.buttonSubmitBlock{
    display: flex;
    margin-top: 25px;
    margin-right: 10px;
}

.buttonSubmit{
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid rgb(5, 181, 162);
    border-radius: 2px;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 14px;
    width:100%;
    height:60px;
    margin-top:35px;
    color: rgb(255, 255, 255);
    background: rgb(5, 181, 162);
    outline: none;
    cursor: pointer;
}

.buttonSubmitBlock_cc .buttonSubmit{
    background-color: #4da456;
    border-color: #2e7037;
}
.buttonSubmitBlock_cc .buttonSubmit:hover,
.buttonSubmitBlock_cc .buttonSubmit:focus{
    background-color: #3C8445;
    border-color: #2e7037;
}
.buttonSubmitBlock_cc .buttonSubmit:active{
    background-color: #2e7037;
    border-color: #2e7037;
}
.buttonSubmit.display{
    display: inline-block;
    margin-bottom: 30px;
}

/*.buttonSubmit:hover{
    color: rgb(255, 255, 255);
    background: rgb(5, 181, 162);
}*/
#managementTrue {
    display: none;
}
#managementFalse {
    display: none;
}

.steps{
    display:none;
}

.addPersonName{
    height:86px;
    width: 20%;
    float:left;
    border:2px solid transparent;
    margin-bottom: 10px;
}

.addPersonInfo{
    height:86px;
    width: 27%;
    float:left;
    border:2px solid transparent;
}

.personData{
    margin-top:25px;
    margin-bottom:15px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: none;
    height: 30px;
    overflow: hidden;
}

.addPersonName:hover, .addPersonInfo:hover{
    border: 2px solid rgb(5, 181, 162);
    float:left;
}

.witnessPersone_cc .addPersonName:hover, .addPersonInfo:hover{
    border: 2px solid #4da456;
}

.addPerson {
    float:left;
}

.personTitle{
    margin-top:15px;
    margin-left:10px;
}



.personDataTextBox {
    border: none !important;
    height: 30px !important;
    outline: none;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 18px;
    color: rgb(60, 62, 63);
}

.reportAction {
    width: 50%;
    float: left;
    background-color: rgb(229, 235, 235);
    padding-top: 50px;
}

@media screen and (max-width: 1000px) {

    .headerBlock .secondBlock .titlePage {
        float:none;
    }
    .newReportCaseNumber {
        padding: 15px !important;

    }
}


@media screen and (max-width: 640px) {

    .dateInputBox {
        font-size: 24px;
    }

    .addPersonName, .addPersonInfo {
        height: 110px;
        width: 95%;
    }

    .personDataTextBox {
        font-size: 22px;
        height: 35px;
        width: 230px;
    }

    deletePersonElement {
        font-size: 30px;
    }

    .contentBlock .freeBlock {
        width: 90%;
        float: left;
        /*padding: 10px 20px;*/
        padding: 10px 5px;
        display: table;
    }

    .fullContainer .leftBlock{
        float: left;
        display:none;
    }

    .contentBlock .rowBlock .fourBlock{
        width: 80%;
        float: left;
        padding: 0 10px;
    }

    .content .contentBlock .title{
        /*font-size: 24px;*/
        font-size: 18px;
    }

    .contentBlock .radioTitle {
        /*font-size: 30px;*/
        font-size: 20px;
    }

    .contentBlock .description {
        /*font-size: 20px;*/
        font-size: 15px;
    }

    .contentBlock .descriptionRadio {
        /*font-size: 20px;*/
        font-size: 15px;
    }

    .contentBlock select {
        /*font-size: 30px;*/
        font-size: 20px;
        color: rgb(174, 181, 183);
    }

    .inputBlock span.radioButton {
        margin-top: 16px;
    }

    .steps{
        display:block;
    }

    .selectedStep{
        border:2px solid rgb(132, 138, 139);
        color: rgb(132, 138, 139);
        border-radius: 50%;
        width: 33px;
        height: 33px;
        margin-top:14px;
        background:none;
        font-size:26px;
        margin-left:8%;
        float: left;
        text-align:center;
    }

    .buttonBlock{
        margin-top: 100px;
        margin-right: 0px;
        width:100%;
    }

    .button{
        /*font-size: 30px;*/
        font-size: 20px;
        width:100%;
    }

    .button.display{
        display: inline-block;
        margin-bottom: 30px;
    }

    .button:hover{
        color: rgb(255, 255, 255);
        background: rgb(5, 181, 162);
    }

    .contentBlock textarea {
        width:90%;
        font-size:20px;
    }

    .selectedStep.clicked:before{
        content: "";
        position: absolute;
        border: 4px solid transparent;
        border-width: 0px 7px 10px 6px;
        top: 118px;
        margin-top: 14px;
        border-width: 0px 6px 9px 6px;
        border-style: solid;
        border-color: rgb(5, 181, 162) transparent;
    }

    freeBlockReportAbout {
        width: 90%;
    }

    .listHead {
        font-size: 20px;
        font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    }

    .titleReportTable {
        font-size: 12px;
        font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
        color: rgb(114,124,126);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    }

    .reportTextTable {
        font-size: 20px;
        font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
        color: rgb(114,124,126);
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .summaryContentTitle {
        font-size: 22px;
    }

    .freeBlockReportAbout {
        width: 90%;
    }

    .checkBoxStyle {
        margin-top: 4px;
    }

    .reportDescriptionText {
        font-size: 22px;
        margin-top: -20px;
    }

    .titleMediators {
        font-size: 22px;
    }

    .titleMediatorsDescrition {
        font-size: 18px;
    }

    .involvedArea {
        font-size: 16px;
    }

    .mediatorsName {
        font-size: 22px;
    }

    .mediatorsInfo {
        font-size: 18px;
    }

    .buttonSubmit {
        font-size: 30px;
    }

    .checkboxMediatorInvolved {
        margin-top:7px;
    }

    .listHR {
        width: 94% !important;
    }

    .listInput {
        float: right;
    }

    .involvedArea {
        margin-top: 6px;
    }

    .mediator {
        /*margin-right: 20px !important;*/
    }

    .reportAction {
        width: 100%;
        margin-top: 40px;
    }

    .headerBlock .secondBlock .titlePage {
        float:none;
    }

    .newReportCaseNumber {
        padding: 15px !important;
    }

    .headerBlock .secondBlock .titlePage p {
        margin: 0;
        padding: 19px 30px;
    }

    .content .contentBlock {
        padding-left:20px;
    }

    .fullContainer .rightBlock {
        padding:20px;
        width:94%;
    }

    .ui-datepicker table {
        width: 100%;
        font-size: 1.2em !important;
    }

    .addFileButton {
        font-size: 16px !important;
    }

    .headerBlock .firstBlock .logo {
        float: none !important;
    }

    .newReportNumber {
        margin-right: 45px !important;
    }

}

.ui-datepicker {
    width: 228px !important;
    padding: 0 !important;
    margin-left: -1px;
    margin-top: -1px;
}
.ui-datepicker-calendar tbody{
    border: 1px solid rgb(224, 229, 230) !important;
}

.ui-datepicker-calendar thead {
    display:none !important;
}

.ui-datepicker-header {
    border: solid rgb(224, 229, 230) !important;
    border-width: 1px 1px 0 1px !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    border:none;
}

.ui-datepicker-month, .ui-datepicker-year {
    font-size:18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    color: rgb(114, 124, 126);
}

.ui-state-default {
    color:rgb(60, 62, 63) !important;
    font-size:18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    border: 1px solid transparent !important;
}

.ui-state-default:hover {
    font-size:18px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    background: #05b5a2!important;
    border: 1px solid transparent !important;
    color: white!important;/*for datapicker*/
}
.ui-datepicker td span, .ui-datepicker td a {
    text-align: center!important;
}
.ui-icon-circle-triangle-w {
    background-image: url("img/left.png") !important;
    background-repeat: no-repeat;
    background-position: 0px 0px !important;
}

.ui-icon-circle-triangle-e {
    background-image: url("img/right.png") !important;
    background-repeat: no-repeat;
    background-position: 0px 0px !important;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    margin-left: -14px !important;
    top: 40% !important;
    margin-top:0px !important;
}

.ui-icon-circle-triangle-w {
    background-position: 5px 0px !important;
}

.ui-icon {
    width: 26px !important;
}

@media screen and (max-width: 575px) {
    .newReportCaseNumber {
        font-size: 20px !important;
        padding: 0px !important;
    }
}

@media screen and (max-width: 415px) {
    .headerBlock .secondBlock .logo {
        width: 100%;
        height: 100%;
    }

    .headerBlock .secondBlock .titlePage p {
        padding-top: 160px;
        text-align: center;
    }
}

#persone hr{
    clear:both;
    border: none;
    background-color: rgb(229, 235, 235);
    height: 1px;
    width: 97%;
    float: left;
}

.deletePersonElement {
    margin-left: 10px;
    margin-top: 35px;
    float:left;
    color:rgb(154, 164, 166);
}

.summaryReportInfo {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size:16px;
    color:rgb(60, 62, 63);
}

.reportNumber {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size:24px;
    color:rgb(56, 73, 77);
    margin-left:10px;
    margin-bottom:30px;
}

.accessInfo {
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size:18px;
    color:rgb(60, 62, 63);
    margin-left:10px;
    margin-bottom:30px;
}

.sumResp {
    background-color:rgb(242, 247, 247);
}


.reportNumberBlock {
    background-color:rgb(229, 235, 235);
}

.contentBorder {
    display: block;
    width: 100%;
    border: 1px solid rgb(229, 235, 235);
}

.summaryImages {
    display: block;
    margin-bottom: 40px;
    margin: 0 auto;
}

#printImage {
    content:url('/Content/img/print.png');
}
.reportAction:hover #printImage {
    content: url('/Content/img/printSelected.png');
}

#dashboardImage {
    content:url('/Content/img/reportDashboard.png');
}

.reportAction:hover #dashboardImage {
    content: url('/Content/img/reportDashboardHover.png');
}

.summaryButtons {
    margin: 0 auto;
    margin-top:40px;
    display: block;
    margin-bottom: 60px;
}

.summaryButtons.hover{
    color: rgb(255, 255, 255);
    background: rgb(5, 181, 162);
}

.reporterEmail {
    color:rgb(5, 181, 162);
    margin-bottom: 35px;
}

.newReportNumber {
    float: right;
    margin-right: 30px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 14px;
    color:rgb(56, 73, 77);
}

.calendarText{
    font-size: 18px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    color: rgb(114, 124, 126);
}

.largeTextArea {
    height:250px !important;
}

.fullContainer .leftBlock .titleMenu{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    padding: 30px 20px;
    margin: 0;
    background: rgb(41, 47, 51);
}

.fullContainer .leftBlock .verticalMenu{
    padding-left: 50px;
}

.fullContainer .leftBlock .verticalMenu > li.selection{
    list-style-type: square;
    list-style-image: url("/Content/img/selectButton.jpg");
}

.fullContainer .leftBlock .verticalMenu > li:hover:before{
    content: '';
    position: absolute;
    right: -7px;
    top: 17px;
    border: 7px solid transparent;
    border-right: 7px solid rgb(5, 181, 162);
}

.fullContainer .leftBlock .verticalMenu > li:hover > span{
    color: rgb(255, 255, 255);
}

.summaryBackground {
    background-color: rgb(242, 247, 247);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .fullContainer .rowContent {
        display: flex;
    }

    .headerBlock .secondBlock .logo {
        display: inline-flex;
    }
}

@-moz-document url-prefix()
{
    .fullContainer .rowContent {
        display: flex;
    }

    .headerBlock .secondBlock .logo {
        display: inline-flex;
    }
}

.check{
    margin-top: 1px;
    width: 20px;
    height: 20px;
    background: url('/Content/img/send_Updates_unchecked.png');
    cursor: pointer;
    float:left;
}

.checked {
    display: none;
    margin-top: 1px;
    width: 20px;
    height: 20px;
    background: url('/Content/img/send_Updates_checked.png');
    cursor: pointer;
    float:left;
}

.borderTriangle {
    border: 6px solid transparent;
    border-top: 6px solid rgb(132, 138, 139);
    left: 200px;
    top: 6px;
    position: absolute;
    height: 0px;
    background: transparent;
}

.stepDone {
    list-style-image : url("../Content/img/nextStep.png");
}

.clicked {
    color:rgb(5, 181, 162);
}
.verticalMenu_cc .clicked {
    color: #4da456;
}


.clicked > span {
    color:rgb(255, 255, 255);
}

input[type=checkbox].checkboxMediatorInvolved {
    display:none;
}

.checkboxMediatorInvolved + span{
    height: 16px;
    width: 16px;
    margin-left: -24px;
    margin-top: 10px;
    display:block;
}

input[type=checkbox].checkboxMediatorInvolved + span{
    background-image: url("../Content/img/reporterUnchecked.png");
}

input[type=checkbox]:checked.checkboxMediatorInvolved + span{
    background:green;
    background-image: url("../Content/img/reporterChecked.png");
}

.contentBlock .selectBlock{
    width: 410px;
}

.dropdown {
    border: 1px solid #fff;
    padding: 13px 15px;
    /*color: rgb(60, 62, 63);*/
    color:#727c7e;
    background-color: #f2f7f7;
    /*background-image: url('img/selectButton.jpg');*/
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 18px;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    display: inline-block;
    float: right;
    position: absolute;
    right: 12px;
    top: 24px;
}
.dropdown ul {
    list-style: none; padding: 0; margin: 0;
    position: absolute;
    top: 48px; left: -1px; /* -1 for the border */
    z-index: 5;
    border: 1px solid #ccc;
    width: 100%;
    color: #ccc;
    background-color: #fff;
    display: none;
    max-height: 250px;
    overflow: scroll;
}

.dropdown li {
    list-style: none; padding: 0; margin: 0;
    padding: 15px;
}
.dropdown li.selected { display: none; background-color:green;}
.dropdown li:hover { background-color: rgb(229, 235, 235); color: rgb(60, 62, 63); }

.dropdown.open { border: 1px solid rgb(224, 229, 230); color: rgb(114, 124, 126); }
.dropdown.open ul { border: 1px solid rgb(224, 229, 230); color: rgb(114, 124, 126); }

.delete {
    height: 14px;
    width: 14px;
    background-image: url("../Content/Icons/close.png");
    cursor: pointer;
}

.deleteDepartmentPosition {
    display: block;
    position: absolute;
    margin-top: -33px;
    margin-left: 428px;
    cursor: pointer;
}

.attachedFilesTitle {
    color: rgb(114,124,126);
    padding-top: 13px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    padding-left: 26px;
    clear: both;
}
.addedFilesList {
    position: relative;
}
#attachedFiles {
    position: absolute;
    bottom: 20px;
    color:#3c3e3f;
    font-size:14px;
}

/*table*/
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-color: #e2e7eb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 15px;
    color: #242a30;
    font-weight: 600;
    border-bottom: 2px solid #e2e7eb!important;
    text-align: left;
}
.table>tbody>tr>td {
    border-color: #e2e7eb;
    padding: 10px 15px;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*modal window*/

#alertModal {
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
}

.modal.case-modal {
    background-color: #05b5a2;
    border-radius: 0;
    padding: 20px;
    color: #fff;
    max-width: 750px;
}

.closeLink:after {
    content: "\00D7";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    line-height: 20px;
    color: #fff;
}

.closeLink.modal-close {
    top: 24px;
}

.closeLink {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    text-decoration: none;
}

.modal a.close-modal {
    display: none !important;
}

.whiteBtn {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 6px 12px;
    background-color: transparent;
    border: 1px solid transparent;
}

.case-modal__linkBlockBottom {
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.case-modal__linkBtn {
    float: right;
}

.case-modal__title {
    color: #fff;
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
}

/*table*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
    overflow-y: auto;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal-dialog {
    position: relative;
    width: 600px;
    margin: 200px auto;
}
#modal-dialog {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal-content {
    border: none;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.3);
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
@media screen {
    #printSection {
        display: none;
    }
}

@media print {

    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }

}
.printable { display: none; }

@media print
{
    .non-printable { display: none; }
    .printable { display: block; }

}
#persone .personTitle.title {
    display: flex;
}
#persone .help,
#personeAgain .help {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #c7cdcd;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.spec {
    width: 898px;
    height: auto;
    background-color: #333b40;
    opacity: 0.8;
    color: white;
    padding: 26px;
    font-family: 'OpenSans-Regular';
    font-size: 12px;
    z-index: 100;
}
#persone .spec {
    width: 503px;
}
.spec.position {
    position: absolute;
    top: 25px;
    /*right: -30px;*/
    left: -43px;
}
.hoverElement {
    position: relative;
    display: none;
}
.help:active .hoverElement,
.help:hover .hoverElement {
    display: block;
}
.triangleHover.position {
    position: absolute;
    left: -8px;
    top: 20px;
}

.triangleHover {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333b40;
    opacity: 0.8;
}
#personeAgain {
    display: flex;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
    font-size: 14px;
    color: rgb(60, 62, 63);
}
   #specHover .ui-tooltip, .arrowCustom:after {
        background: black;
        border: 2px solid white;
    }

   #specHover .ui-tooltip {
        padding: 10px 20px;
        color: black;
        border-radius: 20px;
        font: bold 12px "Helvetica Neue", Sans-Serif;
        text-transform: uppercase;
        box-shadow: 0 0 7px black;
    }

    .arrowCustom {
        width: 180px;
        height: 80px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -16px;
    }

        .arrowCustom.top {
            top: -16px;
            bottom: auto;
        }

        .arrowCustom.left {
            left: 20%;
        }

        .arrowCustom:after {
            content: "";
            position: absolute;
            left: 20px;
            top: -20px;
            width: 25px;
            height: 25px;
            box-shadow: 6px 5px 9px -9px black;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .arrowCustom.top:after {
            bottom: -20px;
            top: auto;
        }
        @media only screen and (min-width: 320px) {
            .spec.position {
                width: 280px;
                left: -214px;
            }
            #persone .spec {
                    width: 235px;
    left: -97px;
            }
        }
            @media only screen and (min-width: 375px) {
        .spec.position {
            width: 320px;
                            left: -214px;
        }
            #persone .spec {
    width: 274px;
    left: -91px;
    }
    }
@media only screen and (min-width: 375px) {
    #persone .spec {
        width: 327px;
        left: -94px;
    }
}
    @media only screen and (min-width: 768px) {
        .spec.position {
            width: 464px;
            left: -200px;
        }
        #persone .spec {
            width: 406px;
            left: -377px;
        }
    }
        @media only screen and (min-width: 1024px) {
        .spec.position {
            width: 709px;
            left: -200px;
        }
    }
    @media only screen and (min-width: 1440px) {
        .spec.position {
            width: 892px;
            left: -200px;
        }
    }

/*--------------------checkboxListStyle--------------------------*/

.content .contentBlock.checkboxListStyle{
    display: block;
    padding: 25px 25px 0 25px;
    box-sizing: border-box;
    max-height: 402px;
    overflow: auto;
}
.contentBlock.checkboxListStyle .freeBlock{
    float: none;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
.contentBlock.checkboxListStyle .radioTitle{
    display: inline-block;
    box-sizing: border-box;
}
.contentBlock.checkboxListStyle .inputBlock{
    min-height: initial;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 10px 20px;
}
.contentBlock.checkboxListStyle input{
    vertical-align: middle;
}
.contentBlock.checkboxListStyle .radioTitle{
    height: initial;
    box-sizing: border-box;
    vertical-align: middle;
}

@media only screen and (max-width: 425px) {
    .contentBlock.checkboxListStyle .radioTitle {
        margin-top: -5px;
    }
    .contentBlock.checkboxListStyle .inputBlock {
        display: flex;
    }
}