@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('fonts/OpenSans/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans/OpenSans-Light.ttf');
}
#rootCauseAnalysis .percentage{
    font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
    color: #abb9bb;
    font-size: 14px;
}
.case-MainContent-HeaderLinks__itemText {
    float: left;
    font-size: 10px;
    font-family: 'OpenSans-Semibold';
    text-transform: uppercase;
    color: #727c7e;
}
.case-MainContent-HeaderLinks__itemIcon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(Icons/arrow-TopRight.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
    margin: 4px 5px;
}
.case-MainContent-HeaderLinks__item {
    display: inline-block;
    float: left;
    text-decoration: none;
    color: #aeb3b4;
    margin-left: 70px;
    line-height: 18px;
    vertical-align: middle;
}
.case-MainContent-Header__right {
    display: inline-block;
    float: right;
}
.blockAnalitics .contentSettings {
    background-color: #ffffff;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 1%;
}
.titleBlock {
  font-size: 16px;
  color: #3c3e3f;
  font-family: OpenSansSemibold;
  padding-left: 2%;
}
.blockAllCases .titleBlock {
  float: left;
}
.headerBlockActivity {
  display: table;
  width: 100%;
}
.blockAllCases {
  padding-bottom: 115px;
  width: 100%;
  display: table;
}
.blockAllCases .itemLegend {
  float: left;
  width: 110px;
  margin-left: 3%;
}
.blockAllCases .itemLegend .miniSquare {
  width: 20px;
  height: 20px;
  float: left;
}
.blockAllCases .itemLegend span {
  font-size: 12px;
  font-family: 'Open Sans';
  color: #3c3e3f;
  margin-left: 10px;
  float: left;
  padding-top: 2px;
}

#chartContainer{
  width: 96%;
  height: 400px;
  margin: auto;
}
#chartContainer .v-axis .axis-elements{
    /*display: none;*/
}
.bigBlock{
    width: 100%;
    display: table;
    padding-bottom: 110px;
}
.blockTodayContant .miniSquare {
  width: 9px;
  height: 19px;
  float: left;
  margin-left: 14%;
  margin-right: 10px;
}
.blockTodayContant .headerLegend span {
  font-family: OpenSans-Light;
  font-size: 16px;
  color: #3c3e3f;
}
.blockTodayContant .itemLegend {
  border-right: 1px solid #e6eaea;
  float: left;
  width: 16.5%;
  width: 14%;
  display: table;
  padding-top: 6px;
  padding-bottom: 29px;
}
.blockTodayContant .itemLegend:last-child {
  border-right: none;
}
.blockTodayContant {
  display: table;
  width: 100%;
  margin: 26px auto;
}
.blockTodayContant.analyticsTasks {
    width: 90%;
}
.blockTodayContant.analyticsTasks  .itemLegend {
  width: 19%;
}
.contentLegend label {
  color: #3c3e3f;
  font-size: 36px;
  font-family: 'Open Sans';
  float: left;
  padding-left: 36%;
}
.contentLegend span {
  font-size: 14px;
  font-family: 'Open Sans';
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}
.contentLegend span.plus {
  color: #ee5a36;
}
.contentLegend span.mines {
  color: #05b5a2;
}
.contentLegend span.closed {
  color: #abb9bb;
}
.blockToday {
  display: table;
  width: 100%;
  padding-bottom: 100px;
}
.allBlockLines{    
  display: table;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 40px;
  padding-left: 4%;
}


.blockTypeOfIncident,
.blockReporter,
.blockLocationsAN,
.blockDepartments {
  width: 50%;
  float: left;
}
.blockTypeOfIncident .titleBlock,
.blockReporter .titleBlock,
.blockLocationsAN .titleBlock,
.blockDepartments .titleBlock{
  padding-left: 4%;
}
.blockLineSecond {
  border-bottom: 10px solid #c0ece8;
  margin-right: 1%;
  width: 90%;
  margin-top: -1px;
}
.blockLineFirst {
  border-bottom: 20px solid #44c8b9;
  margin-right: 1%;
  width: 100%;
  margin-top: 1px;
  float: left;
}
.blockLinesItem p {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #3c3e3f;
  font-size: 12px;
  font-family: 'Open Sans';
  width: 90%;
}
.blockLinesItem {
  display: table;
  width: 100%;
  margin-bottom: 17px;
}
.linesShow {
  display: table;
  width: 70%;
  float: left;
}
.blockLinesItem label {
  margin-left: 12px;
  float: left;
  font-size: 18px;
  color: #3c3e3f;
  font-family: OpensansSemibold;
}
.blockLinesItem span {
  margin-left: 7px;
  margin-left: 10px;
  color: #abb9bb;
  font-size: 14px;
  font-family: 'Open Sans';
}
.circleDays {
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 35px;
    position: relative;
}
.textDays p:first-child {
    color: #3c3e3f;
    margin-bottom: 0px;
    font-size: 30px;
    font-family: 'Open Sans';
    margin-top: 0px;
}
.textDays p:last-child {
   /* color: #3c3e3f;*/
    color: #ee5a36;
    margin-top: -2px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Open Sans';
}
.blockAverage {
    display: table;
    width: 100%;
    padding-bottom: 130px;
}
.textDays .triangle p {
    font-family: OpenSans-Light;
    color: #3c3e3f;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 20px;
}
.textDays {    
    width: 50px;
    margin: auto;
    display: table;
    position: absolute;
    top: 50%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin-top: -37px;
}
.triangle {
    position: relative;
    height: 115px;
}
.triangle p {
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #3c3e3f;
    margin-bottom: 0px;
    margin-top: 20px;
}
.caseesTab.active::after {
    bottom: -12px;
}

.blockLinesItem p label{
    font-size: 12px;
    margin-left: 0px;
    float: none;
}
.blockLinesItem p label:last-child{
    margin-left: 10px;
    margin-right: 10px;
}
.timeOnTask{
    background: url("img/timeOnTask.png") no-repeat center;
    width: 95%;
    min-height: 360px;
    background-size: contain;
    margin: 20px auto;
}
.titleBlock span{
    font-family: OpenSans-Light;
}
.table *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.wrapperSpec {
    width: auto !important;
}
.table td {
    height: 1px;
    text-align: center;
    padding: 10px 0 18px 0;
    width: 200px;
}

/*html, body {
  background: white;
  font: 18px 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  line-height: 18px;
  border: none;
  width: 100%;
  height: 100%;
  color: green;
}*/
.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 54px;
    padding-right: 40px;
}
.table {
  width: 100%;
}
.table table td {
  height: 1px;
  text-align: center;
  padding: 10px 0 18px 0;
  width: 200px;
  position: relative;
}
table, th, td {
  border: none;
  border-collapse: collapse;
}
table.table:first-child tr:first-child td {
  border-bottom: 1px solid #eaeeee;
}
.parentDiv {
  position: relative;
  height: 100%;
}
.parentDiv .redDiv, .parentDiv .brownDiv, .parentDiv .greenDiv {
  position: absolute;
  width: 100%;
  height: 30px;
  mix-blend-mode: multiply;
}
.redDiv {
  background-blend-mode: normal;
  background-color: rgba(255, 102, 51, 0.8);
}
.brownDiv {
  background-blend-mode: multiply;
  top: 8px;
  background-color: rgb(213, 220, 221);
}
.greenDiv {
  background-blend-mode: multiply;
  background-color: rgb(55, 196, 181);
}
.headerBorder {
  border-right: 1px solid #eaeeee;
}
.headerBrown {
  position: absolute;
  height: 100%;
  background-color: white;
  /*top: 0px;
  right: -5px;*/
  top: 2px;
  right: -9px;
  color: #aeb5b7;
}
.parentDivHeader {
  position: relative;
  width: 100%;
}
.specialBorder {
  background-color: #eaeeee;
  position: absolute;
  height: 4px;
  width: 2px;
  top: 26px;
  left: 4px;
}
.darker {
  color: #3c3e3f;
}
.startRedLine{
  border-left: 1px solid #eaeeee;
  /*border-left: 1px solid rgba(176, 189, 191,0.3);*/
}
.endRedLine {
  /*border-left: 1px solid rgba(176, 189, 191,0.3);*/
  border-right: 1px solid #eaeeee;
}

.base {
  background: #05b5a2;
  display: inline-block;
  height: 20px;
  /*margin-left: 20px;
  margin-top: 55px;*/
  position: relative;
  width: 20px;
  top: 11px;
  left: 39px;
}
.base:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 4px solid #05b5a2;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  bottom: -4px;
}
.letters {
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 3px;
  left: 3px;
}
.orangeBase {
    background: #f17b5d!important;
}
.orangeBase:before {
  border-top: 4px solid #f17b5d!important;
}
.greyBase {
  background: #abb9bb!important;
}
.greyBase:before {
  border-top: 4px solid #abb9bb!important;
}
.headerBrown2 {
  position: absolute;
  height: 100%;
  background-color: white;
  top: 2px;
  right: -9px;
  /*right: -5px;*/
}
.specialBorder2{
  background-color: #eaeeee;
  position: absolute;
  height: 4px;
  width: 2px;
  top: 24px;
  right: 7px;
}
.base .specialBorder {
  background-color: #eaeeee;
  position: absolute;
  height: 4px;
  width: 2px;
  top: 26px;
  left: 9px;
}
.startRedLineDiv {
  width: 1px;
  height: 21px;
  background: rgba(181, 193, 195,0.3);
  position: absolute;
  bottom: 0px;
}
.endRedLineDiv {
  width: 1px;
  height: 21px;
  background: rgba(181, 193, 195,0.3);
  position: absolute;
  bottom: -2px;
  right:-1px;
}
.notEven {
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 999;
}
.even {
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  top: 30%;
  z-index: 999;
}
.table td{
    color: #3c3e3f;
    font-size: 16px;
    font-family: OpenSans-Light;
    width:200px;
    position: relative;
}
/**drop down menu*/

.dropDownMenu {
    width: 100%;
    height: 70px;
}
.menuItem {
    width: 250px;
    height: 50px;
    display: table;
    position: relative;
}
.parentClass {
    position: relative;
}

.menuItemOpen {
    color: #3c3e3f;
    background-color: #ffffff;
    border-right: 1px solid #e0e5e6;
    border-top: 1px solid #e0e5e6;
}
.menuItemOpen img {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.menuItem:hover {
    background-color: #dce2e3;
}
.positionText {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.dropMenuText {
    font-size: 16px;
    color: #3c3e3f;
    padding-left: 10px;
    padding-right: 24px;
}
/*.menuItem:hover .menuUl{
    display: block;
}*/
.menuUl {
    display: none;
    list-style-type: none;
    font-size: 14px;
    color: #727c7e;
    border: 1px solid #e0e5e6;
    border-top: none;
    position: absolute;
    left: 0;
    top: 49px;
    z-index:1000;
}
.liItem {
     width: 100%;
     height: 50px;
     background-color: #ffffff;
    display: table;
}
.liItem:hover {
    background-color: #ebf1f1;
}
.liItem:active {
    background-color: #05b5a2;
    color: #ffffff;
}
.menuUl .checked {
    width: 12px;
    height: 8px;
    display: inline-block;
    padding-left: 13px;
    padding-right: 20px;
}
.logo {
    display: none;
}
.liItem:active .logo{
    display: inline-block;
}
.selected {
    background-color: #05b5a2;
    color: #ffffff;
}
.liItem.selected .logo{
    display: inline-block;
}
.daterange {
    position: relative;
}
/*.daterangepicker_input, .ranges{
    display: none;
}*/
/*end drop down menu*/

.borderAnalit {
    padding-left: 40px;
    padding-right: 120px;
    background-color: #e5ebeb;
    font-size: 14px;
    font-family: OpenSans-Light;
    color: #727c7e;
}
.addTheLegend {
    font-size: 12px;
    font-family: OpenSans-Light;
    color: #3c3e3f;
}
.dropDownMenuPadding {
    padding-left: 40px;
    background-color: #ebf1f1;
    border-bottom: 1px solid #dce2e3;
}
/*8/12/2016*/
.filterUp {
    font-family: 'Open Sans';
    font-size: 16px;
    padding-left: 10px;
    color: #3c3e3f;
    font-weight: 500;
    padding-right: 22px;
    text-align: left;
    vertical-align: top;
}
.sales {
    background-color: #dce2e3;
    padding-left:19px;
    padding:8px;
    border-radius:14px;
    cursor: pointer;
    float:left;
}
.sales img, .clearAll img {
    padding-left: 10px;
}
#clearAll, .clearAll {
    cursor: pointer;
    text-decoration: underline;
}
.filter table th{
    padding-right: 34px;
}
/*22 08 16*/
.filter {
    width: 100%;
    min-height: 85px;
}
.inTheBall {
    font-size: 14px;
    font-family: OpenSans-Light;
    color: #727c7e;
}
.containerCenter {
    text-align: center;
    position: relative;
    padding-top: 15px;
}
.containerCenter table {
    margin: 0 auto;
}
.containerCenter table td {
    padding-right: 15px;
}
.containerCenter .square {
	width: 10px;
	height: 20px;
	background: #d5dcdd;
    display: inline-block;
}
.containerCenter .text {
    padding-right: 30px;
}
.addTheLegend {
    margin-top: 15px;
    border-top: 1px solid #eaeeee;
}

h2, h3 {
    color: black !important;
}
.nvd3.nv-pie .nv-pie-title {
    font-size: 12px !important;
    color: #b6bcd4 !important;
    fill: #b6bcd4 !important;
    text-transform: uppercase;
    font-family: 'OpenSans-Bold' !important;
}
.nv-pie-title tspan {
    font-family: 'OpenSans-Bold' !important;
}


@media print {
    .noPrint {
        display: none;
    }
    .case-MainContent-HeaderLinks.clearfix {
        display: none;
    }
    #chart1 {
        width: 100%;
    }
    #chart2 {
        width: 100%;
    }
    #chart3 {
        width: 100%;
    }
    .showPrintElement {
        display: block !important;
    }
    .lineHeightForPrint {
        line-height: 38px;
    }
    .showPrintElement {
        display: block !important;
    }

    #print1 {
        display: block !important;
        width: 50%;
    }
    .showPrintElement {
        display: block !important;
        color: #abb9bb;
    }
}

@media print {

    .RootCauseAnalysis-roudChart__title {
        text-align: left;
        font-family: 'OpenSans-Regular';
        font-size: 12px;
        color: #3c3e3f;
    }

    .nvd3.nv-pie .nv-pie-title {
        font-size: 12px !important;
        color: #b6bcd4 !important;
        fill: #b6bcd4 !important;
        text-transform: uppercase;
        font-family: 'OpenSans-Bold' !important;
    }

    .printPadding {
        padding-top: 50px;
    }

    .fluidTitle {
        padding: 50px 20px;
        font-family: 'OpenSans-Light';
        font-size: 16px;
        margin: 50px 20px;
    }

        .fluidTitle strong {
            font-family: 'OpenSans-Regular';
            color: #3c3e3f;
            font-size: 16px;
            text-transform: capitalize;
        }

    .case-MainContent-HeaderLinks__itemText {
        display: none;
    }

    #dashboard .percentage {
        font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
        color: #abb9bb;
        font-size: 14px;
    }

    .RootCauseAnalysis-roudChart__count {
        font-size: 18px;
        font-weight: bold;
        text-align: right;
        font-family: 'OpenSans-Semibold';
        color: #3c3e3f;
    }

    #printResponseTime .fluidTitle {
        padding: 0px;
    }

    .lineHeightForPrint {
        line-height: 38px;
    }

    .paddingTopForPrint30 {
        padding-top: 15px
    }

    .showPrintElement {
        display: block !important;
        color: #abb9bb;
    }
    /*.RootCauseAnalysis-roudChart__title {
        background-color: red;
    }*/
}

.printButton {
    background: none;
    border: none;
    cursor: pointer;
}