@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('fonts/OpenSans/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans/OpenSans-Bold.ttf');
}

.myMessages {
    display: table;
    background: #fff;
    width: 100%;
    min-height: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e5e6;
    border-right: 1px solid #e0e5e6;
}
.myMessages .topBlock {
    border-top: 1px solid #e8eaeb;
}
.myMessages p.titleMessages {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e8eaeb;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    font-size: 18px;
    color: #3c3e3f;
    padding-top: 26px;
    padding-bottom: 20px;
    padding-left: 10px;
    line-height: 18px;
}
.myMessages .blockPhoto img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}
.myMessages .textMessage p.personalName {
    margin-bottom: 0px;
    margin-top: 0px;
    color: #aeb5b7;
    font-size: 14px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    padding-bottom: 10px;
    line-height: 14px;
}
.myMessages .textMessage p.text {
    margin-bottom: 0px;
    margin-top: 0px;
    color: #3c3e3f;
    font-size: 18px;
    font-family: 'OpenSans-Bold', arial, verdana, sans-serif;
}
.myMessages .blockDate {
    display: table-cell;
    min-width: 95px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #aeb5b7;
    font-size: 12px;
    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
    text-align: right;
    padding-right: 25px;
    width: 10%;
}
.myMessages .blockDate p{
    margin-top: 20px;
}
.myMessages .blockMessage .blockPhoto {
    display: table-cell;
    min-width: 110px;
    text-align: right;
    width: 10%;
}
.myMessages .textMessage {
    display: table-cell;
    width: 100%;
}
.myMessages .blockMessage {
    margin-right: 10px;
    padding-bottom: 30px;
}
.myMessages .withStaticBorder{
    border-left: 10px solid #b2bfc3;
}
.oldMessage .withStaticBorder{
    border-left: 10px solid #f2f7f7;
}
.oldMessage{
    background-color: #f2f7f7;
}
.oldMessage .textMessage p.text {
    font-weight: normal;
}
.blockPhoto p{
    display: none;
}

/*for href /messages/Index*/
.myMessages .textMessage p.text a {
    text-decoration: none;
    color: #3c3e3f;
}
/**/

/*================= START MEDIA ========*/
@media (max-width: 551px){
    .blockPhoto p{
        display: block;
        color: #aeb5b7;
        font-size: 12px;
        font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
        text-align: right;
        text-align: center;
    }
    .myMessages .blockMessage .blockPhoto {
        display: table-cell;
        min-width: 110px;
        text-align: right;
        width: 10%;
        width: 100%;
        display: block;
        text-align: center;
    }
    .myMessages .blockDate{
        display: none;
    }
    .textMessage p{
        padding-left: 10px;
    }
    .myMessages .blockPhoto img {
        margin-right: 0px;
    }
    .myMessages .textMessage p.personalName {
        text-align: center;
        padding-left: 0px;
    }

    .casesMassage::after {
        display: none;
    }
}
/*================= END MEDIA ==========*/