/*@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Lato-Heavy';
    src: url('fonts/lato-heavy.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf');
}*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,600,700');
@font-face {
    font-family: 'Lato-Semibold';
    src: url('fonts/Lato-Semibold.ttf');
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: default;
}
#wrap {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 700px;
    background-image: url('/Content/img/website-report.jpg');
}
#header {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;

    height: 70px;
    margin: 0 auto;
}
#header_cc {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;

    height: 70px;
    margin: 0 auto;
}
.positionLogo {
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 80px;
}
.positionButton {
    position: relative;
    float: right;
    margin-top: 22px;
    margin-right: 80px;
}
.blueLogo {
    background: url(img/logo.png);
    background-repeat: no-repeat;
    width: 203px;
    height: 37px;
    cursor: pointer;
}
.bigButton {
    color: #fff;
    width: 160px;
    height: 30px;
    background-color: rgb(85, 149, 156);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(66, 117, 122);
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Open Sans', arial, verdana, sans-serif;
    font-weight: 700;
    cursor: pointer;
}


.bigButton:hover, .bigButton:focus {
    background-color: #42757a;
    border-color: #305458;
}

.bigButton:active {
    background-color: #345c60;
    border-color: #345c60;
}

#header_cc .bigButton {
    background-color: #4da456;
    border-color: #2e7037;
}


#header_cc .bigButton:hover, #header_cc .bigButton:focus {
    background-color: #3C8445;
    border-color: #2e7037;
}

#header_cc .bigButton:active {
    background-color: #2e7037;
    border-color: #2e7037;
}
.bigButton span {
    text-align: center;
    display: block;
    padding: 5px;
}
/*Index/Page*/
.changeFontOpenSans{
    font-family: 'Open Sans', arial, verdana, sans-serif;
    font-weight: 700;
}
.positionLogin {
    position: relative;
    float: left;
    margin-top: 27px;
    margin-right: 95px;
}

@media (max-width: 730px) {
    .positionLogin {
        margin-right: 70px;
    }
}
@media (max-width: 680px) {
    .positionLogin {
        margin-right: 50px;
    }
    .positionButton {
        margin-right: 60px;
    }
}
@media (max-width: 620px) {
    .positionLogin {
        margin-right: 30px;
    }
    .positionButton {
        margin-right: 40px;
    }
}
@media (max-width: 585px) {
    .positionLogin {
        margin-right: 15px;
    }
    .positionButton {
        margin-right: 20px;
    }
}

.login {
    color: rgb(5, 181, 162);
    font-family: 'Open Sans', arial, verdana, sans-serif;
    cursor: pointer;
    font-weight: 700;
}

.login:hover, .login:focus {
    color: #42757a;
    text-decoration: underline;
}

.login:active{
    text-decoration: none;
    color: #345c60;
}

#header_cc .login {
    color: #4da456;
}

#header_cc .login:hover, #header_cc .login:focus {
    color: #4da456;
    text-decoration: underline;
}

#header_cc .login:active {
    text-decoration: none;
    color: #2e7037;
}

#topBody {
    margin: 0 auto;
    height: 355px;
    font-family: 'Lato', arial, verdana, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
}
#topBodyLanding {
    margin: 0 auto;
    height: 270px;
    color: #fff;
    text-align: center;
}
.firstTitle {
    padding-top: 95px;
    font-size: 40px;
    padding-bottom: 6px;
    font-family: 'Lato', arial, verdana, sans-serif;
    font-weight: 900;
}
.secondTitle {
    font-weight: 400;
    font-size: 26px;
    font-family: 'Lato', arial, verdana, sans-serif;
    opacity: 0.8;
}
.thirdTitle {
    margin-top: 50px;
}
.fourthTitle {
    padding-top: 35px;
    font-family: 'Lato', arial, verdana, sans-serif;
    text-align: center;
    color: #05b5a2;
    font-size: 32px;
    font-weight: 700;
}
.positionIcons {
    width: 100%;
    height: 100px;
}


#specialInput {
    outline: none;
    width: 432px;
    text-decoration: none;
    height: 40px;
    font-size: 20px;
    padding: 2px;
    margin-left: -87px;
    font-family: 'Open Sans', arial, verdana, sans-serif;
    font-weight: 300;
    padding-left: 20px;
    color: rgba(75, 104,108,0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
    border: 1px solid #666;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#specialInput:focus {
    font-family: 'Open Sans', arial, verdana, sans-serif;
    font-weight: 700;
    color: rgba(56,73,77, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
    border: 1px solid #666;
}
#buttonStart {
    width: 87px;
    margin-top: 1px;
    height: 44px;
    background-color: rgb(251, 94, 45);
    display: inline;
    position: absolute;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

#buttonStart:hover {
    background-color: rgb(231, 73, 24);
}
.buttonStartText {
    display: block;
    padding: 12px;
    font-family: 'Open Sans', arial, verdana, sans-serif;
    font-weight: 700;}
#bottomBody {
    height: 420px;
    background-color: rgba(34, 79, 79, 0.5);
}

#bottomBody_cc {
    height: 420px;
    background-color: transparent;
}
#bottomBody_cc .fourthTitle, #bottomBody_cc .itemBlock:nth-child(2){
    display: none;
}
/*#footer {
    background-color:rgba(255, 255, 255, 0.7);
    margin-top: -100px;
    width: 100%;
    height: 100px;
    font-size: 14px;
    overflow:hidden;
    font-family: LatoRegular;
    color: rgb(75, 104, 108);
}*/
#footer {
    padding-top: 50px;
    height: 160px;
    width: 100%;
    font-size: 14px;
    font-family: 'Lato', arial, verdana, sans-serif;
    font-weight: 400;
    color: rgb(75, 104, 108);
    background: #EDF0F0;
}

#footer li{
    margin-left: 10%;
    float: left;
    list-style-type: none;
    text-decoration: none;
    color: #4b686c;
}

@media (max-width: 1425px) {
    #footer li {
        margin-left: 7.5%;
    }
}

@media (max-width: 1280px) {
    #footer li {
        margin-left: 5%;
    }
}

@media (max-width: 1155px) {
    #footer li {
        margin-left: 2.5%;
    }
}

#footer a {
    /*margin-left: 10%;*/
    float: left;
    padding-top: 52px;
    list-style-type: none;
    text-decoration: none;
    color: #4b686c;
}

#footer .positionLogo {
    padding-top: 45px;
}
.greenLogo, #header_cc .blueLogo {
    background: url(img/logo2.png) /*rgb(213, 228, 228)*/;
    background-repeat: no-repeat;
    width: 215px;
    height: 37px;
}

.paddingFooter a {
    text-decoration: none;
    padding-left: 95px;
}

/*.employeeConfidential {
    float: right;
    margin-right: 39px;
    color: #4b686c;
    font-family: 'Lato', sans-serif;
    color: gray;
    opacity: 0.9;
    float: right;
    padding-top: 69px;
}*/
.employeeConfidential {
    padding-top: 5px;
    float: right;
    margin-right: 39px;
    color: #4b686c;
    font-family: 'Lato', arial, verdana, sans-serif;
    font-weight: 400;
    color: gray;
    opacity: 0.9;
    /* margin-left: 17%; */
    float: right;
    padding-top: 52px;
}
.icons {
    margin: 25px auto;
    width: 75%;
    text-align: center;
    height: 72%;
}
.centerBlock {
    /*text-align: center;
    width: 100%;
    height: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items:center;*/
    color: rgba(255,255,255,0.6);
}
.positionFirstBlock {
    margin: 0 auto;
    float: left;
    word-wrap: inherit;
    height: 100%;
    width: 25%;
    min-width: 157px;
}
.hoverClassFirstBlock {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    min-width: 157px;
}
/*.hoverClassFirstBlock:hover {
    color: rgba(255,255,255,0.8);
    background-color: rgba(20, 68, 70, 0.8);
}
.hoverClassFirstBlock:hover #firstIcon{
    background-position-x: -120px;
    background-position-y: 0px;
}*/
.hoverClassSecondBlock {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    min-width: 157px;
}
/*.hoverClassSecondBlock:hover {
    color: rgba(255,255,255,0.8);
    background-color: rgba(20, 68, 70, 0.8);
}
.hoverClassSecondBlock:hover #secondIcon{
    background-position: 533px 0;
}*/
.hoverClassThirdBlock {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    min-width: 157px;
}
/*.hoverClassThirdBlock:hover {
    color: rgba(255,255,255,0.8);
    background-color: rgba(20, 68, 70, 0.8);
}
.hoverClassThirdBlock:hover #thirdIcon{
    background-position: 301px 1px;
}*/
.hoverClassFourthBlock {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    min-width: 157px;
}
/*.hoverClassFourthBlock:hover {
    color: rgba(255,255,255,0.8);
    background-color: rgba(20, 68, 70, 0.8);
}
.hoverClassFourthBlock:hover #fourthIcon {
    background-position: 172px 0px;
}*/
.positionSecondBlock {
    margin: 0 auto;
    float: left;
    word-wrap: inherit;
    width: 25%;
    height: 100%;
    min-width: 157px;
}
.positionThirdBlock {
    margin: 0 auto;
    float: left;
    word-wrap: inherit;
    width: 25%;
    height: 100%;
    min-width: 157px;
}
.positionFourthBlock {
    margin: 0 auto;
    float: left;
    word-wrap: inherit;
    width: 25%;
    height: 100%;
    min-width: 157px;
}
.positionFifthBlock {
    margin: 0 auto;
    float: left;
    word-wrap: inherit;
    width: 25%;
    height: 100%;
    min-width: 157px;
}
.empty {
    height: 10px;
    width: 1px;
}
.itemBlock {
    display: inline-block;
    /*width: 24%;*/
    vertical-align: top;
    /*box-sizing: border-box;*/
    padding: 0 15px;
    /*height: 100%;*/
}

.itemBlock:hover, .itemBlock:focus {
    background-color: rgba(0, 0, 0, 0.1);
}
#firstIcon {
    background: url(img/iconHover.png) no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    width: 98px;
    height: 65px;
    margin: 0 auto;
    max-width: 98px;
}
#secondIcon {
    background: url(img/iconHover.png);
    background-position: 681px 0;
    width: 138px;
    height: 73px;
    margin: 0 auto;
    max-width: 138px;
}
#thirdIcon {
    background: url(img/iconHover.png);
    background-position: 381px 0;
    width: 75px;
    height: 78px;
    margin: 0 auto;
    max-width: 75px;
}
#fourthIcon {
    background: url(img/iconHover.png);
    background-position: 80px 0;
    width: 80px;
    height: 82px;
    margin: 0 auto;
    max-width: 80px;
}
.title {
    font-family: 'Lato', arial, verdana, sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.textBlock {
    font-family: 'Lato', arial, verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 1px;
    max-width: 270px;
    padding: 20px 0 0 0;
    overflow: hidden;
}

#positionThirdAndFourth  {
    width: 100%;
    height: 100%;
}
@media (max-width: 1645px) {
    .textBlock {
        font-size: 14px;
    }
}
@media (max-width: 1000px) {
    .title {
        font-size: 16px;
    }
}
@media (max-width: 872px) {
    .hoverClassFirstBlock {
        height: 75%;
    }
    .hoverClassSecondBlock {
        height: 75%;
    }
    .positionThirdBlock {
        height: 80%;
    }
    .positionFourthBlock {
        height: 85%;
    }

}

@media (max-width: 717px) {
    #bottomBody {
        display: table;
        width: 100%;
    }

}
@media (max-width: 715px) {
    #secondIcon {
        background-size: auto;
    }
}

@media (max-width: 679px) {
    @media (max-width: 658px) {
        @media (max-width: 580px) {


            #bottomBody {
                display: table;
            }

            #positionThirdAndFourth {
                float: left;
            }
        }

        @media (max-width: 580px) {
            #specialInput {
                width: 65%;
            }
        }

        @media (max-width: 365px) {
            .positionFirstBlock {
                width: 100%;
            }

            .positionSecondBlock {
                width: 100%;
            }

            .positionThirdBlock {
                width: 100%;
            }

            .positionFourthBlock {
                width: 100%;
            }
        }

        #footer ul {
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #footer li {
            float: left;
        }

        li {
            list-style-type: none;
        }

        li a {
            text-decoration: none;
            color: #4b686c;
        }

        li a:visited {
            text-decoration: none;
            color: #4b686c;
        }

        li a:hover {
            text-decoration: none;
            color: #4b686c;
        }

        #contact {
            margin-left: 8%;
            float: left;
            padding-top: 52px;
        }

        #privacy {
            margin-left: 8%;
            float: left;
            padding-top: 52px;
        }

        #terms {
            margin-left: 10%;
            float: left;
            padding-top: 52px;
            list-style-type: none;
            text-decoration: none;
            color: #4b686c;
        }

        #firstLogo {
            margin-left: 2%;
            padding-top: 30px;
        }

        #secondLogo {
            margin-left: 4%;
            padding-top: 30px;
        }

        #benefits {
            height: 560px;
        }

        .positionTitle {
            text-align: center;
            padding-top: 47px;
        }

        .greenTitle {
            font-family: 'Lato', arial, verdana, sans-serif;
            font-weight: 400;
            font-size: 30px;
            color: rgb(5, 181, 162);
        }

        .secondPositionTitle {
            text-align: center;
            font-size: 18px;
            font-family: 'Lato', arial, verdana, sans-serif;
            font-weight: 400;
            opacity: 0.8;
        }

        .positionIcons2 {
            padding-top: 60px;
            margin: 0 auto;
            width: 1360px;
        }

        #benefits #firstIcon {
            background: url(icons/first.png) no-repeat;
            width: 98px;
            height: 54px;
            margin: 0 auto;
            max-width: 98px;
        }

        #benefits #secondIcon {
            background: url(icons/second.png) no-repeat;
            width: 73px;
            height: 80px;
            margin: 0 auto;
            max-width: 73px;
        }

        #benefits #thirdIcon {
            background: url(icons/third.png) no-repeat;
            width: 80px;
            height: 72px;
            margin: 0 auto;
            max-width: 80px;
        }

        #benefits #fourthIcon {
            background: url(icons/fourth.png) no-repeat;
            width: 64px;
            height: 77px;
            margin: 0 auto;
            max-width: 64px;
        }

        #benefits #fifthIcon {
            background: url(icons/fifth.png) no-repeat;
            width: 87px;
            height: 77px;
            margin: 0 auto;
            max-width: 87px;
        }

        #benefitsIcons {
            width: 1360px;
            margin: 0 auto;
            padding-top: 65px;
        }

        #benefits .positionFirstBlock,
        #benefits .positionSecondBlock,
        #benefits .positionThirdBlock,
        #benefits .positionFourthBlock,
        #benefits .positionFifthBlock {
            width: 20%;
        }

        #benefits .title {
            color: rgb(5, 181, 162);
            font-family: 'Lato', arial, verdana, sans-serif;
            font-weight: 700;
        }

        #benefits .textBlock {
            color: rgb(75, 104, 108);
        }

        .loginBox {
            border-color: rgb(1, 1, 108);
            width: 420px;
            display: table;
            margin: 0 auto;
            text-align: center;
        }

        .loginTitle {
            font-size: 24px;
            font-family: 'Lato', arial, verdana, sans-serif;
            font-weight: 700;
        }

        .loginDate {
            color: #fff;
            background-color: rgb(106, 132, 135);
            height: 260px;
        }

        .loginText {
            width: 381px;
            height: 70px;
        }

        .loginPass {
            margin-bottom: 23px;
            width: 381px;
            height: 70px;
        }

        .loginSubmit {
            margin: 0 auto;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(199, 75, 36);
            background-color: rgb(251, 94, 45);
            border: none;
            color: rgb(255, 255, 255);
            width: 180px;
            height: 40px;
            font-size: 18px;
            margin-bottom: 23px;
        }

        .loginFooter {
            color: #fff;
            background-color: rgb(152, 173, 175);
            line-height: 40px;
            height: 50px;
            text-align: right;
            padding-right: 20px;
            font-size: 12px;
        }

        .companyLogin {
            margin-top: 30px;
            color: rgb(75, 104, 108);
            font-size: 18px;
            text-align: center;
            font-family: 'Lato-Semibold', arial, verdana, sans-serif;
        }

        .loginBox a {
            color: #fff;
            text-align: right;
            font-family: 'Lato-Semibold', arial, verdana, sans-serif;
            font-size: 14px;
        }

        #topLoginBody {
            width: 100%;
            height: 800px;
            background-color: #e5f3f2;
            padding-top: 100px;
        }

        .loginSubmit span {
            position: relative;
            top: 10px;
            font-size: 16px;
            font-family: 'Open Sans', arial, verdana, sans-serif;
            font-weight: 700;
        }

    }
}

@media (max-width: 1070px) {
    .positionLogo {
        margin-left: 40px;
    }
}

@media (max-width: 980px) {
    .positionLogo {
        margin-left: 10px;
    }
}

@media (max-width: 700px) {
    .positionFirstBlock,
    .positionSecondBlock,
    .positionThirdBlock,
    .positionFourthBlock {
        width: 50%;
        height: auto;
    }
    #positionThirdAndFourth,
    .centerBlock {
        display: table;
        height: auto;
    }
}


@media (max-width: 680px) {
    .blueLogo {
        margin: auto;
    }
    #footer .positionLogo {
        width: 100%;
        display: table;
        margin-left: 0px;
    }
    #footer div{
        float: none !important;
    }
    #footer ul {
        display: table;
        display: table;
        width: 300px;
        margin: auto;
        padding-left: 0px;
    }
    #footer li {
        margin-left: 0px !important;
        width: 100px;
        padding-top: 0px;
    }
    #footer a {
        padding-top: 20px;
        width: 100%;
        text-align: center;
    }
    .employeeConfidential {
        text-align: center;
        margin-right: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (max-width: 490px) {
    #header {
        display: table;
    }
    .positionLogo {
        margin-left: 0px;
        width: 100%;
    }
    .blueLogo {
        margin: auto;
    }
    .positionButton {
        margin-right: 0px;
    }
    #header .positionLogo + div {
        float: none !important;
        margin: auto;
        width: 300px;
        display: table;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .positionLogin {
        margin-right: 0px;
        margin-left: 20px;
    }
}
@media (max-width: 430px) {
    .positionFirstBlock,
    .positionSecondBlock,
    .positionThirdBlock,
    .positionFourthBlock {
        width: 100%;
        padding-bottom: 30px;
        height: auto;
    }
    #specialInput {
        width: 55%;
    }
}