@using EC.App_LocalResources;
@{
    var report_id = (Int32)ViewBag.report_id;
    EC.Models.ReportModel rm = new EC.Models.ReportModel(report_id);
    string style = "background-color: #" + rm._color_code;
    var user_id = (Int32)ViewBag.user_id;
    string report_string = string.Format(GlobalRes.ReportPreviewNotification_noDate, rm.Get_reporter_name(user_id), rm._secondary_type_string, rm._location_string);
}
<a href="/newReport/@report_id">
    <div class="newReport" style="@style">
        <div>@GlobalRes.Newreport: #@rm._report.display_name</div>
        <div class="content">@Html.Raw(report_string)</div>
        <div id="iconLeft"></div>
    </div>
</a>