@model EC.Models.ViewModels.HeaderPos
@{
    string[] _statuses = EC.Constants.ECGlobalConstants.ReportFlowStatusesList;
}
<div class="headerPos">
    @for (int i = 0; i < 5; i++)
    {
        if (i < Model._investigation_status)
        {
            <div class="positionN active@{@Model.cc_extension}">
                <span>@_statuses[i]</span>
            </div>

                            <div class="polos"></div>
    }
    else
    {
        <div class="positionN">
            <span>@_statuses[i]</span>
        </div>
        <div class="polos"></div>
        }

    }
</div><!--headerPos-->
