@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["Title"];
}

<div class="general-container">

    <header class="header header-cc">
        <div class="top-headerBg">
            <div class="container">
                <div class="top-header">
                    <a href="http://employeeconfidential.com" class="top-header__campusLink">
                        <span class="top-header__campusLink-text">
                            Employee Confidential
                        </span>
                        <img src="~/Content/images/svg-icons/upper-right.svg" alt="" />
                    </a>
                    <div class="top-header__loginBar">
                        <nav class="top-header__loginBar-nav">
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Login" class="top-header__loginBar-a">
                                    Client Login
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Report" class="top-header__loginBar-a">
                                    File a Report
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="top-header__loginBar-a">
                                    Check Report Status
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                        </nav><!-- /.top-header__loginBar-nav -->
                    </div><!-- /.top-header__loginBar -->
                </div><!-- /.top-header -->
            </div>
        </div>
        <div class="main-headerBg">
            <div class="container">
                <div class="main-header">
                    <a href="/" class="main-headerLogo">
                        <div class="main-headerLogo__img">
                            <img src="~/Content/images/0-main-logo-CC.png" alt="" />
                        </div><!-- /.main-headerLogo__img -->
                        <div class="main-headerLogo__text">
                            Reduce risk. Create trust.
                        </div><!-- /.main-headerLogo__text -->
                    </a><!-- /.main-headerLogo -->
                    <div class="main-headerMenu-mobile">
                        <a href="/" class="main-headerLogo-mobile">
                            <div class="main-headerLogo__img-mobile">
                                <img src="~/Content/images/0-main-logo.png" alt="" />
                            </div><!-- /.main-headerLogo__img -->
                            <div class="main-headerLogo__text-mobile">
                                Reduce risk. Create trust.
                            </div><!-- /.main-headerLogo__text -->
                        </a><!-- /.main-headerLogo -->
                        <a href="#" class="main-headerLogo-mobile-burgerBtn">
                            <img src="~/Content/images/svg-icons/burger.svg" alt="" />
                        </a>
                    </div><!-- /.main-headerMenu-mobile -->
                    <div class="main-headerMenu">
                        <nav class="main-headerMenu__nav">
                            <li class="main-headerMenu__li">
                                <a href="/#benefitsSection" class="main-headerMenu__a">
                                    Benefits
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#gridSection" class="main-headerMenu__a">
                                    Incident Reporting
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#menegementSection" class="main-headerMenu__a">
                                    Case Management
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="about.html" data-scroll-to="" class="main-headerMenu__a">
                                    About
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#contactSection" class="main-headerMenu__a">
                                    Contact
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                        </nav><!-- /.main-headerMenu__nav -->
                    </div><!-- /.main-headerMenu -->
                </div><!-- /.main-header -->
            </div><!-- /.container -->
        </div><!-- /.main-headerBg -->
    </header><!-- /.header -->
    <main class="main">
        <section class="leaderShipSection leaderShipSection-cc">
            <div class="container">
                <h3 class="leaderShipSection__title">
                    LeaderShip
                </h3><!-- /.leaderShipSection__title -->
                <div class="leaderShipSection__container">


                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Margo.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Margot Sandenbergh-Bozmarov
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                CEO & Cofounder
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">

                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Margo.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Margot Sandenbergh-Bozmarov
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        CEO & Cofounder
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            Margot Sandenbergh is a serial entrepreneur, product developer and business strategist.
                                        </p>
                                        <p>
                                            Over the span of her career, Margot has used her skills to lead in many fields:
                                        </p>
                                        <p>
                                            <b>As a business executive</b>, she served as the CEO and president of the AutoCAD Centre Africa, representing the products of NASDAQ-listed CAD software manufacturer Autodesk. She led the sales, training and application software development departments. She quadrupled the revenue in three years and negotiated the sale to the JSE-listed company, Anglovaal. Margot is also the CEO and cofounder of COMDUIT, a platform for entrepreneurs and startup teams.
                                        </p>
                                        <p>
                                            <b>As a software developer</b>, Margot helped develop PQ, a psychological testing program and created the first interactive touchscreen voter information kiosk, which was funded by UNESCO for South Africa’s first democratic elections.
                                        </p>
                                        <p>
                                            <b>As a publisher</b>, Margot founded a city entertainment magazine in South Africa, SA citylife, which was based loosely on New York Magazine and Time Out. She led the creative and editorial teams and the advertising and business operations. Margot is also the co-founder of the award-winning SPOT ON media agency in NYC, a content marketer, custom publisher and marketing consultancy.
                                        </p>
                                        <p>
                                            <b>As a TV producer</b>, she developed and extended the citylife brand from a magazine product to two weekly TV shows, big city on M-NET(cable) and citylife on e-tv (network), which won awards for best magazine show in South Africa in 2000 and 2001 respectively. The brand also spawned an in-flight magazine, entertainment events, and a smart-card CRM loyalty club.
                                        </p>
                                        <p>
                                            Margot received a B.Sc. from the University of South Africa with a double major in computer science and psychology. She received an MBA from the University of Cape Town, where she graduated cum laude and won the Andersen Consulting IT award.
                                        </p>
                                        <p>
                                            Margot currently serves on multiple nonprofit boards, including the advisory board of NYU Langone’s Center for the Study and Treatment of Pain (CSTP).
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Tim.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Tim Asadov
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                CTO & Cofounder
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Tim.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Tim Asadov
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        Chief Technical Officer & Cofounder
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            Tim is responsible for Software Engineering at EC.  He has over 10 years experience in delivering highly scaled and robust software solutions in the educational, insurance, healthcare and Human Resources sectors. With an entrepreneurial mindset and strong analytical and problem solving skills, Tim understands what it takes to create innovative and client-centered SaaS solutions.
                                        </p>
                                        <p>
                                            Prior to cofounding EC, Tim worked as a software developer for MCST (later purchased by Intel), BCOptima, Fraser Health and spearheaded the development at Clevest to win Microsoft’s Application Innovation Developer Impact Award. Tim holds a Bachelor of Applied Science from Moscow State University.
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Stanislav.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Stanislav Levin
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                CCO & Cofounder
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Stanislav.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Stanislav Levin
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        Chief Creative Officer & Cofounder
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            Stanislav serves as EC’s Chief Product and Creative Officer. He is a user experience and interface designer and engineer with a passion to create simple design solutions for large UX problems.
                                        </p>
                                        <p>
                                            Prior to cofounding EC, Stanislav served as Design Director for Exquance Software. He also worked for over 12 years as a contract designer for projects for Trimble Navigation (TRMB), Bridgestone, DigMyData and Oxygen Cloud.
                                        </p>
                                        <p>
                                            He founded Brandcut in 2009, a UX & UI design consultancy, with clients such as Advanced Process Designs, Family Justice Center and Rokk3rlabs.
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Steve.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Steve Koronczok
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                EVP of Business Development
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Steve.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Steve Koronczok
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        EVP of Business Development
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            Steve is a partner and EVP at healthPERX, a telemedicine marketing company. Shortly after beginning his career, Steve was appointed Marketing Director of Colonial Life and Accident, capturing a niche market in Section 125 (IRC). Steve then founded Benefit Alliance, an insurance brokerage firm specializing in employee-benefits.
                                        </p>
                                        <p>
                                            Steve pioneered the concept of cause-marketing insurance programs with the launch of SurvivorPlan for the LIVESTRONG foundation. He also co-founded Internet Enrollment Solutions (IES), a company that featured one of the first co-browsing enrollment platforms in the employee benefits insurance industry.
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Carol.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Carol A. Moody
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                Advisory Board Member,<br>
                                Product Development.<br>
                                Human Resources<br>
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Carol.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Carol A. Moody
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        Advisory Board Member,<br>
                                        Product Development.<br>
                                        Specialty: Human Resources<br>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            Carol A. Moody is Entergy Nuclear’ Operations s vice president-Human Resources. She has more than 25 years of experience in all aspects of Human Resources across a variety of industries, including manufacturing, metals processing, utilities and nuclear power.
                                        </p>
                                        <p>
                                            Carol has a Masters degree in Labor and Industrial Relations and a Bachelor's Degree in Economics from Michigan State University.
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Don.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Don Phin
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                Advisory Board Member,<br>
                                Product Development.<br>
                                Human Resources<br>
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Don.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Don Phin
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        Advisory Board Member,<br>
                                        Biz Development.<br>
                                        Specialty: Employment Practice Liability<br>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            Don Phin has been a California employment practices attorney since 1983. After he litigated cases for 17 years, he figured out how ridiculous it all was, and decided to help employees and companies avoid destructive dramas. In 2002 Don built HRThatWorks which he sold to ThinkHR in 2014. Don has been the co-editor of the prestigious EPLiC Journal and is the author of five books on employment practices, and has created dozens of training programs and presented to hundreds of CEO, HR, and insurance groups.
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-John.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                John Connolly
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                Advisory Board Member,<br>
                                Biz Development.<br>
                                Healthcare<br>
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-John.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        John Connolly
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        Advisory Board Member,<br>
                                        Biz Development.<br>
                                        Specialty: Healthcare<br>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            John J. Connolly, Ed.D. is the President & CEO of Castle Connolly Medical Ltd. publisher of America's Top Doctors®. He is also Chairman of Castle Connolly Private Health Partners, LLC, a concierge medicine company. John served as President of New York Medical College, the nation's second largest private medical college, for more than ten years. He is a Fellow of the New York Academy of Medicine, a Fellow of the New York Academy of Sciences, and a Director of the Northeast Business Group on Health. He was formerly a member of the President's Council of the United Hospital Fund, and a member of the Board of Advisors of the Whitehead Institute for Biomedical Research.
                                        </p>
                                        <p>
                                            John served on the board of the Culinary Institute of America for over 20 years where he is now Chairman Emeritus. He holds a Bachelor of Science degree from Worcester State College, a Master's degree from the University of Connecticut, and a Doctor of Education degree in College and University Administration from Teacher's College, Columbia University. He has been awarded honorary doctorates from Mercy College (LHD) Worcester State University (LHD) and Daemen College.
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->


                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Kevin.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Kevin Wilson
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                Advisory Board Member,<br>
                                Biz Development.<br>
                                Public Accounting<br>
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Kevin.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Kevin Wilson
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        Advisory Board Member,<br>
                                        Biz Development.<br>
                                        Specialty: Public Accounting<br>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            Kevin Wilson is a business development executive with CBIZ Valuation Group, LLC. He has more than 20 years of experience in business development.
                                        </p>
                                        <p>
                                            Kevin spent almost thirteen years practicing in public accounting focusing on tax, business consulting and investment advisory services.  During that time Kevin built a successful clientele following, becoming a Shareholder in his firm. He is a Certified Public Accountant with continuous Texas certification since 1995.
                                        </p>
                                        <p>
                                            Kevin decided to focus his career efforts on business development and left public accounting to do so.  After nearly six years of performing business development work for other companies, Kevin started his own company at the start of 2012.
                                        </p>
                                        <p>
                                            Prior to joining CBIZ Valuation Group, Kevin was responsible for internal business development operations management at Ernst and Young, LLP in their Dallas office.  He has also held business development roles with Robert Half Management Resources, UHY LLP and Jefferson Wells (now Experis).
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Greg.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Greg Cook
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                Advisory Board Member,<br>
                                Biz Development.<br>
                                Captive Insurance<br>
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Greg.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Greg Cook
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        Advisory Board Member,<br>
                                        Biz Development.<br>
                                        Specialty: Captive Insurance<br>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            Greg is the CEO of CARE Professional Liability Association. He has spent over ten years in the formation and management of captive insurance companies, first with Aon in the Bermuda captive industry and more recently as Vice President of Risk Services, LLC where he was responsible for oversight of their Vermont office which manages captive clients domiciled in a variety of onshore locations. He has also served as an officer and director on several insurance company Boards. Greg is a Chartered Accountant (CA), a Certified Public Accountant (CPA), has completed the Associate in Risk Management (ARM) designation, completed a Master of Business Administration (MBA), completed the Chartered Property Casualty Underwriter (CPCU) designation and is a Chartered Financial Analysis (CFA) candidate.
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Jaskie.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Jackie Jenkins-Scott
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                Advisory Board Member,<br>
                                Biz Development.<br>
                                Higher Education<br>
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Jaskie.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Jackie Jenkins-Scott
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        Advisory Board Member,<br>
                                        Biz Development.<br>
                                        Specialty: Higher Education <br>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            Jackie is president emeritus of Wheelock College, a 129-year old private college specializing in educating teachers and social workers. Under Jackie’s strategic leadership, Wheelock significantly increased its endowment and successfully completed the largest capital campaign in the College’s history. Jackie also initiated the College’s first Facilities Masterplan resulting in the construction of a contemporary multipurpose Campus Center, modern renovations to student dormitories, and a new state-of the-art, technology based Center for Learning and Innovation. She added new areas of study including cross-disciplinary and online programs, increased undergraduate enrollment and internationalized the campus experience for faculty and students.
                                        </p>
                                        <p>
                                            In 1983, Jackie became the President and Chief Executive Officer of the Dimock Community Health Center in Roxbury, MA, one of Boston’s first and now, one of the largest community-based health and human service organizations serving diverse, vulnerable populations. Under Jackie’s leadership, Dimock emerged from the verge of bankruptcy to a highly successful and sustainable benchmark institution that successfully integrated comprehensive health and human services, including new programming in workforce development, primary and behavioral healthcare, child and family-center services, transitional housing and a community based research program to develop innovative strategies for meeting the priority needs of inner-city residents. Her personal commitment to improve society extends to active community and civic engagement.
                                        </p>
                                        <p>
                                            Jackie is currently a member of the Boards of Directors of the Tufts Health Plan Foundation, Schott Foundation for Public Education, Center for Community Change, John F. Kennedy Library Foundation, and Century Bank and Trust Company. She raises public awareness about education and other public sector issues on a national (and global) scale by speaking and writing in a variety of media.
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Jeff.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Jeff Bronaugh
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                Advisory Board Member,<br>
                                Biz Development.<br>
                                Insurance Underwriting<br>
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Jeff.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Jeff Bronaugh
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        Advisory Board Member,<br>
                                        Biz Development.<br>
                                        Specialty: Insurance Underwriting<br>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            With over 35 years of experience in the insurance industry, Jeff’s background includes technical underwriting for large accounts, design of insurance contracts, regulatory filings, risk management, marketing, sales, and executive management. Jeff served as president of a major bank-owned insurance brokerage in Honolulu with clients throughout the Pacific Rim and as president and managing director of a top-50 insurance brokerage for an international bank.
                                        </p>
                                        <p>
                                            Jeff is past president of the Seattle and Hawaii Chapters of the Chartered Property & Casualty Underwriters Society (CPCU) and served on the board of directors of both Seattle and Hawaii Chapters of the Society of Financial Services Professionals. He is past-chair of the National CPCU Risk Management Interest Group and currently serves on the Professional Resource Group for the National CPCU Society.
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                    <div class="leaderShipBlock ">
                        <a href="#" class="leaderShipBlock__link">
                            <div class="leaderShip__img">
                                <img src="~/Content/images/about-Michael.jpg" alt="" />
                            </div><!-- /.leaderShip__img -->
                            <div class="leaderShip__name">
                                Michael-Pierre Kirstein
                            </div><!-- /.leaderShip__name -->
                            <div class="leaderShip__position">
                                EVP Biz Development.<br>
                                EMEA
                            </div><!-- /.leaderShip__position -->
                        </a>
                        <div class="leaderShipBlock-infoContainerBg">
                            <div class="leaderShipBlock-infoContainer">
                                <div class="leaderShipBlock-infoContainer__foto ">
                                    <img src="~/Content/images/about-Michael.jpg" alt="" />
                                </div><!-- /.leaderShipBlock-infoContainer__foto -->
                                <div class="leaderShipBlock-infoContainer__content ">
                                    <div class="leaderShipBlock-infoContainer__contentName">
                                        Michael-Pierre Kirstein
                                    </div><!-- /.leaderShipBlock-infoContainer__contentName -->
                                    <div class="leaderShipBlock-infoContainer__contentPosition">
                                        EVP Biz Development.<br>
                                        EMEA
                                    </div><!-- /.leaderShipBlock-infoContainer__contentPosition -->
                                    <div class="leaderShipBlock-infoContainer__contentText">
                                        <p>
                                            Michael also serves the Vice President Europe of Maine Pointe. He is responsible for the development and implementation of strategic initiatives in procurement, logistics and operations for clients in the Private Equity, Industrials & Manufacturing sectors. Michael is an experienced business developer for SaaS platforms in Europe and a frequent speaker on OpEx, Strategy Deployment & Leadership at European industry events.
                                        </p>
                                    </div><!-- /.leaderShipBlock-infoContainer__contentText -->
                                    <a href="#" class="leaderShipBlock-infoContainer__close">
                                        <img src="~/Content/images/svg-icons/close-exit.svg" alt="" />
                                    </a><!-- /.leaderShipBlock-infoContainer__close -->
                                </div><!-- /.leaderShipBlock-infoContainer__content -->
                            </div><!-- /.leaderShipBlock-infoContainer -->
                        </div><!-- /.leaderShipBlock-infoContainerBg -->
                    </div><!-- /.leaderShipBlock -->

                </div><!-- /.leaderShipSection__container -->
            </div><!-- /.container -->
        </section><!-- /.leaderShipSection -->
    </main><!-- /.main -->
    <!-- ------------------  Footer ---------------- -->
    <footer class="footerBg footerBg-cc">
        <div class="container">
            <div class="footer">
                <a href="#" class="footer__logo">
                    <img src="~/Content/images/0-main-logo-CC.png" alt="" />
                </a><!-- /.footer__logo -->
                <div class="footer__copyright">
                    Copyright © 2018 Employee Confidential LLC. All Rights Reserved
                </div><!-- /.footer__copyright -->
                <div class="footer__navLinks">
                    <nav class="footer__navLinks-nav">
                        <li class="footer__navLinks-li">
                            <a href="http://employeeconfidential.com/PrivacyStatement.html" class="footer__navLinks-a">
                                Privacy Policy
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                        <li class="footer__navLinks-li">
                            <a href="http://employeeconfidential.com/TermsOfService.html" class="footer__navLinks-a">
                                Terms of Use
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                    </nav><!-- /.footer__navLinks-nav -->
                </div><!-- /.footer__navLinks -->
            </div><!-- /.footer -->
        </div><!-- /.container -->
    </footer><!-- /.footer -->

</div><!-- /.general-container -->
