@using EC.Models;
@using EC.Models.ECModel;
@using EC.Models.Database;

@{    
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    String class_ext = ViewBag.cc_extension;
    //19
    //bool is_cc = true;
    //String class_ext = "";
    //if (is_cc)
    //{
    //    class_ext = "_cc";
    //}
    
    int _user_id = 0;
    bool is_owner = false;
    
    if(ViewBag.user_id != null)
    { 
        _user_id = (Int32)ViewBag.user_id;
    }
    if (ViewBag.is_owner != null)
    {
        is_owner = (bool)ViewBag.is_owner;
    }
    

    UserModel um = new UserModel(_user_id);
    string _sb_full_name = ""; 
    string _photo_path = "~/Content/Icons/noPhoto.png";

    if(um != null && um._user != null)
    {
        if (um._user.first_nm.Length > 0 || um._user.last_nm.Length > 0)
        {
            _sb_full_name = (um._user.first_nm + " " + um._user.last_nm).Replace(" ", "_");
        }
        if (um._user.photo_path.Trim() != "")
        {
            _photo_path = um._user.photo_path;
        }
        //_user_id = um._user.id;
    }
   }


<div class="blockPhoto">
    @if (is_owner)
    {
        if (um != null && um._user != null && um._user.role_id == 5)
        {
            if (is_cc.Value)
            {
                <div class="status status_cc"></div>
            }
            else
            {
                <div class="status"></div>
            }
        }
    }
    <div class="photoPersonal">
        @if (_user_id != 0)
        {
            <a href="/settings/user/@_user_id"><img src='@Url.Content(_photo_path)' title=@_sb_full_name /></a>
        }
        else
        {
            <img src='@Url.Content("~/Content/Icons/noPhoto.png")' />
        }
</div>



</div>