@using EC.Models.Database;
@{
    var report_id = (Int32)ViewBag.report_id;
    var user_id = (Int32)ViewBag.user_id;
    List<attachment> attachmentFiles = (List<attachment>)ViewBag.attachmentFiles;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">

<link href="@Url.Content("~/Content/assets/template/css/reset.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/assets/template/css/style.css")" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container navbar navbarColor col-md-12">
    <div class="row">
        <div class="col-md-10">
            <a class="navbar-brand" href="#">Report</a>
            <a class="navbar-brand" href="#">Investigation notes</a>
            <a class="navbar-brand" href="#">Tasks</a>
            <a class="navbar-brand" href="#">Messages</a>
            <a class="navbar-brand" href="#">Team</a>
        </div>
        <div class="col-md-1 ">
            <form class="form-inline my-2 my-lg-0">
                <a class="navbar-brand " href="#">Attachments</a>
            </form>
        </div>

        <div class="col-md-1 zipperColor">
            <img src="~/Content/Icons/activityIcon.png" style="padding: 15px;">
        </div>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->

<section class="types-section left" ng-controller="NewCaseInvestigationNotesController">

    <div class="menu-buttom ninja-btn">
        <a href="#"></a>
    </div>
    <div class="center">
        <!--Incident types-->
        <div class="flex incident-types someBorder">
            <div class="item">
                <p class="fact-title">Incident types</p>
                <ul>
                    <li ng-repeat="item in model.report_secondary_type_selected">
                        <a href="#" ng-click="incidentTypeDelete(item.id)" ng-show="!item.added_by_reporter">X</a>
                        {{item.secondary_type_en}}
                    </li>
                </ul>
                <a href="#" class="green--button incident-types--button" ng-show="!incidentTypeAddMode" ng-click="incidentTypeAddMode = !incidentTypeAddMode">Add incident type</a>
                <div class="select" ng-show="incidentTypeAddMode">
                    <a href="#" class="slct">Select one</a>
                    <ul class="drop">
                        <li ng-repeat="item in model.report_secondary_type_selected_avilable">
                            <a href="" ng-click="incidentTypeAdd(item)">{{item.secondary_type_en}}</a>
                        </li>
                    </ul>
                    <input type="hidden" id="select">
                </div>
            </div>

            <div class="item">
                <p class="fact-title">Involved Departments</p>
                <ul>
                    <li>Academic Affairs</li>
                </ul>
                <div class="select">
                    <a href="#" class="slct">Select one</a>
                    <ul class="drop">
                        <li><a href="">Select one</a></li>
                        <li><a href="">Select one</a></li>
                    </ul>
                    <input type="hidden" id="select">
                </div>
            </div>
        </div>
        <div class="flex incident-types specFlex">
            <div class="item">
                    <p class="fact-title">Involved Parties</p>
                    <ul>
                        <li ng-repeat="item in model.mediator_involved">
                            <a href="#" ng-click="mediatorDelete(item.id)" ng-show="!item.added_by_reporter">X</a>
                            {{item.first_nm}} {{item.last_nm}}
                        </li>
                    </ul>
                    <a href="#" class="green--button incident-types--button" ng-show="!mediatorAddMode" ng-click="mediatorAddMode = !mediatorAddMode">Add person</a>
                    <div class="select" ng-show="mediatorAddMode">
                        <a href="#" class="slct">Select one</a>
                        <ul class="drop">
                            <li ng-repeat="item in model.mediator_all">
                                <a href="" ng-click="mediatorAdd(item)">{{item.first_nm}} {{item.last_nm}}</a>
                            </li>
                        </ul>
                        <input type="hidden" id="select">
                    </div>
                </div>
        </div>
        <!--Facts Established-->
        <div class="border-top facts-margin facts-padding facts-established">
            <p class="fact-title">Facts Established</p>
            <div class="">
                <div class="facts-established--text"> </div>
                <a href="#" class="green--button facts--submit">save</a>
            </div>
        </div>

        <!--Investigation Methodology-->
        <div class="border-top facts-margin facts-padding facts-established">
            <p class="fact-title">Investigation Methodology</p>
            <div class="">
                <div class="facts-established--text"> </div>
                <a href="#" class="green--button facts--submit">save</a>
            </div>
        </div>

        <!--Root Cause Investigation-->
        <div class="border-top facts-margin facts-padding ">
            <p class="fact-title">Root Cause Investigation</p>
            <!--Academic Misconduct-->
            <div class="investigation flex space-between">
                <div class="investigation--title">Academic Misconduct</div>
                <div class="investigation__item flex flex-column">
                    <div class="investigation__inner">
                        <div class="select">
                            <a href="#" class="slct">Select Behavioral Factors</a>
                            <ul class="drop">
                                <li><a href="">Select Behavioral Factors</a></li>
                                <li><a href="">Select Behavioral Factors</a></li>
                            </ul>
                            <input type="hidden" id="select">
                        </div>
                        <a href="#" class="green--button investigation__item--submit">add note</a>
                    </div>
                    <div class="investigation__inner">
                        <div class="select">
                            <a href="#" class="slct">Select External Influences</a>
                            <ul class="drop">
                                <li><a href="">Select External Influences</a></li>
                                <li><a href="">Select External Influences</a></li>
                            </ul>
                            <input type="hidden" id="select">
                        </div>
                        <a href="#" class="green--button investigation__item--submit">add note</a>
                    </div>
                    <div class="investigation__inner">
                        <div class="select">
                            <a href="#" class="slct">Select Campus Influences </a>
                            <ul class="drop">
                                <li><a href="">Select Campus Influences </a></li>
                                <li><a href="">Select Campus Influences </a></li>
                            </ul>
                            <input type="hidden" id="select">
                        </div>
                        <a href="#" class="green--button investigation__item--submit">add note</a>
                    </div>

                </div>
            </div>
            <!--Fraudalent Activities-->
            <div class="investigation flex space-between">
                <div class="investigation--title">Fraudalent Activities</div>
                <div class="investigation__item flex flex-column">
                    <div class="investigation__inner">
                        <div class="select">
                            <a href="#" class="slct">Alcohol consumption </a>
                            <ul class="drop">
                                <li><a href="">Alcohol consumption </a></li>
                                <li><a href="">Alcohol consumption </a></li>
                            </ul>
                            <input type="hidden" id="select">
                        </div>
                        <a href="#" class="green--button investigation__item--submit">add note</a>
                    </div>
                    <div class="investigation__inner">
                        <div class="select">
                            <a href="#" class="slct">Select External Influences</a>
                            <ul class="drop">
                                <li><a href="">Select External Influences</a></li>
                                <li><a href="">Select External Influences</a></li>
                            </ul>
                            <input type="hidden" id="select">
                        </div>
                        <a href="#" class="green--button investigation__item--submit">add note</a>
                    </div>
                    <div class="investigation__inner">
                        <div class="select">
                            <a href="#" class="slct">Select Campus Influences </a>
                            <ul class="drop">
                                <li><a href="">Select Campus Influences </a></li>
                                <li><a href="">Select Campus Influences </a></li>
                            </ul>
                            <input type="hidden" id="select">
                        </div>
                        <a href="#" class="green--button investigation__item--submit">add note</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--Fraudalent Activities-->
    <div class="panel left">
        <a class="ninja-btn close-btn"><img src="assets/template/img/close.png" alt="close"></a>
        <!--Report summary-->
        <div class="report-summary">
            <p class="sidebar-title">Report summary</p>
            <div class="reported">
                <p><span>Reported:</span> 25 January 2015</p>
                <p><span>Total time:</span> 38 days</p>
            </div>
            <div class="sidebar-investigation">
                Investigation: <span class="investigation-days">31 days</span> <span class="investigation-daysleft">4 days left</span>
            </div>
            <a href="#" class="green--button contact-reporter">CONTACT REPORTER</a>
        </div>
        <!--General information-->
        <div class="general-information sibebar-border">
            <p class="sidebar-subtitle">General information</p>
            <ul>
                <li>
                    Reporting from:
                    <p>Canada</p>
                </li>
                <li>
                    Reporter would like to stay:
                    <p>Anonymous to STARK Enterprizes</p>
                </li>
                <li>
                    Reporter is:
                    <p>Former employee</p>
                </li>
                <li>
                    The incident happened in:
                    <p>Stark Tower, NY</p>
                </li>
                <li>
                    Affected departments:
                    <p>Sales, Accounting</p>
                </li>
                <li>
                    <p></p>
                </li>
            </ul>
        </div>
        <!--Parties involved-->
        <div class="general-information sibebar-border">
            <p class="sidebar-subtitle">Parties involved</p>
            <ul>
                <li>
                    <b>Stan Lee,</b> Title unknown
                    <p>Witness</p>
                </li>
                <li>
                    The management doesn’t know about the incident
                </li>
            </ul>
        </div>

        <!--Case information-->
        <div class="general-information sibebar-border">
            <p class="sidebar-subtitle">Case information</p>
            <ul>
                <li>
                    Reporting about:
                    <p>Theft</p>
                </li>
                <li>
                    Date:
                    <p>23 Dec 2014</p>
                </li>
                <li>
                    Incident description:
                    <p>
                        Recently constructed by Bruce Cole, it is powered by its own independent arc reactor, capable of sustaining the tower for a year without any cost to the city. The tower's unique power sustainability inspires Loki to select the tower as the prime location to harness the Tesseract and open a wormhole to draw his army to Earth. After the battle between Loki's forces and the Avengers, the upper levels of the tower are destroyed, along with the majority of the 'STARK' insignia that adorned one side of the tower ( the only remaining letter is an 'A', as a nod to the Avengers).
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-overlay"></div>

</section>

<div class="container" ng-controller="NewCaseInvestigationNotesController">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Incident types</h2>
            <p ng-repeat="item in model.report_secondary_type_selected">
                <a href="#" ng-click="incidentTypeDelete(item.id)" ng-show="!item.added_by_reporter">X</a>
                {{item.secondary_type_en}}
            </p>
            <span class="acceptCaseBtnClass" ng-show="!incidentTypeAddMode" ng-click="incidentTypeAddMode = !incidentTypeAddMode">
                Add incident type
            </span>
            <select ng-change="incidentTypeAdd()"
                    ng-show="incidentTypeAddMode"
                    ng-model="model.incidentTypeAdd"
                    ng-options="item.id as item.secondary_type_en for item in model.report_secondary_type_selected_avilable"></select>
        </div>
        <div class="col-md-4">
            <h2>Involved Parties</h2>
            <p ng-repeat="item in model.mediator_involved">
                <a href="#" ng-click="mediatorDelete(item.id)" ng-show="!item.added_by_reporter">X</a>
                {{item.first_nm}} {{item.last_nm}}
            </p>
            <span class="acceptCaseBtnClass" ng-show="!mediatorAddMode" ng-click="mediatorAddMode = !mediatorAddMode">
                Add person
            </span>
            <select ng-change="mediatorAdd()"
                    ng-show="mediatorAddMode"
                    ng-model="model.mediatorAdd"
                    ng-options="item.id as item.first_nm for item in model.mediator_all"></select>
        </div>
        <div class="col-md-4">
            <h2>Involved Departments</h2>
            <p ng-repeat="item in model.departments_report">
                <a href="#" ng-click="departmentDelete(item.id)" ng-show="!item.added_by_reporter">X</a>
                {{item.name}}
            </p>
            <span class="acceptCaseBtnClass" ng-show="!departmentAddMode" ng-click="departmentAddMode = !departmentAddMode">
                Add person
            </span>
            <select ng-change="departmentAdd()"
                    ng-show="departmentAddMode"
                    ng-model="model.departmentAdd"
                    ng-options="item.id as item.department_en for item in model.departments_all"></select>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4">Facts Established</div>
        </div>
        <div class="row">
            <textarea class="col-md-10 pull-right" ng-model="model.note1" ng-show="isEditNote1"></textarea>
            <p ng-show="!isEditNote1">{{model.note1}}</p>
        </div>
        <div class="row">
            <span class="acceptCaseBtnClass pull-right" ng-click="saveNote(1)" ng-show="isEditNote1">
                Save
            </span>
            <span class="acceptCaseBtnClass pull-right" ng-click="isEditNote1 = true" ng-show="!isEditNote1">
                Edit
            </span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4">Investigation Methodology</div>
        </div>
        <div class="row">
            <textarea class="col-md-10 pull-right" ng-model="model.note2" ng-show="isEditNote2"></textarea>
            <p ng-show="!isEditNote2">{{model.note2}}</p>
        </div>
        <div class="row">
            <span class="acceptCaseBtnClass pull-right" ng-click="saveNote(2)" ng-show="isEditNote2">
                Save
            </span>
            <span class="acceptCaseBtnClass pull-right" ng-click="isEditNote2 = true" ng-show="!isEditNote2">
                Edit
            </span>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4">Investigation Methodology</div>
        </div>
    </div>

    <div class="container" ng-repeat="item in model.report_secondary_type_selected">
        <div class="row">
            <p class="col-md-3">{{item.secondary_type_en}}</p>
            <div class="dropdown col-md-5">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{getBehavioralFactors(item)}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#" ng-repeat="item2 in model.company_root_cases_behavioral" ng-click="changeBehavioralFactors(item, item2)">{{item2.name_en}}</a>
                </div>
            </div>
            <textarea cols="20" rows="5" ng-model="item.inv_meth_bf_note" ng-show="item.behavioralEditMode"></textarea>
            <p ng-show="!item.behavioralEditMode">{{item.inv_meth_bf_note}}</p>
            <span class="acceptCaseBtnClass pull-right col-md-1" ng-click="item.behavioralEditMode = !item.behavioralEditMode" ng-show="!item.behavioralEditMode">
                <span ng-show="item.inv_meth_bf_note != ''">Edit note</span>
                <span ng-show="item.inv_meth_bf_note == ''">Add note</span>
            </span>
            <span class="acceptCaseBtnClass pull-right col-md-1" ng-show="item.behavioralEditMode" ng-click="saveNoteBehavioralFactors(item)">
                Save
            </span>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="dropdown col-md-5">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{getExternalInfluences(item)}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#" ng-repeat="item2 in model.company_root_cases_external" ng-click="changeExternalInfluences(item, item2)">{{item2.name_en}}</a>
                </div>
            </div>
            <textarea ng-model="item.inv_meth_ei_note" ng-show="item.externalInfluencesEditMode"></textarea>
            <p ng-show="!item.externalInfluencesEditMode">{{item.inv_meth_ei_note}}</p>
            <span class="acceptCaseBtnClass pull-right col-md-1" ng-click="item.externalInfluencesEditMode = !item.externalInfluencesEditMode" ng-show="!item.externalInfluencesEditMode">
                <span ng-show="item.inv_meth_ei_note != ''">Edit note</span>
                <span ng-show="item.inv_meth_ei_note == ''">Add note</span>
            </span>
            <span class="acceptCaseBtnClass pull-right col-md-1" ng-show="item.externalInfluencesEditMode" ng-click="saveNoteExternalInfluences(item)">
                Save
            </span>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="dropdown col-md-5">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{getCampusInfluences(item)}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#" ng-repeat="item2 in model.company_root_cases_organizational" ng-click="changeCampusInfluences(item, item2)">{{item2.name_en}}</a>
                </div>
            </div>
            <textarea ng-model="item.inv_meth_ci_note" ng-show="item.campusInfluencesEditMode"></textarea>
            <p ng-show="!item.campusInfluencesEditMode">{{item.inv_meth_ci_note}}</p>
            <span class="acceptCaseBtnClass pull-right col-md-1" ng-click="item.campusInfluencesEditMode = !item.campusInfluencesEditMode" ng-show="!item.campusInfluencesEditMode">
                <span ng-show="item.inv_meth_ci_note != ''">Edit note</span>
                <span ng-show="item.inv_meth_ci_note == ''">Add note</span>
            </span>
            <span class="acceptCaseBtnClass pull-right col-md-1" ng-show="item.campusInfluencesEditMode" ng-click="saveNoteCampusInfluences(item)">
                Save
            </span>
        </div>
    </div>
</div> <!-- /container -->

<script src="@Url.Content("~/Content/assets/template/js/select.js")"></script>
