@using EC.Models.Database;
@{
    var report_id = (Int32)ViewBag.report_id;
    var user_id = (Int32)ViewBag.user_id;
    List<attachment> attachmentFiles = (List<attachment>)ViewBag.attachmentFiles;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    string popup = null;
}
@*<link type="text/css" href="~/Content/caseTasks.css" rel="stylesheet">*@
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    @*<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">



    </nav>*@
<div class="container navbar navbarColor col-md-12">
    <div class="row">
        <div class="col-md-10">
            <a class="navbar-brand" href="#">Report</a>
            <a class="navbar-brand" href="#">Ivestigation notes</a>
            <a class="navbar-brand" href="#">Tasks</a>
            <a class="navbar-brand" href="#">Messages</a>
            <a class="navbar-brand" href="#">Team</a>
        </div>
        <div class="col-md-1 ">
            <form class="form-inline my-2 my-lg-0">
                <a class="navbar-brand " href="#">Team</a>
            </form>
        </div>

        <div class="col-md-1 zipperColor">
                <img src="~/Content/Icons/activityIcon.png" style="padding: 15px;">
        </div>
    </div>
</div>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container" ng-controller="NewCaseInvestigationNotesController">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Incident types</h2>
                <p ng-repeat="item in model.report_secondary_type_selected">
                    <a href="#" ng-click="incidentTypeDelete(item.id)" ng-show="!item.added_by_reporter">X</a>
                    {{item.secondary_type_en}}
                </p>
                <span class="acceptCaseBtnClass" ng-show="!incidentTypeAddMode" ng-click="incidentTypeAddMode = !incidentTypeAddMode">
                    Add incident type
                </span>
                <select ng-change="incidentTypeAdd()"
                        ng-show="incidentTypeAddMode"
                        ng-model="model.incidentTypeAdd"
                        ng-options="item.id as item.secondary_type_en for item in model.report_secondary_type_selected_avilable"></select>
            </div>
            <div class="col-md-4">
                <h2>Involved Parties</h2>
                <p ng-repeat="item in model.mediator_involved">
                    <a href="#" ng-click="mediatorDelete(item.id)" ng-show="!item.added_by_reporter">X</a>
                    {{item.first_nm}} {{item.last_nm}}
                </p>
                <span class="acceptCaseBtnClass" ng-show="!mediatorAddMode" ng-click="mediatorAddMode = !mediatorAddMode">
                    Add person
                </span>
                <select ng-change="mediatorAdd()"
                        ng-show="mediatorAddMode"
                        ng-model="model.mediatorAdd"
                        ng-options="item.id as item.first_nm for item in model.mediator_all"></select>
            </div>
            <div class="col-md-4">
                <h2>Involved Departments</h2>
                <p ng-repeat="item in model.departments_report">
                    <a href="#" ng-click="departmentDelete(item.id)" ng-show="!item.added_by_reporter">X</a>
                    {{item.name}}
                </p>
                <span class="acceptCaseBtnClass" ng-show="!departmentAddMode" ng-click="departmentAddMode = !departmentAddMode">
                    Add person
                </span>
                <select ng-change="departmentAdd()"
                        ng-show="departmentAddMode"
                        ng-model="model.departmentAdd"
                        ng-options="item.id as item.department_en for item in model.departments_all"></select>
            </div>
        </div>

        <hr>

    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4">Facts Established</div>
        </div>
        <div class="row">
            <textarea class="col-md-10 pull-right" ng-model="model.note1"></textarea>
        </div>
        <div class="row">
            <span class="acceptCaseBtnClass pull-right" ng-click="saveNote(1)">
                Save
            </span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4">Investigation Methodology</div>
        </div>
        <div class="row">
            <textarea class="col-md-10 pull-right" ng-model="model.note2"></textarea>
        </div>
        <div class="row">
            <span class="acceptCaseBtnClass pull-right" ng-click="saveNote(2)">
                Save
            </span>
        </div>
    </div>
        <hr>

        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4">Investigation Methodology</div>
            </div>
            <div class="row">
                <p class="col-md-3">Academic Misconduct</p>
                <div class="dropdown col-md-5">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Behavioral Factors</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <span class="acceptCaseBtnClass pull-right col-md-1">
                    Add note
                </span>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="dropdown col-md-5">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select External Influences</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <span class="acceptCaseBtnClass pull-right col-md-1">
                    Add note
                </span>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="dropdown col-md-5">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Campus Influences </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <span class="acceptCaseBtnClass pull-right col-md-1">
                    Add note
                </span>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <p class="col-md-3">Fraudalent Activities</p>
                <div class="dropdown col-md-5">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alcohol consumption</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <span class="acceptCaseBtnClass pull-right col-md-1">
                    Add note
                </span>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="dropdown col-md-5">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Select External Influences</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <span class="acceptCaseBtnClass pull-right col-md-1">
                    Add note
                </span>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="dropdown col-md-5">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Campus Influences </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <span class="acceptCaseBtnClass pull-right col-md-1">
                    Add note
                </span>
            </div>
        </div>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
