@using EC.Models;
@using EC.Models.ECModel;
@using EC.Models.Database;

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/IndexPages/LayoutNewCases.cshtml";
    List<TaskExtended> tasks = (List<TaskExtended>)ViewBag.tasks;

    var report_id = (Int32)ViewBag.report_id;
    var user_id = (Int32)ViewBag.user_id;
    ReportModel rm = new ReportModel(report_id);
    UserModel um = new UserModel(user_id);
}

@Html.Partial("~/Views/Shared/Partial/_NewCasesTopMenu.cshtml")

<div class="container mainNavigationTabs__tabContent-container">
    <div id="mainTab-Messages" class="mainNavigationTabs__tabContent active" ng-controller="NewCaseMessagesController" ng-cloak>
        <!-- ----------------------------------------------------------------- -->

        <div class="subNavTabLinks clearfix">
            <ul class="subNavTabLinks__ul clearfix">
                <li class="subNavTabLinks__li subNavTabLinks__messagesSwitch" data-tab="sub-CaseMediators" ng-class="{ 'active': activeTab == 1}">
                    <a href="@Url.Action("Messages", new { id = report_id })" class="subNavTabLinks__a clearfix">
                        <span class="subNavTabLinks__a-Text">Case Administrators</span>
                        <span class="subNavTabLinks__a-badgeCount" ng-show="mediatorsUnreaded > 0">{{mediatorsUnreaded}}</span>
                    </a>
                </li><!-- /.subNavTabLinks__li -->
                <li class="subNavTabLinks__li subNavTabLinks__messagesSwitch" data-tab="sub-Reporter" ng-class="{ 'active': activeTab == 2}">
                    <a href="@Url.Action("Reporter", new { id = report_id })" class="subNavTabLinks__a clearfix">
                        <span class="subNavTabLinks__a-Text">Reporter</span>
                        <span class="subNavTabLinks__a-badgeCount" ng-show="reportersUnreaded > 0">{{reportersUnreaded}}</span>
                    </a>
                </li><!-- /.subNavTabLinks__li -->
            </ul>
        </div><!-- /.subNavTabLinks clearfix -->

        <div class="container subNavigationTabs__tabContent-container m-lr--30">

            <div class="content-container__inner">

                <div class="divider p-tb-20"></div>
                <div class="navMessages">
                </div><!-- /.navMessages -->
                <div class="navContentMessages">
                    <div id="sub-CaseMediators" class="navContentMessages-tabContent" ng-class="{ 'active': activeTab == 1}">
                        <ul class="navContentMessages-tabContent__ul">

                            <li class="navContentMessages-tabContent__li" ng-repeat="message in mediators" ng-class="{ 'currentMessage' : activeMessage.Id == message.Id }">
                                <a href="#!" class="navContentMessages-tabContent__a clearfix" ng-click="$parent.activeMessage = message">
                                    <span class="col-1">
                                        <span class="profileImage navContentMessages-tabContent__profileImg">
                                            <img ng-src="{{message.sender_photo}}" alt="" class="profileImage__img" />
                                            <span class="profile-status online"></span>
                                        </span>
                                    </span>
                                    <span class="col-10">
                                        <span class="navContentMessages-tabContent__messageName">
                                            {{message.sender_name}} {{activeMessageId}}
                                        </span>
                                        <span class="navContentMessages-tabContent__messageText">
                                            {{message.body_tx}}
                                        </span>
                                    </span>
                                    <span class="col-1">
                                        <span class="navContentMessages-tabContent__messageDate">
                                            {{message.created_dt}}
                                        </span>
                                    </span>
                                </a>
                            </li><!-- /.navContentMessages-tabContent__li -->

                        </ul><!-- /.navContentMessages-tabContent__ul -->
                        <div class="navContentMessages-tabContent__newMessageBlock clearfix">
                            <span class="col-1">
                                <span class="profileImage navContentMessages-tabContent__profileImg">
                                    <img src="{{currentUser.photo_path}}" alt="" class="profileImage__img" />
                                    <span class="profile-status online"></span>
                                </span>
                            </span>
                            <span class="col-11">
                                <a href="#" class="navContentMessages-tabContent__newMessageBox">
                                    <textarea class="navContentMessages-tabContent__newMessageBox-textarea" ng-model="newMessage"></textarea>
                                </a>
                                <span class="navContentMessages-tabContent__newMessageBox-sendRow clearfix">
                                    <a href="#!" class=" btn-linkReverse navContentMessages-tabContent__newMessageBox-sendBtn pull-right" ng-click="sendMessage()">
                                        Send to Case Administrators
                                    </a>
                                </span>
                                <div class="divider p-tb-10"></div>
                            </span>
                        </div><!-- /.navContentMessages-tabContent__newMessageBox -->
                    </div><!-- /.navContentMessages-tabContent -->
                    <div id="sub-Reporter" class="navContentMessages-tabContent" ng-class="{ 'active': activeTab == 2}">
                        <ul class="navContentMessages-tabContent__ul">

                            <li class="navContentMessages-tabContent__li" ng-repeat="message in reporters" ng-class="{ 'currentMessage' : activeMessage.Id == message.Id }">
                                <a href="#!" class="navContentMessages-tabContent__a clearfix" ng-click="$parent.activeMessage = message">
                                    <span class="col-1">
                                        <span class="profileImage navContentMessages-tabContent__profileImg">
                                            <img ng-if="message.sender_photo.indexOf('~') == -1" ng-src="{{message.sender_photo}}" alt="" class="profileImage__img" />
                                            <img ng-if="message.sender_photo.indexOf('~') != -1" ng-src="{{message.sender_photo.substring(1)}}" alt="" class="profileImage__img" />
                                            <span class="profile-status online"></span>
                                        </span>
                                    </span>
                                    <span class="col-10">
                                        <span class="navContentMessages-tabContent__messageName">
                                            {{message.sender_name}} {{activeMessageId}}
                                        </span>
                                        <span class="navContentMessages-tabContent__messageText">
                                            {{message.body_tx}}
                                        </span>
                                    </span>
                                    <span class="col-1">
                                        <span class="navContentMessages-tabContent__messageDate">
                                            {{message.created_dt}}
                                        </span>
                                    </span>
                                </a>
                            </li><!-- /.navContentMessages-tabContent__li -->

                        </ul><!-- /.navContentMessages-tabContent__ul -->
                        <div class="navContentMessages-tabContent__newMessageBlock clearfix">
                            <span class="col-1">
                                <span class="profileImage navContentMessages-tabContent__profileImg">
                                    <img src="{{currentUser.photo_path}}" alt="" class="profileImage__img" />
                                    <span class="profile-status online"></span>
                                </span>
                            </span>
                            <span class="col-11">
                                <a href="#" class="navContentMessages-tabContent__newMessageBox">
                                    <textarea class="navContentMessages-tabContent__newMessageBox-textarea" ng-model="newMessageReporter"></textarea>
                                </a>
                                <span class="navContentMessages-tabContent__newMessageBox-sendRow clearfix">
                                    <a href="#!" class=" btn-linkReverse navContentMessages-tabContent__newMessageBox-sendBtn pull-right" ng-click="sendMessageReporter()">
                                        Send to Reporter
                                    </a>
                                </span>
                                <div class="divider p-tb-10"></div>
                            </span>
                        </div><!-- /.navContentMessages-tabContent__newMessageBox -->
                    </div><!-- /.navContentMessages-tabContent -->
                </div><!-- /.navContentMessages -->
                <div class="divider p-tb-30"></div><!-- /.divider p-tb-30 -->

            </div><!-- /.content-container__inner -->
        </div>

        <!-- ----------------------------------------------------------------- -->
    </div>
</div>
