@using EC.Models.Database;
@using EC.App_LocalResources;

@{
    var report_id = (Int32)ViewBag.report_id;
    var user_id = (Int32)ViewBag.user_id;
    List<attachment> attachmentFiles = (List<attachment>)ViewBag.attachmentFiles;
    Layout = "~/Views/Shared/IndexPages/LayoutNewCases.cshtml";
}

@Html.Partial("~/Views/Shared/Partial/_NewCasesTopMenu.cshtml")

<div class="container mainNavigationTabs__tabContent-container" ng-controller="NewCaseReportController">
    <div id="mainTab-1" class="mainNavigationTabs__tabContent active">
        <section class="content-container content-container_pbn">
            <div class="content-container__inner">
                <p class="sectionHeader">General information</p><!-- /.sectionHeader -->
                <div class="content-container__inner-additional clearfix">
                    <div class="col-6">
                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    Reporting from:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.reportingFrom}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    Reporter would like to stay:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.reporterWouldLike}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    Reporter is:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.reporterIs}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                    </div><!-- /.col-6 -->
                </div><!-- /.content-container__inner-additional clearfix -->
            </div><!-- /.content-container__inner -->
        </section><!-- /.content-container -->
        <section class="content-container content-container_pbn">
            <div class="content-container__inner">
                <p class="sectionHeader">Parties involved</p><!-- /.sectionHeader -->
                <div class="content-container__inner-additional clearfix">
                    <div class="col-6">
                        <div class="row row-noP-fl" ng-repeat="item in model.non_mediator_involved">
                            <div class="col-6">
                                <p class="content-container__p">
                                    <strong>{{item.Name}},</strong> {{item.Title}}
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{item.Role}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-12">
                                <p class="content-container__p">
                                    The management doesn't know about the incident
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-12 -->
                        </div><!-- /.row -->

                    </div><!-- /.col-6 -->
                </div><!-- /.content-container__inner-additional clearfix -->
            </div><!-- /.content-container__inner -->
        </section><!-- /.content-container -->
        <section class="content-container content-container_pbn">
            <div class="content-container__inner">
                <p class="sectionHeader">Case information</p><!-- /.sectionHeader -->
                <div class="content-container__inner-additional clearfix">
                    <div class="col-6">
                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    Reporting about:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.secondary_type_string}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    Date:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.incident_date_string}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->
                        <div class="row row-noP-fl m-0">
                            <div class="col-12">
                                <p class="content-container__p">
                                    Incident description:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-12 -->
                        </div><!-- /.row -->

                    </div><!-- /.col-6 -->
                    <div class="row ">
                        <div class="col-9 p-lr-50">
                            <p class="content-container__pBold">
                                {{item.description}}
                            </p><!-- /.content-container__pBold -->
                        </div><!-- /.col-6 -->
                    </div><!-- /.row -->
                    <div class="row content-container__attachment-row">
                        <div class="col-4" ng-repeat="item in model.attachments">
                            <div class="attachmentBlock clearfix">
                                <div class="attachmentBlock__img">
                                    <img src="~/Content/Icons/viewDoc2.png" alt="icon" />
                                </div><!-- /.attachmentBlock__img -->
                                <div class="attachmentBlock__info">
                                    <div class="attachmentBlock__name">
                                        {{item.file_nm}}
                                    </div><!-- /.attachmentBlock__name -->
                                    <a href="{{item.path_nm}}" class="attachmentBlock__link">
                                        download
                                    </a>
                                </div><!-- /.attachmentBlock__info -->
                            </div><!-- /.attachmentBlock -->
                        </div><!-- /.col-4 -->
                    </div><!-- /.content-container__attachment-row -->
                </div><!-- /.content-container__inner-additional clearfix -->
            </div><!-- /.content-container__inner -->
        </section><!-- /.content-container -->
        <div class="divider m-b-15"></div><!-- /.divider -->
        <div class="content-container__footer clearfix">
            <div class="content-container__footer-row">
                <div class="footerNav-content ">
                    <a href="#" class="footerNav-content__a">
                        Help and support
                    </a>
                </div><!-- /.footerNav-content -->
            </div><!-- /.content-container__footer-row -->
        </div><!-- /.content-container__footer -->
    </div>
</div><!-- /.container -->
