@using EC.Models;
@using EC.Models.ECModel;
@using EC.Models.Database;
@using EC.App_LocalResources;

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/IndexPages/LayoutNewCases.cshtml";
    List<TaskExtended> tasks = (List<TaskExtended>)ViewBag.tasks;

    var report_id = (Int32)ViewBag.report_id;
    var user_id = (Int32)ViewBag.user_id;
    ReportModel rm = new ReportModel(report_id);
    UserModel um = new UserModel(user_id);
    
}

@Html.Partial("~/Views/Shared/Partial/_NewCasesTopMenu.cshtml")

<div class="container mainNavigationTabs__tabContent-container" ng-controller="NewCaseTeamController" ng-cloak>
    
    <div id="messageModal" class="modal case-modal">
        <a href="#" class="closeLink modal-close" rel="modal:close"></a>
        <div class="case-modal__title">{{messageModal.title}}</div><!-- /.modal-title -->

        <p>{{messageModal.text}}</p>
        <div class="case-modal__linkBlockBottom clearfix">
            <a href="#" rel="modal:close" class="case-modal__linkBtn whiteBtn">Close</a>
        </div><!-- /.case-modal__linkBlockBottom -->
    </div>

    <div id="mainTab-Team" class="mainNavigationTabs__tabContent active">
        <div class="divider p-tb-20"></div>

        <div class="content-container__inner clearfix">
            <div class="row clearfix team-row" ng-repeat="grp in mediators_whoHasAccess_toReportG">
                <div class="col-4" ng-repeat="item in grp" repeat-done="makeCircles()">
                    <div class="teamBlock shadowLight">
                        <div class="teamBlock-header clearfix">
                            <div class="teamBlock-header__logo">
                                <img ng-src="{{item.user_photo}}" alt="" class="teamBlock-header__logoImg" />
                            </div>
                            <div class="teamBlock-header__title">
                                <div class="teamBlock-header__name clearfix">
                                    <div class="teamBlock-header__name-text">{{item.user.first_nm}} {{item.user.last_nm}}</div>
                                </div>
                                <div class="teamBlock-header__profilePost">
                                    {{item.user.title_ds}}
                                </div><!-- /.teamBlock-header__profilePost -->
                                <a href="#!" ng-show="!item.owner" class="teamBlock-header__ownerBadge" ng-click="makeCaseOwner(item)">Make case owner</a>
                                <a href="#!" ng-show="item.owner" class="teamBlock-header__ownerBadge active">Case owner</a>
                                <div class="close teamBlock__close" ng-show="!item.owner && item.user.role_id != 4 && item.user.role_id != 5" ng-click="closeBtn(item)">&#215;</div>
                            </div><!-- /.teamBlock-header__title -->
                        </div><!-- /.teamBlock-header -->
                        <div class="teamBlock-body clearfix">
                            <div class="teamBlock-body__profileSpec {{roleClasses[item.user.role_id]}}">
                                {{roleNames[item.user.role_id]}}
                            </div><!-- /.teamBlock-body__profileSpec -->
                            <div class="teamBlock-body__chartTitle">
                                {{item.user.notepad_tx}}
                            </div><!-- /.teamBlock-body__chartTitle -->
                            <div class="teamBlock-body__charts">
                                <div class="chartCircle">
                                    <canvas class="canvasCircle" height="60px" width="60px"></canvas>
                                    <div class="chartCircle__content">
                                        <div class="chartCircle__content-number">
                                            {{item.task_quantity}}
                                        </div><!-- /.chartCircle__content-number -->
                                        <div class="chartCircle__content-text">
                                            tasks
                                        </div><!-- /.chartCircle__content-text -->
                                    </div><!-- /.chartCircle__content -->
                                </div><!-- /.chartCircle -->
                                <div class="chartCircle">
                                    <canvas class="canvasCircle" height="60px" width="60px"></canvas>
                                    <div class="chartCircle__content">
                                        <div class="chartCircle__content-number">
                                            {{item.message_quantity}}
                                        </div><!-- /.chartCircle__content-number -->
                                        <div class="chartCircle__content-text">
                                            messages
                                        </div><!-- /.chartCircle__content-text -->
                                    </div><!-- /.chartCircle__content -->
                                </div><!-- /.chartCircle -->
                                <div class="chartCircle">
                                    <canvas class="canvasCircle" height="60px" width="60px"></canvas>
                                    <div class="chartCircle__content">
                                        <div class="chartCircle__content-number">
                                            {{item.action_quantity}}
                                        </div><!-- /.chartCircle__content-number -->
                                        <div class="chartCircle__content-text">
                                            actions
                                        </div><!-- /.chartCircle__content-text -->
                                    </div><!-- /.chartCircle__content -->
                                </div><!-- /.chartCircle -->

                            </div><!-- /.teamBlock-body__charts -->
                        </div><!-- /.teamBlock-body -->
                        <div class="hr teamBlock-hr"></div><!-- /.hr teamBlock-hr -->
                        <div class="teamBlock-footer clearfix">
                            <div class="teamBlock-footer__location clearfix">
                                <div class="teamBlock-footer__location-logo"></div><!-- /.teamBlock-footer__location-logo -->
                                <div class="teamBlock-footer__location-text">
                                    {{item.location_string}}
                                </div><!-- /.teamBlock-footer__location-text -->
                            </div><!-- /.teamBlock-footer__location -->
                            <a href={{item.email}} class="teamBlock-footer__mail clearfix">
                                <span class="teamBlock-footer__mail-logo"></span>
                                <span class="teamBlock-footer__mail-content">{{item.email}}</span>
                            </a>
                        </div><!-- /.teamBlock-footer -->
                    </div><!-- /.teamBlock -->
                </div><!-- /.col-4 -->
            </div>
        </div><!-- /.content-container__inner -->

        <div class="content-container__inner">
            <div class="teamBlock__addNew">
                <a href="#!" class="btn-linkReverse" ng-show="available_toAssign_mediators.length > 0" ng-click="addMoreMediators = !addMoreMediators">Add more case administrators</a>
            </div>
        </div>

        <div class="content-container__inner" ng-show="addMoreMediators == true">
            <div class="teamBlock__addNewText">
                <div class="teamBlock__addNewText-title">
                    Select case administrators to add to this team
                </div><!-- /.teamBlock__addNewText-title -->
            </div><!-- /.teamBlock__addNew -->
            <div class="row clearfix team-row">

                <div class="col-4" ng-repeat="item in available_toAssign_mediators" repeat-done="makeCircles()">
                    <div class="teamBlock shadowLight">

                        <div class="teamBlock-header clearfix">

                            <div class="teamBlock-header__logo">
                                <img ng-src="{{item.user_photo}}" alt="" class="teamBlock-header__logoImg" />
                            </div>
                            <div class="teamBlock-header__title">
                                <div class="teamBlock-header__name clearfix">
                                    <div class="teamBlock-header__name-text">{{item.user.first_nm}} {{item.user.last_nm}}</div>
                                </div>
                                <div class="teamBlock-header__profilePost">
                                    {{item.user.title_ds}}
                                </div><!-- /.teamBlock-header__profilePost -->

                            </div><!-- /.teamBlock-header__title -->

                        </div><!-- /.teamBlock-header -->

                        <div class="teamBlock-body clearfix">
                            <a href="#!" class="btn btn__team" ng-click="addToTeam(item)">Add to team</a>
                            <div class="teamBlock-body__chartTitle">
                                {{item.user.notepad_tx}}
                            </div><!-- /.teamBlock-body__chartTitle -->
                            <div class="teamBlock-body__charts">
                                <div class="chartCircle">
                                    <canvas class="canvasCircle" height="60px" width="60px"></canvas>
                                    <div class="chartCircle__content">
                                        <div class="chartCircle__content-number">
                                            {{item.task_quantity}}
                                        </div><!-- /.chartCircle__content-number -->
                                        <div class="chartCircle__content-text">
                                            tasks
                                        </div><!-- /.chartCircle__content-text -->
                                    </div><!-- /.chartCircle__content -->
                                </div><!-- /.chartCircle -->
                                <div class="chartCircle">
                                    <canvas class="canvasCircle" height="60px" width="60px"></canvas>
                                    <div class="chartCircle__content">
                                        <div class="chartCircle__content-number">
                                            {{item.message_quantity}}
                                        </div><!-- /.chartCircle__content-number -->
                                        <div class="chartCircle__content-text">
                                            messages
                                        </div><!-- /.chartCircle__content-text -->
                                    </div><!-- /.chartCircle__content -->
                                </div><!-- /.chartCircle -->
                                <div class="chartCircle">
                                    <canvas class="canvasCircle" height="60px" width="60px"></canvas>
                                    <div class="chartCircle__content">
                                        <div class="chartCircle__content-number">
                                            {{item.action_quantity}}
                                        </div><!-- /.chartCircle__content-number -->
                                        <div class="chartCircle__content-text">
                                            actions
                                        </div><!-- /.chartCircle__content-text -->
                                    </div><!-- /.chartCircle__content -->
                                </div><!-- /.chartCircle -->
                            </div><!-- /.teamBlock-body__charts -->
                        </div><!-- /.teamBlock-body -->
                        <div class="hr teamBlock-hr"></div><!-- /.hr teamBlock-hr -->
                        <div class="teamBlock-footer clearfix">
                            <div class="teamBlock-footer__location clearfix">
                                <div class="teamBlock-footer__location-logo"></div><!-- /.teamBlock-footer__location-logo -->
                                <div class="teamBlock-footer__location-text">
                                    {{item.location_string}}
                                </div><!-- /.teamBlock-footer__location-text -->
                            </div><!-- /.teamBlock-footer__location -->
                            <a href={{item.email}} class="teamBlock-footer__mail clearfix">
                                <span class="teamBlock-footer__mail-logo"></span>
                                <span class="teamBlock-footer__mail-content">{{item.email}}</span>
                            </a>
                        </div><!-- /.teamBlock-footer -->
                    </div><!-- /.teamBlock -->
                </div><!-- /.col-4 -->

            </div><!-- /.row clearfix team-row -->
        </div><!-- /.content-container__inner -->
        <div class="divider "></div>
    </div>
</div>

<script>
    $(document).ready(function () {

        function blockTeamCircle(block, color1, color2) {
            console.log(1);
            //var canvas = document.getElementById("canvas");
            var canvasTeam = block.find('.canvasCircle');
            for (i = 0; i < canvasTeam.length; i++) {
                var x = 1.25;
                if (x > 0.5) {
                    x = x - 0.5;
                }
                var context = canvasTeam[i].getContext("2d");

                context.beginPath();
                context.lineWidth = 1;
                context.strokeStyle = color1;
                context.arc(30, 30, 29, 1.5 * Math.PI, x * Math.PI);
                context.stroke();

                context.beginPath();
                context.lineWidth = 1;
                context.strokeStyle = color2;
                context.arc(30, 30, 29, (x + 0.03) * Math.PI, 1.47 * Math.PI);
                context.stroke();
            }
        }        
    });
</script>