<link href="~/Content/analiticsDashboard.css" rel="stylesheet" />

@using EC.Models;
@using EC.Models.ECModel;
@using EC.Models.Database;
@using System.Data;
@using EC.App_LocalResources;
@{

    <link rel="stylesheet" href="~/Content/styleAnalitics.css" />

    ViewBag.Title = GlobalRes.Analytics;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    int user_id = (Int32)ViewBag.user_id;

    string _today = ViewBag._today;
}

<!-- Include Date Range Picker -->
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/jquery.daterangepicker.min.js"></script>
<link rel="stylesheet" href="~/Libs/nvd3/build/nv.d3.min.css">
<link href="~/Content/daterangepickerAnalit.css" rel="stylesheet" />
<script type='text/javascript' src="https://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
<script type='text/javascript' src="https://cdn3.devexpress.com/jslib/18.1.3/js/dx.all.js"></script>

<script src="~/Content/libs/graph/d3.v3.min.js"></script>
<script src="~/Content/libs/graph/c3.min.js"></script>
<link href="~/Content/libs/graph/c3.min.css" rel="stylesheet" />
<link href="~/Content/daterangepickerAnalit.css" rel="stylesheet" />

<input type="hidden" id="user_id" value="@user_id" />
<input type="hidden" id="dateStart" value="" />
<input type="hidden" id="dateEnd" value="" />

<style>
    #menu a {
        max-width: 500px;
    }
    .c3-axis.c3-axis-x {
        display: none;
    }
</style>

<div class="blockSettings blockAnalitics">
    @Html.Partial("~/Views/Analytics/AnalyticsMenu.cshtml")


    <div class="container mainNavigationTabs__tabContent-container" ng-controller="CasesController">
        <div id="mainTab-Cases" class="mainNavigationTabs__tabContent active">

            <div class="fluidTitle ">
                <strong>@GlobalRes.Number_cases_stage:</strong> @_today
            </div>


            <div class="container cases-TotalStatistics" >
                <div class="row clearfix printPadding">
                    <div class="col-2" ng-repeat="snapShot in _today_spanshot">
                        <div class="cases-TotalStatistics__numberOfCases">
                            <strong>{{snapShot.numberOfCases}}</strong>
                        </div>
                        <div class="cases-TotalStatistics__titleColored clearfix">
                            <div class="cases-TotalStatistics__titleColored-color color-CasesSpam" style="width: 12px; height: 12px; background-color: {{snapShot.miniSquareColor}};"></div>
                            <div class="cases-TotalStatistics__titleColored-text">{{snapShot.titleHeaderLegend}}</div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container cases-TotalStatistics -->


            <div class="container cases-TotalHeader clearfix">
                <div class="case-TotalHeader__items timeFilterCases clearfix">
                    <div class="case-DropDownList-title clearfix">
                        <div class="case-DropDownList-title__text clearfix">data range</div>
                        <div class="case-DropDownList-title__arrow clearfix"></div>
                    </div>
                    <div class="timeFilterCases-dropBlock case-DropDownList-contentBlock   clearfix">
                        <div class="timeFilterCases-dropBlock__titleRow row clearfix">
                            <div class="col-12">
                                <div class="timeFilterCases-dropBlock__titleRowText">
                                    <ul class="case-DropDownListRadio">
                                        <li class="case-DropDownListRadio-li clearfix checked" ng-click="dataRangeClick($event, '0')">
                                            <div class="case-DropDownListRadio-li__icon"></div>
                                            <div class="case-DropDownListRadio-li__text">
                                                All Time
                                            </div>
                                        </li>
                                        <li class="case-DropDownListRadio-li clearfix " ng-click="dataRangeClick($event, '1')">
                                            <div class="case-DropDownListRadio-li__icon"></div>
                                            <div class="case-DropDownListRadio-li__text">
                                                1 Year
                                            </div>
                                        </li>
                                        <li class="case-DropDownListRadio-li clearfix " ng-click="dataRangeClick($event, '2')">
                                            <div class="case-DropDownListRadio-li__icon"></div>
                                            <div class="case-DropDownListRadio-li__text">
                                                6 Month
                                            </div>
                                        </li>
                                        <li class="case-DropDownListRadio-li clearfix " ng-click="dataRangeClick($event, '3')">
                                            <div class="case-DropDownListRadio-li__icon"></div>
                                            <div class="case-DropDownListRadio-li__text">
                                                3 Month
                                            </div>
                                        </li>
                                        <li class="case-DropDownListRadio-li clearfix " ng-click="dataRangeClick($event, '4')">
                                            <div class="case-DropDownListRadio-li__icon"></div>
                                            <div class="case-DropDownListRadio-li__text">
                                                1 Month
                                            </div>
                                        </li>
                                        <li class="case-DropDownListRadio-li clearfix " ng-click="dataRangeClick($event, '5')">
                                            <div class="case-DropDownListRadio-li__icon"></div>
                                            <div class="case-DropDownListRadio-li__text">
                                                1 Week
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="case-DropDownListRadio-customDate" ng-click="dataRangeClick($event, 'customDate')">
                                        <div class="case-DropDownListRadio-customDate__text">
                                            Custom dates
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="case-TotalHeader__items filterCases  clearfix">
                    <!-- activated -->
                    <div class="case-DropDownList-title clearfix">
                        <div class="case-DropDownList-title__text clearfix">Filter Cases</div>
                        <div class="case-DropDownList-title__arrow clearfix"></div>
                    </div>
                    <!--dropdown menu-->
                    <div class="filterCases-dropBlock case-DropDownList-contentBlock  clearfix">
                        <div class="filterCases-dropBlock__titleRow row clearfix">
                            <div class="col-3">
                                <div class="filterCases-dropBlock__titleRowText">
                                    Department
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="filterCases-dropBlock__titleRowText">
                                    Location
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="filterCases-dropBlock__titleRowText">
                                    Reporter type
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="filterCases-dropBlock__titleRowText">
                                    Incident type
                                </div>
                            </div>
                        </div>
                        <div class="filterCases-dropBlock__contentRow row clearfix">

                            <div class="col-3 filterCases-dropBlock__contentCol">
                                <ul class="case-DropDownList black" ng-repeat="department in MenuCases.DepartmentsList">
                                    <li class="case-DropDownList-li clearfix checked" ng-click="selectedItemClick($event, department.id, 'department')">
                                        <input type="hidden" value="{{department.Item2}}" />
                                        <div class="case-DropDownList-li__icon"></div>
                                        <div class="case-DropDownList-li__text">
                                            {{department.department_en}}
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- / .col-3 filterCases-dropBlock__contentCol -->

                            <div class="col-3 filterCases-dropBlock__contentCol">
                                <ul class="case-DropDownList black" ng-repeat="location in MenuCases.LocationsList">
                                    <!--this is location-->
                                    <li class="case-DropDownList-li clearfix checked" ng-click="selectedItemClick($event, location.id, 'location')">
                                        <input type="hidden" value="{{location.id}}" />
                                        <div class="case-DropDownList-li__icon"></div>
                                        <div class="case-DropDownList-li__text">
                                            {{location.location_en}}
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- / .col-3 filterCases-dropBlock__contentCol -->

                            <div class="col-3 filterCases-dropBlock__contentCol">
                                <ul class="case-DropDownList black" ng-repeat="incident in MenuCases.RelationTypesList">
                                    <li class="case-DropDownList-li clearfix checked" ng-click="selectedItemClick($event, incident.id, 'incident_type')">
                                        <input type="hidden" value="{{incident.id}}" />
                                        <div class="case-DropDownList-li__icon"></div>
                                        <div class="case-DropDownList-li__text">
                                            {{incident.relationship_en}}
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- / .col-3 filterCases-dropBlock__contentCol -->

                            <div class="col-3 filterCases-dropBlock__contentCol">
                                <ul class="case-DropDownList black" ng-repeat="reporter in MenuCases.SecondaryTypesList">
                                    <li class="case-DropDownList-li clearfix checked" ng-click="selectedItemClick($event, reporter.id, 'reporter_type')">
                                        <input type="hidden" value="{{reporter.id}}" />
                                        <div class="case-DropDownList-li__icon"></div>
                                        <div class="case-DropDownList-li__text">
                                            {{reporter.secondary_type_en}}
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- / .col-3 filterCases-dropBlock__contentCol -->


                        </div>
                    </div>
                    <!--dropdown menu end-->
                </div>

                <!--print all graphs-->
                <div class="case-TotalHeader__items filterCases  clearfix" ng-click="printGraphs(['#mainTab-Cases .fluidTitle', '#mainTab-Cases .container.cases-TotalStatistics','#dashboard'], 'Print Page')">
                    <!-- activated -->
                    <div class="case-DropDownList-titleNotClick clearfix">
                        <div class="case-DropDownList-title__text clearfix">Print Page</div>
                        @*<div class="case-DropDownList-title__arrow clearfix"></div>*@
                    </div>
                </div>
                <!--end orint all graphs-->
            </div><!-- /.cases-TotalHeader -->


        </div><!-- mainNavigationTabs__tabContent -->
        <div class="container" id="dashboard">
            <div class="case-MainContent1 container" style="background-color: #fff;">
                <div class="case-MainContent-Header clearfix">
                    <div class="case-MainContent-Header__left clearfix">
                        <div class="case-MainContent-Header__leftTitle">
                            Cases
                        </div>
                    </div>
                    <div class="case-MainContent-Header__right clearfix">
                        <div class="case-MainContent-HeaderLinks clearfix" ng-click="printGraphs('printCases', 'Cases')" style="cursor: pointer">
                            <div class="case-MainContent-HeaderLinks__item expertLink clearfix">
                                <div class="case-MainContent-HeaderLinks__itemIcon"></div>
                                <div class="case-MainContent-HeaderLinks__itemText">
                                    @*Export PDF*@
                                    Print
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-MainContent-main" id="printCases" style="display: flex">
                    <div class="center widthForPrint">
                        <nvd3 id="containerDepartments" options="containerDepartments" data="DepartmentsData" api="apiDeparments"></nvd3>
                        <div class="caseNofound" style="position: relative" ng-show="containerDepartmentsValues">
                            <div class="caseNofound__title">
                                Departments
                            </div>
                            <div class="caseNofound__def">
                                No cases found
                            </div>
                        </div>

                        <div class="RootCauseAnalysis-roudChart ng-scope clearfix" ng-repeat="item in DepartmentsData">
                            <div class="col-8 p-0">
                                <div class="ng-binding RootCauseAnalysis-roudChart__title" style="margin-bottom: 10px; padding-left: 10px; border-left: solid 10px {{chartColors[$index]}}">
                                    {{item.name}}
                                </div>
                            </div>
                            <div class="col-2 RootCauseAnalysis-roudChart__count disablePaddingRight">
                                {{item.val}}
                            </div>
                            <div class="col-2 RootCauseAnalysis-roudChart__count disablePaddingRight">
                                <spam class="percentage">{{item.percentage}}%</spam>
                            </div>
                        </div>
                    </div>
                    <div class="center widthForPrint">
                        <nvd3 id="containerLocation" options="containerLocation" data="LocationData" api="apiLocation"></nvd3>

                        <div class="caseNofound" style="position: relative;" ng-show="locationDataValues">
                            <div class="caseNofound__title">
                                Location
                            </div>
                            <div class="caseNofound__def">
                                No cases found
                            </div>
                        </div>
                        <div class="RootCauseAnalysis-roudChart ng-scope clearfix" ng-repeat="item in LocationData">
                            <div class="col-8 p-0">
                                <div class="ng-binding RootCauseAnalysis-roudChart__title" style="margin-bottom: 10px; padding-left: 10px; border-left: solid 10px {{chartColors[$index]}}">
                                    {{item.name}}
                                </div>
                            </div>
                            <div class="col-2 RootCauseAnalysis-roudChart__count disablePaddingRight">
                                {{item.val}}
                            </div>
                            <div class="col-2 RootCauseAnalysis-roudChart__count disablePaddingRight">
                                <spam class="percentage">{{item.percentage}}%</spam>
                            </div>
                        </div>

                    </div>
                    <div class="center widthForPrint">
                        <nvd3 id="containerTypesOfReporter" options="containerTypesOfReporter" data="TypesOfReporterData" api="apiTypeOfReporter"></nvd3>

                        <div class="caseNofound" style="position: relative;" ng-show="typesOfReporterDataValues">
                            <div class="caseNofound__title">
                                Type of reporter
                            </div>
                            <div class="caseNofound__def">
                                No cases found
                            </div>
                        </div>
                        <div class="RootCauseAnalysis-roudChart ng-scope clearfix" ng-repeat="item in TypesOfReporterData">
                            <div class="col-8 p-0">
                                <div class="ng-binding RootCauseAnalysis-roudChart__title" style="margin-bottom: 10px; padding-left: 10px; border-left: solid 10px {{chartColors[$index]}}">
                                    {{item.name}}
                                </div>
                            </div>
                            <div class="col-2 RootCauseAnalysis-roudChart__count disablePaddingRight">
                                {{item.val}}
                            </div>
                            <div class="col-2 RootCauseAnalysis-roudChart__count disablePaddingRight">
                                <spam class="percentage">{{item.percentage}}%</spam>
                            </div>
                        </div>
                    </div>
                    <div class="center widthForPrint">
                        <nvd3 id="containerTypesOfIncident" options="containerTypesOfIncident" data="TypesOfIncidentData" api="apiTypesOfIncident"></nvd3>

                        <div class="caseNofound" style="position: relative;" ng-show="typesOfIncidentDataValues">

                            <div class="caseNofound__title">
                                Type of incident
                            </div>
                            <div class="caseNofound__def">
                                No cases found
                            </div>
                        </div>
                        <div class="RootCauseAnalysis-roudChart ng-scope clearfix" ng-repeat="item in TypesOfIncidentData">
                            <div class="col-8 p-0">
                                <div class="ng-binding RootCauseAnalysis-roudChart__title" style="margin-bottom: 10px; padding-left: 10px; border-left: solid 10px {{chartColors[$index]}}">
                                    {{item.name}}
                                </div>
                            </div>
                            <div class="col-2 RootCauseAnalysis-roudChart__count disablePaddingRight">
                                {{item.val}}
                            </div>
                            <div class="col-2 RootCauseAnalysis-roudChart__count disablePaddingRight">
                                <spam class="percentage">{{item.percentage}}%</spam>
                            </div>
                        </div>

                    </div>
                </div><!--end case-MainContent-main-->
                
            </div>

            <div class="case-MainContent container" ng-controller="CaseManagamentTime" id="printResponseTime">

                <div class="case-MainContent-Header clearfix">
                    <div class="case-MainContent-hr"></div>
                    <div class="case-MainContent-Header__left clearfix" style="padding-top: 24px">
                        <div class="case-MainContent-Header__leftTitle">
                            Case Management Turnaround Time
                        </div>
                    </div>
                    <div class="case-MainContent-Header__right clearfix" style="padding-top: 24px;">
                        <div class="case-MainContent-HeaderLinks clearfix" ng-click="printGraphs('printResponseTime', 'Cases Management Turnaround Time')" style="cursor: pointer">
                            <div class="case-MainContent-HeaderLinks__item expertLink clearfix">
                                <div class="case-MainContent-HeaderLinks__itemIcon"></div>
                                <div class="case-MainContent-HeaderLinks__itemText">
                                    @*Export PDF*@
                                    Print
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="fluidTitle">
                    <strong>
                        Response Time Settings by Stage
                    </strong>
                </div>
                <div class="case-MainContent-main ng-scope">
                    <div id="responseTime"></div>
                </div>
                <div class="case-MainContent-main ng-scope">
                    <div id="bar"></div>
                </div>
                <div class="fluidTitle">
                    <strong>
                        Number of Cases That Exceeded Turnaround Time
                    </strong>
                </div>

                <div class="container cases-TotalStatistics">
                    <div class="row clearfix">
                        <div class="col-3" ng-repeat="snapShot in turnaroundTime">
                            <div class="cases-TotalStatistics__numberOfCases">
                                <strong>{{snapShot.numberOfCases}}</strong>
                            </div>
                            <div class="cases-TotalStatistics__titleColored clearfix">
                                <div class="cases-TotalStatistics__titleColored-color color-CasesSpam" style="background-color: {{snapShot.miniSquareColor}};"></div>
                                <div class="cases-TotalStatistics__titleColored-text">{{snapShot.titleHeaderLegend}}</div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container cases-TotalStatistics -->

            </div>
        </div>
        <script>
            $(document).ready(function () {
                //Filter case


                // check items
                $(".case-DropDownList>.case-DropDownList-li").click(function () {
                    $(this).toggleClass("checked");
                });

                // Radio check
                $(".case-DropDownListRadio>.case-DropDownListRadio-li").click(function () {
                    $(".case-DropDownListRadio>.case-DropDownListRadio-li").removeClass("checked");
                    $(this).addClass("checked");
                });


                // Toggle block

                $(document).click(function (event) {
                    $target = $(event.target);
                    if (!$target.closest(".case-TotalHeader__items").length &&
                        $(".case-DropDownList-contentBlock").is(":visible")) {
                        $(".case-DropDownList-contentBlock").hide("fast");
                        $(".case-DropDownList-contentBlock").parent(".case-TotalHeader__items").removeClass("selected");
                    }
                });
                $(".case-DropDownList-title").click(function () {

                    $(".case-DropDownList-title").not(this).next(".case-DropDownList-contentBlock").hide("fast");
                    $(".case-DropDownList-title").not(this).parent(".case-TotalHeader__items").removeClass("selected");

                    $(this).next(".case-DropDownList-contentBlock").toggle("fast");
                    $(this).parent(".case-TotalHeader__items").toggleClass("selected");
                });


            });
        </script>


    </div>

</div>

<script src="~/Scripts/ajaxDashobardAnalitics.js"></script>
