@using EC.Models;
@using EC.Models.ECModel;
@using EC.Models.Database;
@using System.Data;
@using EC.App_LocalResources;

@{
    ViewBag.Title = "Clery Act Crime Statistics Report";
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    int user_id = (Int32)ViewBag.user_id;
    int companyId = ViewBag.um._user.company_id;
}

<link rel="stylesheet" href="~/Content/styleAnalitics.css" />

<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/jquery.daterangepicker.min.js"></script>
<link rel="stylesheet" href="~/Libs/nvd3/build/nv.d3.min.css">

<link href="~/Content/daterangepickerAnalit.css" rel="stylesheet" />

<style>
    h2, h3 {
        color: black;
    }
</style>

<div class="blockSettings blockAnalitics" ng-controller="AnalyticsRootCauseAnalysisController">
    @Html.Partial("~/Views/Analytics/AnalyticsMenu.cshtml")

    <div class="dropDownMenuPadding">
        <table class="dropDownMenu">
            <tbody>
                <tr>
                    <td>
                        <div class="parentClass">
                            <div class="menuItem">
                                <div class="positionText">
                                    <span class="dropMenuText">{{secondaryType.secondary_type_en}}</span>
                                    <img src="~/Content/img/arrowSelect.png" />
                                </div>
                                <ul class="menuUl" ng-show="secondaryTypes.length > 0">
                                    <li ng-repeat="item in secondaryTypes">
                                        <div class="liItem" value="{{item.id}}" nameDropdown="ReportsDepartmentIDStringss">
                                            <span class="positionText liText" ng-click="selectSecondaryTypes(item)">
                                                <div class="checked">
                                                    <img class="" src="~/Content/img/check.png" />
                                                </div>
                                                {{item.secondary_type_en}}
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="borderAnalit">
        <table>
            <tr>
                <td>
                    <nvd3 id="chart1" options="chart1" data="chartData1" api="api1"></nvd3>
                </td>
                <td>
                    <nvd3 options="chart2" data="chartData2" api="api2"></nvd3>                    
                </td>
                <td>
                    <nvd3 options="chart3" data="chartData3" api="api3"></nvd3>                    
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Behavioral Factors</h2>
                    <div ng-repeat="item in chartData1">
                        <h3 style="padding-left: 10px; border-left: solid 5px {{chartColors[$index]}} ">{{item.name}} {{item.count}}</h3>
                    </div>
                </td>
                <td>
                    <h2>External Influences</h2>
                    <div ng-repeat="item in chartData2">
                        <h3 style="padding-left: 10px; border-left: solid 5px {{chartColors[$index]}} ">{{item.name}} {{item.count}}</h3>
                    </div>
                </td>
                <td>
                    <h2>Organizational Influences</h2>
                    <div ng-repeat="item in chartData3">
                        <h3 style="padding-left: 10px; border-left: solid 5px {{chartColors[$index]}} ">{{item.name}} {{item.count}}</h3>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>