
@{
  ViewBag.Title = "Welcome";
  string quickView = "0";
  if (ViewBag.quickView != null && ViewBag.quickView)
  {
    quickView = "1";
  }
  string viewVideo = "View video demo";
  if (quickView == "1")
  {
    viewVideo = "Get Pricing";
  }

  string welcome1 = "Welcome. You’ve received an invitation code";
  string welcome2 = "This means you have access to special pricing";
  string invitation_code = "Invitation Code";
 

  if (ViewBag.preReg != null && ViewBag.preReg)
  {
    welcome1 = "Welcome. Thank you for your purchase.";
    welcome2 = "We look forward to helping you build a safe, compliant and ethical workplace";
    invitation_code = "Purchase confirmation code";
    viewVideo = "Register License";
  }

}

<div class="general-container welcomePage">

    <header class="header">
        <div class="top-headerBg">
            <div class="container">
                <div class="top-header">
                    <a href="http://campusconfidential.com" class="top-header__campusLink">
                        <span class="top-header__campusLink-text">
                            Campus Confidential
                        </span>
                        <img src="~/Content/images/svg-icons/upper-right.svg" alt="" />
                    </a>
                    <div class="top-header__loginBar">
                        <nav class="top-header__loginBar-nav">
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Login" class="top-header__loginBar-a">
                                    Client Login
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Report" class="top-header__loginBar-a">
                                    File a Report
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="top-header__loginBar-a">
                                    Check Report Status
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                        </nav><!-- /.top-header__loginBar-nav -->
                    </div><!-- /.top-header__loginBar -->
                </div><!-- /.top-header -->
            </div>
        </div>
        <div class="main-headerBg ">
            <div class="container">
                <div class="main-header">
                    <a href="/" class="main-headerLogo">
                        <div class="main-headerLogo__img">
                            <img src="~/Content/images/0-main-logo.png" alt="" />
                        </div><!-- /.main-headerLogo__img -->
                        <div class="main-headerLogo__text">
                            Reduce risk. Create trust.
                        </div><!-- /.main-headerLogo__text -->
                    </a><!-- /.main-headerLogo -->
                    <div class="main-headerMenu-mobile">
                        <a href="/" class="main-headerLogo-mobile">
                            <div class="main-headerLogo__img-mobile">
                                <img src="~/Content/images/0-main-logo.png" alt="" />
                            </div><!-- /.main-headerLogo__img -->
                            <div class="main-headerLogo__text-mobile">
                                Reduce risk. Create trust.
                            </div><!-- /.main-headerLogo__text -->
                        </a><!-- /.main-headerLogo -->
                        <a href="#" class="main-headerLogo-mobile-burgerBtn">
                            <img src="~/Content/images/svg-icons/burger.svg" alt="" />
                        </a>
                    </div><!-- /.main-headerMenu-mobile -->
                    <div class="main-headerMenu">
                        <nav class="main-headerMenu__nav">
                            <li class="main-headerMenu__li">
                                <a href="/#benefitsSection" class="main-headerMenu__a">
                                    Benefits
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#gridSection" class="main-headerMenu__a">
                                    Incident Reporting
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#menegementSection" class="main-headerMenu__a">
                                    Case Management
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="about.html" data-scroll-to="" class="main-headerMenu__a">
                                    About
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#contactSection" class="main-headerMenu__a">
                                    Contact
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                        </nav><!-- /.main-headerMenu__nav -->
                    </div><!-- /.main-headerMenu -->
                </div><!-- /.main-header -->
            </div><!-- /.container -->
        </div><!-- /.main-headerBg -->
    </header><!-- /.header -->
    <main class="main">
        <section class="welcomeTitleSection">
            <div class="container">
                <div class="welcomeTitle">
                    @welcome1
                </div>
                <div class="welcomeSubTitle">
                    @welcome2
                </div>
            </div>
        </section>
        <section class="welcomeFormSection">
            <div class="container overFlowVisible">
                <div class="form-conteiner welcomeForm-container">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
                    {
                        <div class="form-titleBlock">
                            <div class="form-titleBlock__title">
                                Let's get started
                            </div>
                            <div class="form-titleBlock__subTitle">
                                Tell us a bit more about yourself
                            </div>
                        </div>
                        <div class="form-mainContent">
                            <label class="form-mainContent__label">
                                First name*
                                <input type="text" class="form-mainContent__labelInput" name="FirstName">
                            </label>
                            <label class="form-mainContent__label">
                                Last name*
                                <input type="text" class="form-mainContent__labelInput" name="LastName">
                            </label>
                            <label class="form-mainContent__label">
                                Company name*
                                <input type="text" class="form-mainContent__labelInput" name="CompanyName">
                            </label>
                            <label class="form-mainContent__label">
                                Phone*
                                <input type="text" class="form-mainContent__labelInput" name="Phone">
                            </label>
                            <label class="form-mainContent__label">
                                Email*
                                <input type="email" class="form-mainContent__labelInput" name="Email" required>
                            </label>
                            <label class="form-mainContent__label">
                                Number of employees*
                                <input type="number" class="form-mainContent__labelInput" name="NumberOfEmployees" value="1">
                            </label>
                            <label class="form-mainContent__label">
                                @invitation_code
                                <input type="text" class="form-mainContent__labelInput" name="InvitationCode">
                            </label>

                        </div>
                        <input  type="hidden" type="number" name="QuickView" value="@quickView">
                        <div class="form-footer ">
                            <button class="submitFormBtn btn" type="submit">
                                @viewVideo
                            </button>
                        </div>
                    }
                </div>
            </div>
        </section>


    </main><!-- /.main -->
    @{Html.RenderPartial("footer");}

</div><!-- /.general-container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Content/libs/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>
<script src="~/Content/js/common.js"></script>
<script src="~/Scripts/emailvalidation.js"></script>

<script>
    $(document).ready(function () {
        var tech = getUrlParameter('code');
        $('[name=InvitationCode]').val(tech);
    });
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };
    $(function () {
        $('form').on('submit', function (event) {
            event.preventDefault();
            var array = ['FirstName', 'LastName', 'CompanyName', 'Phone', 'Email', 'NumberOfEmployees', 'QuickView'];
            var flag = 0;
            array.forEach(function (item, i, arr) {
                var temp = $('[name="' + item + '"]');
                if (temp.val() == "") {
                    temp.parent().css('border', '2px solid red');
                    flag--;

                } else {
                    if (item == 'Email') {
                        if (validateEmail(temp.val())) {
                            flag++;
                        } else {
                            temp.parent().css('border', '2px solid red');
                        }
                    } else {
                        flag++;
                    }

                }

                temp.on('change', function () {
                    temp.parent().css('border', '2px solid transparent');
                    temp.parent().css('border', '2px solid  #ced7d8');
                    temp.unbind();
                    flag++;
                });
            });
            if (flag == array.length) {
                event.target.submit();
            }
        });
    });
</script>