
@{
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    ViewBag.Title = "Trainer Company";
}

<style>
    .fc-center h2 {
        color: black;
    }
</style>

<div class="container">
    <div ng-controller="TrainerCompanyController" ng-cloak>
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendarOne">

        </div>
    </div>
</div>