
@{
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    ViewBag.Title = "Trainer Company";
}

<style>
    .fc-center h2 {
        color: black;
    }
</style>

<span class="right fontSize16">
    <span class="OpenSansRegular greyText upperCase"></span>
    <span class="OpenSansBold">
        <span class="redText upperCase" id="totalTime"></span>
    </span>
</span>


<div class="container">
    <div ng-controller="TrainerCompanyController" ng-cloak>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><b>{{onboardingsRemaining}}</b></p>
            </div>
        </div>
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendarOne">

        </div>
    </div>
</div>