<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title - Employee Confidential</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <script>
        var head = document.getElementsByTagName('head')[0];

        function checkBrowserForAngualr() {
            var isIE = false || !!document.documentMode;
            var isEdge = !isIE && !!window.StyleMedia;
            if (isIE || isEdge) {
                return false;
            } else {
                return true;
            }
        }
        function loadAngular() {
            var js = document.createElement("script");
            js.type = "text/javascript";
            js.src = '/Libs/angular/angular.min.js';
            head.appendChild(js);
        }
        if (checkBrowserForAngualr()) {
            console.log('try load angular');
            loadAngular();
        }
    </script>
    <script src="~/Scripts/lib/jquery.min.js"></script>
    @RenderSection("pageStyles", required: false)
    <!--<link rel="stylesheet" type="text/css" href="~/Content/main.min.css" />-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54295621-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script>
        if (checkBrowserForAngualr()) {
            var array = [
                '/Libs/angular-http/angular-http.js',
                '/Libs/angular-resource/angular-resource.min.js',
                '/Libs/angular-animate/angular-animate.min.js',
                '/Libs/angular-sanitize/angular-sanitize.min.js',
                '/Libs/angular-nvd3/dist/angular-nvd3.min.js',
                '/Libs/ng-file-upload/ng-file-upload.min.js',
                '/Libs/angular-ui-calendar/src/calendar.js'
            ];
            function loadOther() {
                try {
                    array.forEach(function (element) {
                        var js = document.createElement("script");
                        js.type = "text/javascript";
                        js.src = element;
                        head.appendChild(js);
                    });
                } catch (error) {
                    setTimeout(2000);
                }
            }
            if (typeof angular !== 'undefined') {
                loadOther();
            } else {
                setTimeout(function () {
                    if (typeof angular !== 'undefined') {
                        loadOther();
                    }
                }, 4000);
                
            }
        }
    </script>
</head>
<body ng-app="EC">
<div class="fullContainer">
    @RenderBody()
</div>

    <div class="footer" style="height:150px">
        
    </div>
@RenderSection("pageScripts", required: false)
</body>


</html>
