@using EC.Localization;
@{
  bool? is_cc = ViewBag.is_cc;
  if (!is_cc.HasValue)
  {
    is_cc = false;
  }
  var report_id = (Int32)ViewBag.report_id;
  EC.Models.ReportModel rm = new EC.Models.ReportModel(report_id);
  string style = "background-color: #" + rm.ColorCode();
  var user_id = (Int32)ViewBag.user_id;
  string report_string = string.Format(LocalizationGetter.GetString("ReportPreviewNotification_noDate", is_cc.Value), rm.Get_reporter_name(user_id), rm.SecondaryTypeString(), rm.LocationString(is_cc.Value));
}
<a href="/newReport/@report_id">
    <div class="newReport" style="@style">
        <div>@LocalizationGetter.GetString("Newreport", is_cc): #@rm._report.display_name</div>
        <div class="content">@Html.Raw(report_string)</div>
        <div id="iconLeft"></div>
    </div>
</a>