
@{
    ViewBag.Title = "HelpPartial";
    Layout = null;
    string helpUrl = "https://employeeconfidential.freshdesk.com/support/home";
    if (EC.Common.Util.DomainUtil.IsCC(this.Request.Url.AbsoluteUri.ToLower()))
    {
        helpUrl = "https://campusconfidential.freshdesk.com/support/home";
    }
}

<a href="@(ViewBag.is_reporter == true ? helpUrl : Url.Action("FreshDeskSSO", "Service"))" target="_blank" class="helpIcon" style="bottom:  4%; right: calc( 0% + 55px / 2); position: fixed; z-index: 1;">
    <div class="helpIcon__image" style="width: 16px; height: 16px; background-image: url('/Content/Icons/help_icon.png'); background-repeat: no-repeat; float: left;">
    </div>
    <div class="helpIcon__text" style="float: left; padding-left: 10px; font-family: 'OpenSans-Regular', arial, verdana, sans-serif; font-size: 14px; color: rgb(60, 62, 63);">
        Help
    </div>
</a>

