
@{
    ViewBag.Title = "HelpPartial";
    Layout = null;
}

<a href="@(ViewBag.is_reporter == true ? "https://google.com" : "https://yahoo.com")" class="helpIcon" style="bottom:  4%; right: calc( 0% + 55px / 2); position: fixed; z-index: 1;">
    <div class="helpIcon__image" style="width: 16px; height: 16px; background-image: url('http://stark.employeeconfidential.com/content/icons/help_icon.png'); background-repeat: no-repeat; float: left;">
    </div>
    <div class="helpIcon__text" style="float: left; padding-left: 10px; font-family: 'OpenSans-Regular', arial, verdana, sans-serif; font-size: 14px; color: rgb(60, 62, 63);">
        Help
    </div>
</a>

